<div data-ng-controller="GiaiPhongMatBang as vm" class="animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles d-print-none">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                    <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <!-- <a class="btn waves-effect waves-light btn-info pull-right" href="#/khoiluongdutoan/them/sua?action=edit">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a> -->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
    
            <!-- <div style="width:100%" ng-hide="vm.DsVanBan">
                <div class="place-holder-background"> </div>
                <div class="place-holder-background"> </div>
                <div class="place-holder-background"> </div>
                <div class="place-holder-background"> </div>
                <div class="place-holder-background"> </div>
            </div> -->
    
            <div class="card col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" data-target="#khaosat" role="tab">
                        Văn bản pháp lý
                    </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#thietkedutoan" role="tab">
                            Thiết kế - Dự toán
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#hosothietkethamtra" role="tab">
                            Hồ sơ thiết kế - Thẩm tra
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#dieuchinhthietke" role="tab">
                            Điều chỉnh thiết kế - Xử lý kỹ thuật
                        </a>
                    </li> -->
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="khaosat" role="tabpanel">
                        <div class="card-body p-0">
    
                            <a data-toggle="collapse" data-target="#QDPDPATT"aria-expanded="false" aria-controls="QDPDPATT">
                                <h5 class="font-medium m-t-30">
                                    <i class="ti-folder"></i> Quyết định phê duyệt phương án tổng thể
                                </h5>
                            </a>
                            
                            <div class="table-responsive" id="QDPDPATT">
                                <table class="table table-bordered table-sm" ng-if="vm.DsVanBan['Quyết định phê duyệt phương án tổng thể GPMB']">
                                    <thead>
                                        <tr>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Tên hạng mục</th>
                                            <th>Số QĐ phê duyệt</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Quyết định phê duyệt phương án tổng thể GPMB']">
                                        <tr>
                                            <td>
                                                <a href="#/hosovanban/{{::item.Id}}/xem">
                                                    <i class="ti-file"></i> <strong ng-bind="::item.Title"></strong>
                                                </a>
                                            </td>
                                            <td data-ng-bind="::item.HangMucCongTrinh.Title"></td>
                                            
                                            <td><strong ng-bind="::item.SoHieuVanBan"></strong></td>
                                            <td><span ng-bind="::item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.ToChucPhatHanh.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <a data-toggle="collapse" data-target="#QDTHD"aria-expanded="false" aria-controls="QDTHD">
                                <h5 class="font-medium m-t-30">
                                    <i class="ti-folder"></i> Quyết định thu hồi đất
                                </h5>
                            </a>
                            
                            <div class="table-responsive" id="QDTHD">
                                <table class="table table-bordered table-sm" ng-if="vm.DsVanBan['Quyết định thu hồi đất']">
                                    <thead>
                                        <tr>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Tên hạng mục</th>
                                            <th>Số QĐ phê duyệt</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Quyết định thu hồi đất']">
                                        <tr>
                                            <td>
                                                <a href="#/hosovanban/{{::item.Id}}/xem">
                                                    <i class="ti-file"></i> <strong ng-bind="::item.Title"></strong>
                                                </a>
                                            </td>
                                            <td data-ng-bind="::item.HangMucCongTrinh.Title"></td>
                                            
                                            <td><strong ng-bind="::item.SoHieuVanBan"></strong></td>
                                            <td><span ng-bind="::item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.ToChucPhatHanh.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <a data-toggle="collapse" data-target="#QDPDPACT"aria-expanded="false" aria-controls="QDPDPACT">
                                <h5 class="font-medium m-t-30">
                                    <i class="ti-folder"></i> Quyết định phê duyệt phương án chi tiết
                                </h5>
                            </a>
                            
                            <div class="table-responsive" id="QDPDPACT">
                                <table class="table table-bordered table-sm" ng-if="vm.DsVanBan['Quyết định phê duyệt phương án chi tiết GPMB']">
                                    <thead>
                                        <tr>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Tên hạng mục</th>
                                            <th>Số QĐ phê duyệt</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Quyết định phê duyệt phương án chi tiết GPMB']">
                                        <tr>
                                            <td>
                                                <a href="#/hosovanban/{{::item.Id}}/xem">
                                                    <i class="ti-file"></i> <strong ng-bind="::item.Title"></strong>
                                                </a>
                                            </td>
                                            <td data-ng-bind="::item.HangMucCongTrinh.Title"></td>
                                            
                                            <td><strong ng-bind="::item.SoHieuVanBan"></strong></td>
                                            <td><span ng-bind="::item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.ToChucPhatHanh.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
    
    
    
    
                        </div>
                    </div>
                    <!--second tab-->
                    <div class="tab-pane" id="thietkedutoan" role="tabpanel">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 b-r">
                                    <strong>Chủ nhiệm khảo sát</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctKhaoSatThietKe.ChuNhiemKhaoSat.Title"></p>
                                </div>
                                <div class="col-md-4 col-xs-6 b-r">
                                    <strong>Chủ nhiệm đồ ắn thiết kế</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctKhaoSatThietKe.ChuNhiemDoAnTK.Title"></p>
                                </div>
                                <div class="col-md-4 col-xs-6 b-r">
                                    <strong>Tổ chức khảo sát</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctKhaoSatThietKe.ToChucKhaoSat.Title"></p>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <strong>Tổ chức tư vấn thiết kế thiết kế</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctKhaoSatThietKe.ToChucTuVanTK.Title"></p>
                                </div>
                                <div class="col-md-4 col-xs-6 b-r">
                                    <strong>Tổ chức thẩm định thiết kế</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctKhaoSatThietKe.ToChucThamDinhTK.Title"></p>
                                </div>
                                
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Nội dung quy mô giải pháp thiết kế</h5>
                                </div>
                                <div class="col-md-12" ng-bind="::vm.ctKhaoSatThietKe.NoiDungQuyMoGiaiPhapTK"></div>
                            </div>
                            <hr>
                            <h5 class="font-medium m-t-30">
                                <i class="ti-folder"></i> Quyết định phê duyệt thiết kế - dự toán
                            </h5>
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Tên hạng mục</th>
                                            <th>Số QĐ phê duyệt</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Quyết định phê duyệt thiết kế - dự toán']">
                                        <tr>
                                            <td>
                                                <a href="#/hosovanban/{{::item.Id}}/xem">
                                                    <i class="ti-file"></i> <strong ng-bind="::item.Title"></strong>
                                                </a>
                                            </td>
                                            <td data-ng-bind="::item.HangMucCongTrinh.Title"></td>
                                            
                                            <td><strong ng-bind="::item.SoHieuVanBan"></strong></td>
                                            <td><span ng-bind="::item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.ToChucPhatHanh.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
    
                        </div>
                    </div>
                    <div class="tab-pane" id="hosothietkethamtra" role="tabpanel">
                        <div class="card-body">
    
    
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Số văn bản</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            <th>Nội dung</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Hoàn thành công trình đưa vào sử dụng']">
                                        <tr>
                                            <td><span ng-bind="item.SoHieuVanBan"></span></td>
                                            <td><span ng-bind="item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="item.ToChucPhatHanh.Title"></span></td>
                                            <td><span ng-bind="item.NoiDung"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                        </div>
                    </div>
                    <div class="tab-pane" id="dieuchinhthietke" role="tabpanel">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tên hạng mục</th>
                                            <th>Ngày xử lý kỹ thuật</th>
                                            <th>Nội dung xử lý</th>
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DieuChinhThietKe">
                                        <tr>
                                            <td><span ng-bind="::item.HangMucCongTrinh.Title"></span></td>
                                            <td><span ng-bind="::item.NgayXuLyKyThuat | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
    
    
        </div>
    
    
    </div>