<div ng-controller="dsKeHoachChonNhaThau as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a ng-href="#/kehoachchonnhathau/them" class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="col-md-4 col-ms-6" data-ng-repeat="item in vm.dsKeHoachChonNhaThau | orderBy:vm.sortColumn:vm.reverse | filter:searchText" ng-init="$last && vm.enabeledTooltips()">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white"> Dự án {{::item.DuAn.Title}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="width: max-content;">
                            <table class="table table-hover stylish-table">
                                
                                <tbody style="font-size: 0.75em;">
                                    <tr>
                                        <td> Tên gói thầu </td>
                                        <td ng-bind="::item.GoiThau.Title"></td>
                                    </tr>

                                    <tr>
                                        <td> Giá dự toán </td>
                                        <td ng-bind="::item.ChiPhi.ChiPhiDuToan | currency:'':0"></td>
                                    </tr>

                                    <tr>
                                        <td> Loại nguồn vốn </td>
                                        <td ng-bind="::item.NguonVon.Title"></td>
                                    </tr>

                                    <tr>
                                        <td> H.Thức chọn N.Thầu </td>
                                        <td ng-bind="::item.HinhThucChonNhaThau.Title"></td>
                                    </tr>

                                    <tr>
                                        <td> P.Thức chọn N.Thầu </td>
                                        <td ng-bind="::item.PhuongThucChonNhaThau.Title"></td>
                                    </tr>

                                    <tr>
                                        <td> Loại hợp đồng </td>
                                        <td ng-bind="::item.LoaiHopDong.Title"></td>
                                    </tr>

                                    <tr>
                                        <td> T.Gian chọn N.Thầu </td>
                                        <td ng-bind="::item.ThoiGianChonNhaThau | currency:'':0 "></td>
                                    </tr>

                                    <tr>
                                        <td> T.Gian thực hiện H.Đ </td>
                                        <td ng-bind="::item.ThoiGianThucHienHopDong | currency:'':0 "></td>
                                    </tr>

                                    <tr>
                                        <td>KQ T.Gian chọn N.Thầu </td>
                                        <td ng-bind="::item.KqThoiGianChonNhaThau | currency:'':0 "></td>
                                    </tr>

                                    <tr>
                                        <td>KQ T.Gian thực hiện H.Đ </td>
                                        <td ng-bind="::item.DuAn.Title"></td>
                                    </tr>

                                    <tr>
                                        <td> Giá dự thầu </td>
                                        <td ng-bind="::item.KqThoiGianThucHienHopDong | currency:'':0 "></td>
                                    </tr>

                                    <tr>
                                        <td> Giá trúng thầu </td>
                                        <td ng-bind="::item.GiaDuThau | currency:'':0"></td>
                                    </tr>

                                    <tr>
                                        <td>Trạng thái</td>
                                        <td>
                                                <select style="font-size: 0.8em;font-weight: bold;" ng-change="vm.CapNhatTrangThai(item);" class="form-control" ng-model="item.TrangThai">
                                                    <option value="Đã thực hiện">Đã thực hiện</option>
                                                    <option value="Chưa đủ điều kiện lập kế hoạch">Chưa đủ điều kiện</option>
                                                    <option value="Không áp dụng chọn nhà thầu">Không áp dụng nhà thầu</option>                                        
                                                </select>
                                            </td>
                                    </tr>
                                </tbody>


                    </div>
                    </div>
        </div>
    </div>

   
 


</div>

