<div ng-controller="themKeHoachChonNhaThau as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">

            <div class="card-body">
                <h3>Thêm kế hoạch chọn nhà thầu</h3>

            <div class="row">         

                <div class="col-md-6">
                        <label>  Dự án</label>
                        <ui-select ng-change="vm.getDsThongTinChiPhiGoiThau(vm.DuAn.Id)"  ng-model="vm.DuAn" theme="selectize">
                                <ui-select-match >{{$select.selected.Title}}</ui-select-match>
                                <ui-select-choices repeat="item in vm.dsDuAn| filter: $select.search">
                                        <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                                </ui-select-choices>
                        </ui-select>   
                    </div>

                <div class="col-md-6">
                    <label>Chọn gói thầu</label>
                    <ui-select ng-model="vm.ChiPhiGoiThau" theme="selectize">
                            <ui-select-match >{{$select.selected.Title}}</ui-select-match>
                            <ui-select-choices repeat="item in vm.dsChiPhiGoiThau | filter: $select.search">
                                    <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                            </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-6">
                    <label>Đối tác</label>
                    <ui-select ng-model="vm.DoiTac" theme="selectize">
                            <ui-select-match >{{$select.selected.Title}}</ui-select-match>
                            <ui-select-choices repeat="item in vm.dsDoiTac | filter: $select.search">
                                    <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                            </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-6">
                    <label>Nguồn vốn</label>
                    <input style="color: black !important; padding-left: 10px;" type="text" class="form-control" ng-value="vm.ChiPhiGoiThau.NguonVon.Title" data-ng-model="vm.NguonVon" disabled/>
                </div>


                <div class="col-md-6">
                    <label>Hình thức chọn nhà thầu</label>
                    <ui-select ng-model="vm.HinhThucChonNhaThau" theme="selectize">
                            <ui-select-match >{{$select.selected.Title}}</ui-select-match>
                            <ui-select-choices repeat="item in vm.dsHinhThucChonNhaThau | filter: $select.search">
                                    <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                            </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-6">
                    <label>Phương thức chọn nhà thầu</label>
                    <ui-select ng-model="vm.PhuongThucChonNhaThau" theme="selectize">
                            <ui-select-match >{{$select.selected.Title}}</ui-select-match>
                            <ui-select-choices repeat="item in vm.dsPhuongThucChonNhaThau | filter: $select.search">
                                    <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                            </ui-select-choices>
                    </ui-select>
                </div>
    
                <div class="col-md-6">
                        <label>Loại hợp đồng</label>
                        <ui-select ng-model="vm.LoaiHopDong" theme="selectize">
                                <ui-select-match >{{$select.selected.Title}}</ui-select-match>
                                <ui-select-choices repeat="item in vm.dsLoaiHopDong | filter: $select.search">
                                        <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                                </ui-select-choices>
                        </ui-select>
                </div>

                <div class="col-md-6">
                    <label>Thời gian chọn nhà thầu</label>
                    <input type="text" cleave="vm.formFormat.number" class="form-control" data-ng-model="vm.ThoiGianChonNhaThau" />
                </div>

                <div class="col-md-6">
                    <label>Thời gian thưc hiện hợp đồng</label>
                    <input type="text" cleave="vm.formFormat.number" class="form-control" data-ng-model="vm.ThoiGianThucHienHopDong" />
                </div>

                <div class="col-md-6">
                    <label>Kết quả thời gian chọn nhà thầu</label>
                    <input type="text" cleave="vm.formFormat.number" class="form-control" data-ng-model="vm.KqThoiGianChonNhaThau" />
                </div>

                <div class="col-md-6">
                    <label>Kết quả thời gian thưc hiện hợp đồng</label>
                    <input type="text" cleave="vm.formFormat.number" class="form-control" data-ng-model="vm.KqThoiGianThucHienHopDong" />
                </div>
        
                <div class="col-md-6">
                    <label>Giá dự thầu</label>
                    <input type="text" cleave="vm.formFormat.number" class="form-control" data-ng-model="vm.GiaDuThau" />
                </div>

                <div class="col-md-6">
                    <label>Giá trúng thầu</label>
                    <input type="text" cleave="vm.formFormat.number" class="form-control" data-ng-model="vm.GiaTrungThau" />
                </div>

                <div class="col-md-6">
                    <label>Trạng thái</label>
                    <select class="form-control" ng-model="vm.TrangThai">
                        <option value="Chưa xác định">Chưa xác định</option>
                        <option value="Đã thực hiện">Đã thực hiện</option>
                        <option value="Chưa đủ điều kiện lập kế hoạch">Chưa đủ điều kiện lập kế hoạch</option>
                        <option value="Không áp dụng chọn nhà thầu">Không áp dụng chọn nhà thầu</option>                                        
                    </select>
                </div>

                <div class="col-md-6">  
                    <br>                 
                    <button ng-click="vm.goSave();">Tạo mới</button>                   
                </div>            
            </div>               
   
            </div>
        </div>
    </div>
    

 


</div>

