﻿<!-- Sidebar navigation-->
    <ul id="sidebarnav"  data-ng-controller="quicklaunch as vm">
        <li data-ng-repeat="route in vm.navRoutes" data-ng-class="{active: vm.isCurrent(route)}">
          <a class="waves-effect waves-dark" href="#{{route.url}}" aria-expanded="false" data-ng-class="{active:vm.isCurrent(route)}">
            <i class="material-icons" ng-bind="route.config.settings.icon"></i>
            <span class="hide-menu" ng-bind="route.config.settings.content"></span>
          </a>
        </li>
        <!-- <li class="nav-small-cap">Quản lý khác</li>
        
        <li class="nav-small-cap">PERSONAL</li> -->
        <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
          <i class="material-icons">settings_applications</i>
          <span class="hide-menu">Quản lý khác </span></a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=nhomduan" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Nhóm dự án</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=loaicongtrinh" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Loại công trình</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=capcongtrinh" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Cấp công trình</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=loaidoitac" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Loại đối tác</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=tinhthanh" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Tỉnh thành</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=doitac" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Đối tác</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=nhomvanban" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Nhóm văn bản</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=loaivanban" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Loại văn bản</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=hangmuccongtrinh" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Hạng mục công trình</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=phongban" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Phòng ban</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=loaivon" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Loại vốn</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=nguonvon" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Nguồn vốn</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=loaichiphi" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Loại chi phí</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=loaicongviec" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Loại công việc</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=chucvu" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Chức vụ</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=hocvan" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Học vấn</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=bophan" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Bộ phận</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=goithau" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Gói thầu</span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=phanloaihopdong" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Phân loại hợp đồng</span>
                    </a>
                  </li>
            </ul>
        </li>
        <!-- <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
          <i class="material-icons">view_list</i>
          <span class="hide-menu">Cấu hình dự án </span></a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="waves-effect waves-dark" href="#/generalctrl?mod=loaichiphiduan" aria-expanded="false">
                      <i class="material-icons">view_list</i>
                      <span class="hide-menu">Loại chi phí</span>
                    </a>
                  </li>
            </ul>
        </li> -->
    </ul>
<!-- End Sidebar navigation -->

<!-- <div class="ms-core-navigation" role="navigation">
  <a id="startNavigation" name="startNavigation"></a>
  <div class="ms-core-sideNavBox-removeLeftMargin">
    <div class="noindex ms-core-listMenu-verticalBox">
      <ul class="noindex ms-core-listMenu-root static">
        <li class="static" data-ng-repeat="route in vm.navRoutes" data-ng-class="{selected: vm.isCurrent(route)}">
          <a href="#{{route.url}}"
              data-ng-bind-html="route.config.settings.content"
              class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode"
              data-ng-class="{selected:vm.isCurrent(route), 'ms-core-listMenu-selected':vm.isCurrent(route)}"></a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
