<div data-ng-controller="ctChiPhi as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/chiphi/them/sua?action=edit">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctChiPhi">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctChiPhi" class="animated fadeIn">

                        <div class="form-group">
                            <label>Dự án <span class="text-danger" ng-hide="vm.ctChiPhi.DuAnId">*</span></label>
                            <ui-select ng-model="vm.ctChiPhi.DuAnId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.DuAn | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Loại chi phí <span class="text-danger" ng-hide="vm.ctChiPhi.LoaiChiPhiId">*</span></label>
                            <ui-select ng-model="vm.ctChiPhi.LoaiChiPhiId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.LoaiChiPhi | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Gói thầu <span class="text-danger" ng-hide="vm.ctChiPhi.GoiThauId">*</span></label>
                            <ui-select ng-model="vm.ctChiPhi.GoiThauId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong>
                                    <div style="display:none">
                                            {{vm.ctChiPhi.HangMucCongTrinhId = $select.selected.HangMucCongTrinhId}}
                                        </div>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.GoiThau | propsFilter:{Title: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Nguồn vốn <span class="text-danger" ng-hide="vm.ctChiPhi.NguonVonId">*</span></label>
                            <ui-select ng-model="vm.ctChiPhi.NguonVonId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.NguonVon | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label> Tên chi phí dự toán <span class="text-danger" ng-hide="vm.ctChiPhi.Title">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChiPhi.Title" placeholder="Nhập tiêu đề văn bản...">
                        </div>
                        <div class="form-group">
                            <label>Chi phí dự án</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.ChiPhiDuAn" ng-model="vm.ctChiPhi.ChiPhiDuAn">
                        </div>
                        <div class="form-group">
                            <label>Chi phí dự toán</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.ChiPhiDuToan" ng-model="vm.ctChiPhi.ChiPhiDuToan">
                        </div>
                        <div class="form-group">
                            <label>Giá trị hợp đồng điều chỉnh</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.GiaTriHopDongDieuChinh" ng-model="vm.ctChiPhi.GiaTriHopDongDieuChinh">
                        </div>
                        <div class="form-group">
                            <label>Khối lượng thanh toán kế hoạch</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.KLTTKH" ng-model="vm.ctChiPhi.KLTTKH">
                        </div>
                        <div class="form-group">
                            <label>Khối lượng thanh toán thực tế</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.KLTTThucTe" ng-model="vm.ctChiPhi.KLTTThucTe">
                        </div>
                        <div class="form-group">
                            <label>Khối lượng nghiệm thu kế hoạch</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.KLNTKH" ng-model="vm.ctChiPhi.KLNTKH">
                        </div>
                        <div class="form-group">
                            <label>Khối lượng nghiệm thu thực tế</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.KLNTThucTe" ng-model="vm.ctChiPhi.KLNTThucTe">
                        </div>
                        <div class="form-group">
                            <label>Khối lượng thực tế thực hiện</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.KLThucTeThucHien" ng-model="vm.ctChiPhi.KLThucTeThucHien">
                        </div>
                        <div class="form-group">
                            <label>Thanh toán và tạm ứng trong kỳ</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.TTVaTamUng" ng-model="vm.ctChiPhi.TTVaTamUng">
                        </div>
                        <div class="form-group">
                            <label>Tiền chi thanh toán</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.TienChiTT" ng-model="vm.ctChiPhi.TienChiTT">
                        </div>
                        <div class="form-group">
                            <label>Tiền chi tạm ứng</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.TienChiTamUng" ng-model="vm.ctChiPhi.TienChiTamUng">
                        </div>
                        <div class="form-group">
                            <label>Tiền thu thanh toán</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.TienThuTT" ng-model="vm.ctChiPhi.TienThuTT">
                        </div>
                        <div class="form-group">
                            <label>Tiền thu tạm ứng</label>
                            <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                cleave="vm.formFormat.TienThuTamUng" ng-model="vm.ctChiPhi.TienThuTamUng">
                        </div>


                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tập tin đã tải lên</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.ctChiPhi.AttachmentFiles.results">
                                        <td><strong>{{ item.FileName }}</strong></td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Bắt đầu test upload -->
                        <div ng-if="+vm.uploader.queue.length > 0">

                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Tập tin sẽ tải lên</th>
                                        <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End test upload -->
                        <div class="upload-btn-wrapper">
                            <button class="btn btn-outline-info">
                                <i class="ti-cloud-up"></i>
                                Chọn tệp tin tải lên
                            </button>
                            <input type="file" nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                multiple="multiple" />
                            <span ng-if="+vm.uploader.queue.length > 0">
                                Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                            </span>
                        </div>

                        <!-- <div>
                                <div class="form-group animated fadeIn">
                                    <p>Đính kèm tệp tin:</p>
                                    <input nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" class="form-control" type="file" multiple="multiple" />
                                </div>
                            </div> -->


                        <div class="category form-category" ng-hide="m.ctChiPhi.Title">
                            <span class="text-danger">*</span> Bạn chưa điền đủ thông tin
                        </div>
                    </div>



                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctChiPhi.Author.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctChiPhi.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctChiPhi.Editor.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctChiPhi.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctChiPhi.Title"
                                ng-if="vm.flagCanEdit" ladda="vm.btnSave">
                                <span class="btn-label"><i class="material-icons">check</i></span>
                                Lưu
                            </button>
                            <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/chiphi/{{vm.ctChiPhi.Id}}?action=edit">
                                <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                            </a>
                            <button class="btn btn-danger align-middle" type="submit" data-ng-if="vm.showDelBtn && vm.flagCanEdit"
                                ng-click="vm.goDelete()">
                                <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                            </button>
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay
                                lại</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>