<div ng-controller="dsCaNhan as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">

            <div class="card-body  p-0">

                <table class="table table-hover stylish-table">
                    <thead>
                        <tr>
                            <th ng-click="vm.sortData('Ma')">
                                Mã
                                <div ng-class="vm.getSortClass('Ma')"></div>
                            </th>
                            <th ng-click="vm.sortData('Title')">
                                Họ tên
                                <div ng-class="vm.getSortClass('Title')"></div>
                            </th>
                            <th ng-click="vm.sortData('GioiTinh')">
                                Giới tính
                                <div ng-class="vm.getSortClass('GioiTinh')"></div>
                            </th>
                            <th ng-click="vm.sortData('DienThoai')">
                                Liên hệ
                                <div ng-class="vm.getSortClass('DienThoai')"></div>
                            </th>
                            <th ng-click="vm.sortData('PhongBan.Title')">
                                Vị trí
                                <div ng-class="vm.getSortClass('PhongBan.Title')"></div>
                            </th>
                            
                            <th ng-click="vm.sortData('CongTy.Title')">
                                Thuộc công ty
                                <div ng-class="vm.getSortClass('CongTy.Title')"></div>
                            </th>
                            <th ng-click="vm.sortData('HocVan.Title')">
                                Học vấn
                                <div ng-class="vm.getSortClass('HocVan.Title')"></div>
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in vm.dsCaNhan | orderBy:vm.sortColumn:vm.reverse | filter:searchText" ng-init="$last && vm.enabeledTooltips()">
                            <td>
                                <a ng-href="#/canhan/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Ma"></a>
                            </td>
                            <td>
                                <h6>
                                    <a ng-href="#/canhan/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Title"></a>
                                </h6>
                                <small class="text-muted" ng-bind="::item.NgaySinh | date:'dd/MM/y'"></small>
                            </td>
                            <td class="text-center" ng-bind="::item.GioiTinh"></td>
                            <td>
                                <h6 ng-bind="::item.DienThoai"></h6>
                                <small class="text-muted" ng-bind="::item.Email"></small>
                            </td>
                            <td>
                                <h6 ng-bind="::item.ChucVu.Title"></h6>
                                <small class="text-muted" ng-bind="::item.PhongBan.Title"></small>
                            </td>
                            <td ng-bind="::item.CongTy.Title"></td>
                            <td ng-bind="::item.HocVan.Title"></td>
                            <td class="align-middle">
                                <a class="btn btn-info" ng-href="#/canhan/{{::item.Id}}/sua?action=edit" title="Sửa">
                                    <i class="material-icons">edit</i>
                                </a>
                                <button class="btn btn-danger" ng-click="vm.delItem(item)" title="Xóa">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="width:100%" ng-hide="vm.dsCaNhan">
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- .right-sidebar -->
    <div class="right-sidebar" >
        <div class="slimscrollright">
            <div class="rpanel-title">
                Tạo mới
                <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose" aria-hidden="true"></i></span>
            </div>
            <div class="r-panel-body">
                <div class="form-group">
                    <label> Mã cá nhân <span class="text-danger" ng-hide="vm.ctCaNhan.Ma">*</span></label> 
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctCaNhan.Ma"
                        placeholder="Nhập mã văn bản...">
                </div>
                <div class="form-group">
                    <label> Họ và tên <span class="text-danger" ng-hide="vm.ctCaNhan.Title">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctCaNhan.Title" placeholder="Nhập tiêu đề văn bản...">
                </div>
                <div class="form-group">
                    <label>Giới tính</label>
                    <select class="form-control" ng-model="vm.ctCaNhan.GioiTinh">
                        <option value="">-- Chọn --</option>
                        <option>Nam</option>
                        <option>Nữ</option>
                        <option>Khác</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ngày sinh:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayKy.open" ng-click="vm.openCalendar($event, 'pickerNgayKy')"
                            ng-model="vm.ctCaNhan.NgaySinh"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayKy')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label> Số CMND </label>
                    <input type="text" class="form-control" data-ng-model="vm.ctCaNhan.SoCMND" placeholder="Nhập số CMND...">
                </div>
                <div class="form-group">
                    <label>Ngày cấp CMND:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayPhatHanh.open" ng-click="vm.openCalendar($event, 'pickerNgayPhatHanh')"
                            ng-model="vm.ctCaNhan.NgayCap"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayPhatHanh')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nơi cấp</label>
                    <ui-select ng-model="vm.ctCaNhan.NoiCapId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.TinhThanh | propsFilter:{Title: $select.search, KhuVuc: $select.search}" >
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                Khu vực: <span ng-bind-html="item.KhuVuc | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Địa chỉ thường trú </label>
                    <input type="text" class="form-control" data-ng-model="vm.ctCaNhan.DiaChiThuongTru" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Địa chỉ tạm trú </label>
                    <input type="text" class="form-control" data-ng-model="vm.ctCaNhan.DiaChiTamTru" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Điện thoại </label>
                    <input type="text" class="form-control" data-ng-model="vm.ctCaNhan.DienThoai" cleave="vm.formFormat.phone" placeholder="Nhập số điện thoại...">
                </div>
                <div class="form-group">
                    <label> Email</label>
                    <input type="email" class="form-control" data-ng-model="vm.ctCaNhan.Email" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label>Ngày thử việc:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayNop.open" ng-click="vm.openCalendar($event, 'pickerNgayNop')"
                            ng-model="vm.ctCaNhan.NgayThuViec"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayNop')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Ngày tiếp nhận:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayHetHan.open" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')"
                            ng-model="vm.ctCaNhan.NgayTiepNhan"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phòng ban <span class="text-danger" ng-hide="vm.ctCaNhan.PhongBanId">*</span></label>
                    <ui-select ng-model="vm.ctCaNhan.PhongBanId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.PhongBan | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Chức vụ <span class="text-danger" ng-hide="vm.ctCaNhan.ChucVuId">*</span></label>
                    <ui-select ng-model="vm.ctCaNhan.ChucVuId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.ChucVu | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Bộ phận</label>
                    <ui-select ng-model="vm.ctCaNhan.BoPhanId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.BoPhan | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Học vấn</label>
                    <ui-select ng-model="vm.ctCaNhan.HocVanId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.HocVan | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Thuộc công ty</label>
                    <ui-select ng-model="vm.ctCaNhan.CongTyId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Ghi chú </label>
                    <textarea rows="3" class="form-control" data-ng-model="vm.ctCaNhan.GhiChu" placeholder="Nhập thông tin..."></textarea>
                </div>
                <!-- Bắt đầu test upload -->
                <div ng-if="+vm.uploader.queue.length > 0">
        
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Tập tin sẽ tải lên</th>
                                    <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                    <th class="text-center">Gỡ bỏ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td class="text-center"> 
                                        <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End test upload -->
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-outline-info">
                            <i class="ti-cloud-up"></i>
                            Chọn tệp tin tải lên
                        </button>
                        <input type="file" 
                            nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                            multiple="multiple" />
                            <span ng-if="+vm.uploader.queue.length > 0">
                                Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                            </span>
                    </div>
                <div>
                    <p ng-hide="vm.ctCaNhan.Ma && vm.ctCaNhan.Title && vm.ctCaNhan.PhongBanId && vm.ctCaNhan.ChucVuId">
                        <span class="text-danger">*</span>
                        <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary waves-effect waves-light" type="submit" 
                    data-ng-click="vm.createItem();" 
                    data-ng-disabled="!vm.ctCaNhan.Title || !vm.ctCaNhan.Ma || !vm.ctCaNhan.PhongBanId || !vm.ctCaNhan.ChucVuId" ladda="vm.btnSave">
                        Tạo mới
                    </button>
                    <button class="btn btn-default waves-effect waves-light right-side-action-toggle" type="reset">
                        Quay lại
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->



</div>

