<div data-ng-controller="ctCaNhan as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <div class="pull-right">
                    <a class="btn waves-effect waves-light btn-info" href="#/canhan/them/sua?action=edit">
                        <i class="ti-plus"></i>
                        Thêm mới
                    </a>
                    <a class="btn btn-secondary waves-effect waves-light" href="#/canhan">
                        <i class="ti-list"></i> Danh sách cá nhân
                    </a>
                    <a class="btn btn-success waves-effect waves-light" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/canhan/{{::vm.ctCaNhan.Id}}/sua?action=edit">
                        <i class="ti-marker-alt"></i> Chỉnh sửa
                    </a>
            </div>
            
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">

        <div class="col-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body p-0">
                        <div style="width:100%" ng-hide="vm.ctCaNhan">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <div ng-show="vm.ctCaNhan" class="animated fadeIn">
                            <table class="table m-0">
                                <tr>
                                    <td><strong>Mã cá nhân</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.Ma"></td>
                                </tr>
                                <tr>
                                    <td><strong>Họ và tên</strong></td>
                                    <td><strong ng-bind="::vm.ctCaNhan.Title"></strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Giới tính</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.GioiTinh"></td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày sinh</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.NgaySinh | date:'dd/MM/y'"></td>
                                </tr>
                                <tr>
                                    <td><strong>Điện thoại</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.DienThoai"></td>
                                </tr>
                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.Email"></td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body p-0">
                        <div style="width:100%" ng-hide="vm.ctCaNhan">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <div ng-show="vm.ctCaNhan" class="animated fadeIn">

                            <table class="table m-0">
                                <tr>
                                    <td><strong>Số CMND</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.SoCMND"></td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày cấp CMND</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.NgayCap | date:'dd/MM/y'"></td>
                                </tr>
                                <tr>
                                    <td><strong>Nơi cấp</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.NoiCap.Title"></td>
                                </tr>
                                <tr>
                                    <td><strong>Địa chỉ thường trú</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.DiaChiThuongTru"></td>
                                </tr>
                                <tr>
                                    <td><strong>Địa chỉ tạm trú</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.DiaChiTamTru"></td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                </div>
            
            
                <div class="card">
                    <div class="card-body p-0">
                        <div style="width:100%" ng-hide="vm.ctCaNhan">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <div ng-show="vm.ctCaNhan" class="animated fadeIn">

                            <table class="table m-0">
                                <tr>
                                    <td><strong>Ngày thử việc</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.NgayThuViec | date:'dd/MM/y'"></td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày tiếp nhận</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.NgayTiepNhan | date:'dd/MM/y'"></td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày nghỉ việc</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.NgayNghiViec | date:'dd/MM/y'"></td>
                                </tr>
                                <tr>
                                    <td><strong>Phòng ban</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.PhongBan.Title"></td>
                                </tr>
                                <tr>
                                    <td><strong>Chức vụ</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.ChucVu.Title"></td>
                                </tr>
                                <tr>
                                    <td><strong>Bộ phận</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.BoPhan.Title"></td>
                                </tr>
                                <tr>
                                    <td><strong>Học vấn</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.HocVan.Title"></td>
                                </tr>
                                <tr>
                                    <td><strong>Thuộc công ty</strong></td>
                                    <td ng-bind="::vm.ctCaNhan.CongTy.Title"></td>
                                </tr>
                                <tr>
                                    <td><strong>Ghi chú</strong></td>
                                    <td ng-bind-html="::vm.ctCaNhan.GhiChu"></td>
                                </tr>
                            </table>

                            
                            <div ng-if="+vm.ctCaNhan.AttachmentFiles.results.length > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tập tin đã tải lên</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.ctCaNhan.AttachmentFiles.results">
                                            <td><strong>{{ item.FileName }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>