<div data-ng-controller="ctKhachHang as vm">

    <div class="row">
        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">contacts</i>
                    </div>
                    <h4 class="card-title">Thông tin khách hàng</h4>
                </div>
                <div class="card-body ">
                    <div class="form-group">
                        <label> Mã khách hàng <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctKhachHang.Ma" placeholder="Nhập mã khách hàng">
                    </div>
                    <div class="form-group">
                        <label> Họ và Tên <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctKhachHang.Title" placeholder="Nhập họ và tên khách hàng">
                    </div>
                    <div class="form-group">
                        <label> Số điện thoại <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctKhachHang.SDT" placeholder="Nhập mã khách hàng">
                    </div>
                    <div class="form-group">
                        <label> Địa chỉ</label>
                        <input type="text" class="form-control" data-ng-model="vm.ctKhachHang.DiaChi" placeholder="Nhập địa chỉ khách hàng">
                    </div>
                    <div class="form-group">
                        <label> Ghi chú</label>
                        <textarea data-ng-model="vm.ctKhachHang.Note" class="form-control" rows="5" placeholder="Nhập ghi chú"></textarea>
                    </div>
                    <div class="category form-category"><span class="text-danger">*</span> Yêu cầu điền đủ</div>
                </div>
                <div class="card-footer text-right">
                    <!-- <button type="submit" class="btn btn-rose">Register</button> -->

                    <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctKhachHang.Title" ladda="vm.btnSave">
                        <span class="btn-label"><i class="material-icons">check</i></span>
                        Lưu
                    </button>
                    <button class="btn btn-danger" type="submit" data-ng-if="vm.showDelBtn" ng-confirm-click="Bạn có chắc chắn muốn xóa?"
                        confirmed-click="vm.goDelete()">
                        <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                    </button>
                    <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                        <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay lại</button>
                </div>
            </div>
        </div>

    </div>

</div>