<div data-ng-controller="dsDonHangKhachHang as vm">

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card ">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">contacts</i>
                    </div>
                    <h4 class="card-title">Thông tin khách hàng</h4>
                </div>
                <div class="card-body">
                        <div class="form-group">
                            <label> Mã khách hàng <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctKhachHang.Ma" placeholder="Nhập mã khách hàng">
                        </div>
                        <div class="form-group">
                            <label> Họ và Tên <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctKhachHang.Title" placeholder="Nhập họ và tên khách hàng">
                        </div>
                        <div class="form-group">
                            <label> Số điện thoại <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctKhachHang.SDT" placeholder="Nhập mã khách hàng">
                        </div>
                        <div class="form-group">
                            <label> Địa chỉ</label>
                            <input type="text" class="form-control" data-ng-model="vm.ctKhachHang.DiaChi" placeholder="Nhập địa chỉ khách hàng">
                        </div>
                        <div class="form-group">
                            <label>Mua lần cuối:</label> <span data-ng-bind="::vm.ctKhachHang.NgayMuaCuoi | date:'dd/MM/y'"></span>
                        </div>
                        <div class="form-group">
                            <label> Ghi chú</label>
                            <textarea data-ng-model="vm.ctKhachHang.Note" class="form-control" rows="5" placeholder="Nhập ghi chú"></textarea>
                        </div>
                        <div class="category form-category"><span class="text-danger">*</span> Yêu cầu điền đủ</div>

                </div>
                <div class="card-footer text-right">
                    <!-- <button type="submit" class="btn btn-rose">Register</button> -->

                    <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctKhachHang.Title" ladda="vm.btnSave">
                        <span class="btn-label"><i class="material-icons">check</i></span>
                        Lưu
                    </button>
                    <button class="btn btn-danger" type="submit" data-ng-if="vm.showDelBtn" ng-confirm-click="Bạn có chắc chắn muốn xóa?"
                        confirmed-click="vm.goDelete()">
                        <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                    </button>
                    <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                        <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay lại</button>
                </div>
            </div>
        </div>


        <div class="col-md-8 col-sm-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <h4 class="card-title ">Đơn hàng của khách: {{vm.ctKhachHang.Title}}</h4>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a class="btn btn-success pull-right" href="#/donhang/them"><i class="material-icons">add</i> Thêm đơn hàng mới</a>
                        </div>
                    </div>
                    <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th ng-click="vm.sortData('Title')">
                                    Mã
                                    <div ng-class="vm.getSortClass('Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('SoLuong')">
                                    Số lượng
                                    <div ng-class="vm.getSortClass('SoLuong')"></div>
                                </th>
                                <th ng-click="vm.sortData('ThanhTien')">
                                    Thành tiền
                                    <div ng-class="vm.getSortClass('ThanhTien')"></div>
                                </th>
                                <th ng-click="vm.sortData('NgayBan')">
                                    Ngày bán
                                    <div ng-class="vm.getSortClass('NgayBan')"></div>
                                </th>
                                <th ng-click="vm.sortData('NhanVien.Title')">
                                    Nhân viên bán
                                    <div ng-class="vm.getSortClass('NhanVien.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('Status')">
                                    Trạng thái
                                    <div ng-class="vm.getSortClass('Status')"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsDonHang | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                <td>
                                    <a ng-href="#/donhang/{{::item.Id}}/xem">
                                        {{::item.Title}}
                                    </a>
                                </td>
                                <td ng-bind="::item.SoLuong | number:0"></td>
                                <td ng-bind="::item.ThanhTien | number:0"></td>
                                <td ng-bind="::item.NgayBan | date:'dd/MM/y'"></td>
                                <td ng-bind="::item.NhanVien.Title"></td>
                                <td class="text-center">
                                    <span class="badge badge-info" ng-if="::item.Status === 'Submit'">Chờ duyệt</span>
                                    <span class="badge badge-success" ng-if="::item.Status === 'Approved'">Đã duyệt</span>
                                    <span class="badge badge-danger" ng-if="::item.Status === 'Reject'">Từ chối</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>