<div ng-controller="dsKhachHang as vm">
    <!-- Breadcrumb-->

    <div class="animated fadeIn">

        <div class="card">
            <div class="card-header card-header-warning">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <h4 class="card-title ">Danh sách khách hàng</h4>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <a class="btn btn-success pull-right" href="#/khachhang/them"><i class="material-icons">add</i> Thêm khách hàng mới</a>
                    </div>
                </div>
                <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
            </div>
            <div class="card-body table-responsive">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <label>Tìm thông tin khách theo tên/mã/SĐT</label>
                            <input type="text" class="form-control" placeholder="Tìm khách hàng..." ng-model="vm.cacheFilter.Keyword" ng-model-options="{ debounce: 700 }" ng-change="vm.getListItemsFilter()" />
                        </div>
                    </div>
                    <div class="form-group col-md-5 col-sm-12">
                        <label> Khách đã lâu chưa mua</label>
                        <select class="form-control" ng-model="vm.cacheFilter.ThoiGian" ng-change="vm.getListItemsFilter()" ng-model-options="{ debounce: 700 }">
                            <option value="">Chọn quãng thời gian</option>
                            <option value="1week">hơn 1 tuần chưa mua</option>
                            <option value="1month">hơn 1 tháng chưa mua</option>
                            <option value="1year">hơn 1 năm chưa mua</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2 col-sm-12">
                        <button class="btn btn-info" type="submit" data-ng-click="vm.cacheFilter = {};vm.getListItemsFilter()">
                            <span class="btn-label"><i class="material-icons">find_replace</i></span> Bỏ lọc
                        </button>
                    </div>
                    
                </div>
                <table class="table table-hover">
                    <thead class="text-warning">
                        <tr>
                            <th ng-click="vm.sortData('Ma')">
                                Mã
                                <div ng-class="vm.getSortClass('Ma')"></div>
                            </th>
                            <th ng-click="vm.sortData('Title')">
                                Họ & Tên
                                <div ng-class="vm.getSortClass('Title')"></div>
                            </th>
                            <th ng-click="vm.sortData('SDT')">
                                Số điện thoại
                                <div ng-class="vm.getSortClass('SDT')"></div>
                            </th>
                            <th ng-click="vm.sortData('NgayMuaCuoi')">
                                Ngày mua cuối
                                <div ng-class="vm.getSortClass('NgayMuaCuoi')"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in vm.dsKhachHang | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                            <td ng-bind="::item.Ma"></td>
                            <td>
                                <a ng-href="#/khachhang/{{::item.Id}}/donhang">
                                    {{::item.Title}}
                                </a>
                            </td>
                            <td ng-bind="::item.SDT"></td>
                            <td ng-bind="::item.NgayMuaCuoi | date:'dd/MM/y'">
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <!-- /.conainer-fluid-->
</div>