<div ng-controller="dsChiPhiDuToan as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">
            <div class="card-header">
                <button class="btn btn-success pull-right" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseExample">
                    <i class="ti-search"></i>
                </button>
                <div>
                    <h3 class="card-title">Danh sách chi phí dự toán</h3>
                    <h6 class="card-subtitle" ng-if="vm.dsChiPhi[0].DuAn.Title">Dự án: {{vm.dsChiPhi[0].DuAn.Title}}</h6>
                </div>

                
                
            </div>
            <div class="card-body p-0">
                
                <div class="collapse" id="collapseFilter">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nhập mã hoặc tên để tìm..." ng-model="vm.cacheFilterKeyword"
                                    ng-change="vm.getListItemsFiltered()" data-ng-model-options='{ debounce: 700 }' />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <ui-select ng-model="vm.cacheFilterLoaiChiPhiId" theme="selectize" style="width: 100%;"
                                    title="Chọn loại" ng-change="vm.CacheFilterData.LoaiChiPhiId = {TruongCanLoc:'LoaiChiPhiId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterLoaiChiPhiId};vm.getListItemsFiltered()">
                                    <ui-select-match placeholder="Loại chi phí">
                                        <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in vm.LoaiChiPhiDuAn | propsFilter:{Title: $select.search, Ma: $select.search}">
                                        <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                        <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                        <small>
                                            Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <ui-select ng-model="vm.cacheFilterGoiThauId" theme="selectize" style="width: 100%;"
                                    title="Chọn loại" ng-change="vm.CacheFilterData.GoiThauId = {TruongCanLoc:'GoiThauId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterGoiThauId};vm.getListItemsFiltered()">
                                    <ui-select-match placeholder="Gói thầu">
                                        <strong ng-bind="$select.selected.Title"></strong>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in vm.GoiThau | propsFilter:{Title: $select.search}">
                                        <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                        <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div>
                                <button class="btn btn-block btn-primary waves-effect waves-light" type="button" 
                                ng-click="vm.CacheFilterData = {};
                                vm.cacheFilterKeyword = null;
                                vm.cacheFilterLoaiChiPhiId = null;
                                vm.cacheFilterGoiThauId = null;
                                vm.getListItemsFiltered();">
                                    <i class="fa fa-retweet"></i>
                                    Bỏ lọc
                                </button>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover stylish-table">
                        <thead>
                            <tr>
                                <th>
                                    Mã
                                </th>
                                <th>
                                    Tên chi phí
                                </th>
                                <th ng-click="vm.sortData('LoaiChiPhi.Title')">
                                    Loại chi phí
                                    <div ng-class="vm.getSortClass('LoaiChiPhi.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('GoiThau.Title')">
                                    Gói thầu
                                    <div ng-class="vm.getSortClass('GoiThau.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('HangMuc.Title')">
                                    Hạng mục
                                    <div ng-class="vm.getSortClass('HangMuc.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('ChiPhiDuAn')">
                                    Chi phí dự án
                                    <div ng-class="vm.getSortClass('ChiPhiDuAn')"></div>
                                </th>
                                <th ng-click="vm.sortData('ChiPhiDuToan')">
                                    Chi phí dự toán
                                    <div ng-class="vm.getSortClass('ChiPhiDuToan')"></div>
                                </th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsChiPhi | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                <td>
                                    <a ng-href="#/chiphidutoan/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Ma"></a>
                                </td>
                                <td>
                                    <a ng-href="#/chiphidutoan/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Title"></a>
                                </td>
                                <td ng-bind="::item.LoaiChiPhi.Title"></td>
                                <td ng-bind="::item.GoiThau.Title"></td>
                                <td ng-bind="::item.HangMucCongTrinh.Title"></td>
                                <td class="text-right" ng-bind="::item.ChiPhiDuAn | number:0"></td>
                                <td class="text-right" ng-bind="::item.ChiPhiDuToan | number:0"></td>
                                <td class="align-middle">
                                    <a ng-href="#/chiphidutoan/{{::item.Id}}/sua?action=edit" title="Sửa">
                                        <i class="ti-marker-alt"></i>
                                    </a>
                                    <a class="text-danger" ng-click="vm.delItem(item)" title="Xóa">
                                        <i class="ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="width:100%" ng-hide="vm.dsChiPhi">
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- .right-sidebar -->
    <div class="right-sidebar" >
        <div class="slimscrollright">
            <div class="rpanel-title">
                Tạo mới
                <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose" aria-hidden="true"></i></span>
            </div>
            <div class="r-panel-body">
                <div class="form-group">
                    <label>Loại chi phí <span class="text-danger" ng-hide="vm.ctChiPhi.LoaiChiPhiId">*</span></label>
                    <ui-select ng-model="vm.ctChiPhi.LoaiChiPhiId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.LoaiChiPhiDuAn | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Gói thầu <span class="text-danger" ng-hide="vm.ctChiPhi.GoiThauId">*</span></label>
                    <ui-select ng-model="vm.ctChiPhi.GoiThauId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong>
                            <div style="display:none">
                                {{vm.ctChiPhi.HangMucCongTrinhId = $select.selected.HangMucCongTrinhId}}
                            </div>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.GoiThau | propsFilter:{Title: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Nguồn vốn <span class="text-danger" ng-hide="vm.ctChiPhi.NguonVonId">*</span></label>
                    <ui-select ng-model="vm.ctChiPhi.NguonVonId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.NguonVon | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Mã <span class="text-danger" ng-hide="vm.ctChiPhi.Ma">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChiPhi.Ma" placeholder="Nhập mã...">
                </div>
                <div class="form-group">
                    <label> Tên chi phí dự toán <span class="text-danger" ng-hide="vm.ctChiPhi.Title">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChiPhi.Title" placeholder="Nhập tiêu đề văn bản...">
                </div>
                <div class="form-group">
                    <label>Chi phí dự án</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.ChiPhiDuAn" ng-model="vm.ctChiPhi.ChiPhiDuAn">
                </div>
                <div class="form-group">
                    <label>Chi phí dự toán</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.ChiPhiDuToan" ng-model="vm.ctChiPhi.ChiPhiDuToan">
                </div>
                <div class="form-group">
                    <label>Giái trị hợp đồng điều chỉnh</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.GiaTriHopDongDieuChinh" ng-model="vm.ctChiPhi.GiaTriHopDongDieuChinh">
                </div>
                <div class="form-group">
                    <label>Khối lượng thanh toán kế hoạch</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.KLTTKH" ng-model="vm.ctChiPhi.KLTTKH">
                </div>
                <div class="form-group">
                    <label>Khối lượng thanh toán thực tế</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.KLTTThucTe" ng-model="vm.ctChiPhi.KLTTThucTe">
                </div>
                <div class="form-group">
                    <label>Khối lượng nghiệm thu kế hoạch</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.KLNTKH" ng-model="vm.ctChiPhi.KLNTKH">
                </div>
                <div class="form-group">
                    <label>Khối lượng nghiệm thu thực tế</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.KLNTThucTe" ng-model="vm.ctChiPhi.KLNTThucTe">
                </div>
                <div class="form-group">
                    <label>Khối lượng thực tế thực hiện</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.KLThucTeThucHien" ng-model="vm.ctChiPhi.KLThucTeThucHien">
                </div>
                <div class="form-group">
                    <label>Thanh toán và tạm ứng trong kỳ</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.TTVaTamUng" ng-model="vm.ctChiPhi.TTVaTamUng">
                </div>
                <div class="form-group">
                    <label>Tiền chi thanh toán</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.TienChiTT" ng-model="vm.ctChiPhi.TienChiTT">
                </div>
                <div class="form-group">
                    <label>Tiền chi tạm ứng</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.TienChiTamUng" ng-model="vm.ctChiPhi.TienChiTamUng">
                </div>
                <div class="form-group">
                    <label>Tiền thu thanh toán</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.TienThuTT" ng-model="vm.ctChiPhi.TienThuTT">
                </div>
                <div class="form-group">
                    <label>Tiền thu tạm ứng</label>
                    <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                        cleave="vm.formFormat.TienThuTamUng" ng-model="vm.ctChiPhi.TienThuTamUng">
                </div>




                <div class="form-group">
                    <label>Ngày tiếp nhận:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayHetHan.open" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')"
                            ng-model="vm.ctChiPhi.NgayTiepNhan"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label> Ghi chú </label>
                    <textarea rows="3" class="form-control" data-ng-model="vm.ctChiPhi.GhiChu" placeholder="Nhập thông tin..."></textarea>
                </div>
                <!-- Bắt đầu test upload -->
                <div ng-if="+vm.uploader.queue.length > 0">
        
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Tập tin sẽ tải lên</th>
                                    <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                    <th class="text-center">Gỡ bỏ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td class="text-center"> 
                                        <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End test upload -->
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-outline-info">
                            <i class="ti-cloud-up"></i>
                            Chọn tệp tin tải lên
                        </button>
                        <input type="file" 
                            nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                            multiple="multiple" />
                            <span ng-if="+vm.uploader.queue.length > 0">
                                Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                            </span>
                    </div>
                <div>
                    <p ng-hide="vm.ctChiPhi.Ma && vm.ctChiPhi.Title && vm.ctChiPhi.LoaiChiPhiId && vm.ctChiPhi.GoiThauId">
                        <span class="text-danger">*</span>
                        <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary waves-effect waves-light" type="submit" 
                    data-ng-click="vm.createItem();" 
                    data-ng-disabled="!vm.ctChiPhi.Ma || !vm.ctChiPhi.Title || !vm.ctChiPhi.LoaiChiPhiId || !vm.ctChiPhi.GoiThauId" ladda="vm.btnSave">
                        Tạo mới
                    </button>
                    <button class="btn btn-default waves-effect waves-light right-side-action-toggle" type="reset">
                        Quay lại
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->



</div>

