<div data-ng-controller="ctChiPhiDuToan as vm" class="animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles d-print-none">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                    <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <a class="btn waves-effect waves-light btn-info pull-right" href="#/chiphidutoan/them/sua?action=edit">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Thông tin</h4>
                    </div>
                    <div class="card-body">
                        <div style="width:100%" ng-hide="vm.ctChiPhi">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <div ng-show="vm.ctChiPhi" class="animated fadeIn">
                            <table class="table table-bordered">
                                <tr>
                                    <th colspan="2">
                                        <h5 ng-bind="vm.ctChiPhi.Title"></h5>
                                    </th>
                                </tr>
                                <tr>
                                    <td><strong>Mã chi phí</strong></td>
                                    <td>
                                        <span ng-bind="vm.ctChiPhi.Ma"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Chi phí dự án</strong></td>
                                    <td>
                                        <span class="pull-right" ng-bind="vm.ctChiPhi.ChiPhiDuAn | number:0"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Chi phí dự toán</strong></td>
                                    <td>
                                        <span class="pull-right" ng-bind="vm.ctChiPhi.ChiPhiDuToan | number:0"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Dự án</strong></td>
                                    <td>
                                        <a href="#/duan/{{vm.ctChiPhi.DuAnId}}/xem" ng-bind="vm.ctChiPhi.DuAn.Title"></a>
                                    </td>
                                <tr>
                                    <td><strong>Loại chi phí</strong></td>
                                    <td>
                                        <a href="#/generalctrl/{{vm.ctChiPhi.LoaiChiPhiId}}?mod=loaichiphi" ng-bind="vm.ctChiPhi.LoaiChiPhi.Title"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Gói thầu</strong></td>
                                    <td>
                                        <a href="#/generalctrl/{{vm.ctChiPhi.GoiThauId}}?mod=goithau" ng-bind="vm.ctChiPhi.GoiThau.Title"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Nguồn vốn</strong></td>
                                    <td>
                                        <a href="#/generalctrl/{{vm.ctChiPhi.NguonVonId}}?mod=nguonvon" ng-bind="vm.ctChiPhi.NguonVon.Title"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Giá trị hợp đồng điều chỉnh</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.GiaTriHopDongDieuChinh | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Khối lượng thanh toán kế hoạch</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.KLTTKH | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Khối lượng thanh toán thực tế</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.KLTTThucTe | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Khối lượng nghiệm thu kế hoạch</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.KLNTKH | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Khối lượng nghiệm thu thực tế</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.KLNTThucTe | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Khối lượng thực tế thực hiện</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.KLThucTeThucHien | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Thanh toán và tạm ứng trong kỳ</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.TTVaTamUng | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Tiền chi thanh toán</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.TienChiTT | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Tiền chi tạm ứng</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.TienChiTamUng | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Tiền thu thanh toán</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.TienThuTT | number:0" class="pull-right"></span></td>
                                </tr>
                                <tr>
                                    <td><strong>Tiền thu tạm ứng</strong></td>
                                    <td><span data-ng-bind="vm.ctChiPhi.TienThuTamUng | number:0" class="pull-right"></span></td>
                                </tr>
                            </table>
                            <!-- Start display AttachmentFiles -->
                            <div ng-if="+vm.ctChiPhi.AttachmentFiles.results.lenght > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tập tin đã tải lên</td>
                                            <th class="text-center">Gỡ bỏ</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.ctChiPhi.AttachmentFiles.results">
                                            <td><strong>{{ item.FileName }}</strong></td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                        class="ti-close"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- End display AttachmentFiles -->
                        </div>
    
    
    
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md">
                                <small class="text-muted" data-ng-if="vm.showDelBtn">
                                    Người tạo: <strong ng-bind="vm.ctChiPhi.Author.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctChiPhi.Created | date:'HH:mm - d/M/y'"></strong><br />
                                    Sửa lần cuối: <strong ng-bind="vm.ctChiPhi.Editor.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctChiPhi.Modified | date:'HH:mm - d/M/y'"></strong>
                                </small>
                            </div>
                            <div class="col-md text-right">
                                <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/chiphidutoan/{{vm.ctChiPhi.Id}}/sua?action=edit">
                                    <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                                </a>
                                <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                    <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span>
                                    Quay lại</button>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>