<div ng-controller="dsPhuLuc as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">

            <div class="card-body  p-0">

                <div class="table-responsive">
                    <table class="table table-hover stylish-table">
                        <thead>
                            <tr>
                                <th>
                                    Mã
                                </th>
                                <th ng-click="vm.sortData('DuAn.Title')">
                                    Phụ lục
                                    <div ng-class="vm.getSortClass('DuAn.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('HopDong.Title')">
                                    Hợp đồng
                                    <div ng-class="vm.getSortClass('HopDong.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('NgayKy')">
                                    Ngày ký phụ lục
                                    <div ng-class="vm.getSortClass('NgayKy')"></div>
                                </th>
                                <th ng-click="vm.sortData('NgayThucHien')">
                                    Giá trị phụ lục
                                    <div ng-class="vm.getSortClass('NgayThucHien')"></div>
                                </th>
                                <th ng-click="vm.sortData('NgayNghiemThu')">
                                    Sửa đổi thời gian
                                    <div ng-class="vm.getSortClass('NgayNghiemThu')"></div>
                                </th>
                                <th ng-click="vm.sortData('GiaTriHopDong')">
                                    Thời gian phụ lục (ngày)
                                    <div ng-class="vm.getSortClass('GiaTriHopDong')"></div>
                                </th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsPhuLuc | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                <td>
                                    <a ng-href="#/phuluchopdong/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Ma"></a>
                                </td>
                                <td>
                                    <a ng-href="#/phuluchopdong/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Title"></a>
                                </td>

                                <td ng-bind="::item.HopDong.Title"></td>
                                <td ng-bind="::item.NgayKyPhuLuc | date:'dd/MM/y'"></td>
                                <td ng-bind="::item.GiaTriPhuLuc | number:0"></td>
                                <td>
                                    <span class="label"
                                        ng-class="{'label-success': item.SuaDoiThoiGian === 'Tăng thêm',
                                        'label-danger': item.SuaDoiThoiGian === 'Giảm bớt',
                                        'label-primary': item.SuaDoiThoiGian === 'Không đổi' }"
                                        ng-bind="::item.SuaDoiThoiGian"></span>
                                </td>
                                <td ng-bind="::item.ThoiGianPhuLuc | number:0"></td>
                                
                                <td class="align-middle">
                                    <a class="btn btn-info" ng-href="#/phuluchopdong/{{::item.Id}}/sua?action=edit" title="Sửa">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <button class="btn btn-danger" ng-click="vm.delItem(item)" title="Xóa">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="width:100%" ng-hide="vm.dsPhuLuc">
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                </div>
            </div>
        </div>
    </div>


    <!-- .right-sidebar -->
    <div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title">
                Tạo mới
                <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose"
                        aria-hidden="true"></i></span>
            </div>
            <div class="r-panel-body">
                <div class="form-group">
                    <label>Hợp đồng <span class="text-danger" ng-hide="vm.ctPhuLuc.HopDongId">*</span></label>
                    <ui-select ng-model="vm.ctPhuLuc.HopDongId" theme="selectize" style="width: 100%;" title="Chọn loại" >
                        <ui-select-match placeholder="Tìm kiếm...">
                            <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.SoHopDong"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.HopDong | propsFilter:{Title: $select.search, SoHopDong: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Số hợp đồng: <span ng-bind-html="item.SoHopDong | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label> Mã <span class="text-danger" ng-hide="vm.ctPhuLuc.Ma">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctPhuLuc.Ma"
                        placeholder="Nhập mã phụ lục hợp đồng...">
                </div>
                <div class="form-group">
                    <label> Tên phụ lục <span class="text-danger" ng-hide="vm.ctPhuLuc.Title">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctPhuLuc.Title"
                        placeholder="Nhập tiêu đề...">
                </div>


                <div class="form-group">
                    <label>Ngày ký:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO" enable-time="false"
                            close-on-date-selection="true" datepicker-append-to-body="true" is-open="vm.pickerNgayKy.open"
                            ng-click="vm.openCalendar($event, 'pickerNgayKy')" ng-model="vm.ctPhuLuc.NgayKyPhuLuc"
                            placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayKy')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Giá trị phụ lục</label>
                    <input type="text" class="form-control" placeholder="Nhập số ngày..." cleave="vm.formFormat.number"
                        ng-model="vm.ctPhuLuc.GiaTriPhuLuc">
                </div>
                <div class="form-group">
                    <label>Sửa đổi thời gian</label>
                    <select class="form-control" ng-model="vm.ctPhuLuc.SuaDoiThoiGian">
                        <option selected="selected">Không đổi</option>
                        <option class="text-danger">Giảm bớt</option>
                        <option class="text-success">Tăng thêm</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Thời gian phụ lục</label>
                    <input type="text" class="form-control" placeholder="Nhập số ngày..." cleave="vm.formFormat.number"
                        ng-model="vm.ctPhuLuc.ThoiGianPhuLuc">
                </div>

                <div class="form-group">
                    <label> Nội dung </label>
                    <textarea rows="3" class="form-control" data-ng-model="vm.ctPhuLuc.NoiDung" placeholder="Nhập thông tin..."></textarea>
                </div>
                <!-- Bắt đầu test upload -->
                <div ng-if="+vm.uploader.queue.length > 0">

                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Tập tin sẽ tải lên</th>
                                <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                <th class="text-center">Gỡ bỏ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i
                                            class="ti-close"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End test upload -->
                <div class="upload-btn-wrapper">
                    <button class="btn btn-outline-info">
                        <i class="ti-cloud-up"></i>
                        Chọn tệp tin tải lên
                    </button>
                    <input type="file" nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                        multiple="multiple" />
                    <span ng-if="+vm.uploader.queue.length > 0">
                        Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                    </span>
                </div>
                <div>
                    <p ng-hide="vm.ctPhuLuc.SoHopDong && vm.ctPhuLuc.Title && vm.ctPhuLuc.DuAnId && vm.ctPhuLuc.PhanLoaiHopDongId">
                        <span class="text-danger">*</span>
                        <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary waves-effect waves-light" type="submit" data-ng-click="vm.createItem();"
                        data-ng-disabled="!vm.ctPhuLuc.Title || !vm.ctPhuLuc.HopDongId"
                        ladda="vm.btnSave">
                        Tạo mới
                    </button>
                    <button class="btn btn-default waves-effect waves-light right-side-action-toggle" type="reset">
                        Quay lại
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->



</div>