<div data-ng-controller="ctPhuLuc as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/phuluchopdong/them/sua?action=edit">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctPhuLuc">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctPhuLuc" class="animated fadeIn">
                        <table class="table table-bordered">
                            <tr>
                                <th colspan="2">
                                    <h5 ng-bind="vm.ctPhuLuc.Title"></h5>
                                </th>
                            <tr>
                                <td><strong>Hợp đồng</strong></td>
                                <td>
                                    <a href="#/hopdong/{{vm.ctPhuLuc.HopDongId}}/xem" ng-bind="vm.ctPhuLuc.HopDong.Title"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Ngày ký phụ lục</strong></td>
                                <td><span data-ng-bind="vm.ctPhuLuc.NgayKyPhuLuc | date:'dd/MM/y'"></span></td>
                            </tr>
                            <tr>
                                <td><strong>Giá trị phụ lục</strong></td>
                                <td>
                                    <span class="pull-right" ng-bind="vm.ctPhuLuc.GiaTriPhuLuc | number:0"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Sửa đổi thời gian</strong></td>
                                <td>
                                    <span class="label"
                                        ng-class="{'label-success': vm.ctPhuLuc.SuaDoiThoiGian === 'Tăng thêm',
                                        'label-danger': vm.ctPhuLuc.SuaDoiThoiGian === 'Giảm bớt',
                                        'label-primary': vm.ctPhuLuc.SuaDoiThoiGian === 'Không đổi' }"
                                            ng-bind="::vm.ctPhuLuc.SuaDoiThoiGian"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Thời gian phụ lục (ngày)</strong></td>
                                <td class="text-right"><span ng-bind="vm.ctPhuLuc.ThoiGianPhuLuc | number:0"></span></td>
                            </tr>
                            <tr>
                                <td><strong>Nội dung</strong></td>
                                <td><span ng-bind="vm.ctPhuLuc.NoiDung"></span></td>
                            </tr>


                        </table>
                        <!-- Start display AttachmentFiles -->
                        <div ng-if="+vm.ctPhuLuc.AttachmentFiles.results.lenght > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tập tin đã tải lên</td>
                                        <th class="text-center">Gỡ bỏ</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.ctPhuLuc.AttachmentFiles.results">
                                        <td><strong>{{ item.FileName }}</strong></td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- End display AttachmentFiles -->
                    </div>



                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctPhuLuc.Author.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctPhuLuc.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctPhuLuc.Editor.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctPhuLuc.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <!-- <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/phuluchopdong/{{vm.ctPhuLuc.Id}}/sua?action=edit">
                                <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                            </a> -->
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span>
                                Quay lại</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>