<div data-ng-controller="ctHoSoVanBan as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/hosovanban/them/sua?action=edit">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin loại đối tác</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctHoSoVanBan">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctHoSoVanBan" class="animated fadeIn">
                        <div class="form-group">
                            <label>Dụ án <span class="text-danger" ng-hide="vm.ctHoSoVanBan.DuAnId">*</span></label>
                            <ui-select ng-model="vm.ctHoSoVanBan.DuAnId" theme="selectize" style="width: 100%;" title="Chọn loại" ng-disabled="!vm.flagCanEdit">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.DuAn | propsFilter:{Title: $select.search, Ma: $select.search}" >
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label> Mã văn bản <span class="text-danger" ng-hide="vm.ctHoSoVanBan.Ma">*</span></label> 
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctHoSoVanBan.Ma"
                                placeholder="Nhập mã văn bản...">
                        </div>
                        <div class="form-group">
                            <label> Số hiệu văn bản <span class="text-danger" ng-hide="vm.ctHoSoVanBan.SoHieuVanBan">*</span></label> 
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctHoSoVanBan.SoHieuVanBan"
                                placeholder="Nhập số hiệu văn bản...">
                        </div>
                        <div class="form-group">
                            <label> Tiêu đề văn bản <span class="text-danger" ng-hide="vm.ctHoSoVanBan.Title">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctHoSoVanBan.Title" placeholder="Nhập tiêu đề văn bản...">
                        </div>
                        <div class="form-group">
                            <label>Ngày ký:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                    enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                    is-open="vm.pickerNgayKy.open" ng-click="vm.openCalendar($event, 'pickerNgayKy')"
                                    ng-model="vm.ctHoSoVanBan.NgayKy"  placeholder="Chọn ngày" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayKy')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ngày phát hành:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                    enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                    is-open="vm.pickerNgayPhatHanh.open" ng-click="vm.openCalendar($event, 'pickerNgayPhatHanh')"
                                    ng-model="vm.ctHoSoVanBan.NgayPhatHanh"  placeholder="Chọn ngày" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayPhatHanh')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ngày nộp:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                    enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                    is-open="vm.pickerNgayNop.open" ng-click="vm.openCalendar($event, 'pickerNgayNop')"
                                    ng-model="vm.ctHoSoVanBan.NgayNop"  placeholder="Chọn ngày" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayNop')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ngày hết hạn:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                    enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                    is-open="vm.pickerNgayHetHan.open" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')"
                                    ng-model="vm.ctHoSoVanBan.NgayHetHan"  placeholder="Chọn ngày" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Giá trị </label>
                            <input type="text" class="form-control" cleave="vm.formFormat.number" data-ng-model="vm.ctHoSoVanBan.GiaTri" placeholder="Nhập giá trị...">
                        </div>
                        <div class="form-group">
                            <label>Kiểu văn bản</label>
                            <select class="form-control" data-ng-model="vm.ctHoSoVanBan.KieuVanBan">
                                <option value="">-- Chọn --</option>
                                <option>Văn bản nội bộ</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Loại văn bản <span class="text-danger" ng-hide="vm.ctHoSoVanBan.LoaiVanBanId">*</span></label>
                            <ui-select ng-model="vm.ctHoSoVanBan.LoaiVanBanId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="vm.ctHoSoVanBan.NhomVanBanId = $select.selected.NhomVanBan.Id"></span> (<span ng-bind="$select.selected.Ma"></span>)
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.LoaiVanBan | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        <span ng-if="item.NhomVanBan.Title">Nhóm: <strong ng-bind-html="item.NhomVanBan.Title | highlight: $select.search"></strong> - </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Mức độ bảo mật</label>
                            <select class="form-control" data-ng-model="vm.ctHoSoVanBan.MucDoBaoMat">
                                <option selected="selected">Bình thường</option>
                                <option class="text-danger">Cao</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Mức độ khẩn cấp</label>
                            <select class="form-control" data-ng-model="vm.ctHoSoVanBan.MucDoKhanCap">
                                <option selected="selected">Bình thường</option>
                                <option class="text-danger">Ưu tiên</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Hạng mục công trình</label>
                            <ui-select ng-model="vm.ctHoSoVanBan.HangMucCongTrinhId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.HangMucCongTrinh | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Nơi nhận</label>
                            <ui-select ng-model="vm.ctHoSoVanBan.PhongBanId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.PhongBan | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Tổ chức phát hành</label>
                            <ui-select ng-model="vm.ctHoSoVanBan.ToChucPhatHanhId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Loại: <strong ng-bind="item.LoaiDoiTac.Title"></strong> - Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label> Nơi phát hành </label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctHoSoVanBan.NoiPhatHanh" placeholder="Nhập nơi phát hành...">
                        </div>
                        <div class="form-group">
                            <label> Nội dung </label>
                            <textarea rows="3" class="form-control" data-ng-model="vm.ctHoSoVanBan.NoiDung" placeholder="Nhập thông tin..."></textarea>
                        </div>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tập tin đã tải lên</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.ctHoSoVanBan.AttachmentFiles.results">
                                        <td><strong>{{ item.FileName }}</strong></td>
                                        <td class="text-center"> 
                                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <!-- Bắt đầu test upload -->
                        <div ng-if="+vm.uploader.queue.length > 0">
        
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Tập tin sẽ tải lên</th>
                                        <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td class="text-center"> 
                                            <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End test upload -->
                        <div class="upload-btn-wrapper">
                            <button class="btn btn-outline-info">
                                <i class="ti-cloud-up"></i>
                                Chọn tệp tin tải lên
                            </button>
                            <input type="file" 
                                nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                multiple="multiple" />
                                <span ng-if="+vm.uploader.queue.length > 0">
                                    Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                                </span>
                        </div>

                        <!-- <div>
                            <div class="form-group animated fadeIn">
                                <p>Đính kèm tệp tin:</p>
                                <input nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" class="form-control" type="file" multiple="multiple" />
                            </div>
                        </div> -->
                        

                        <div class="category form-category" ng-hide="vm.ctHoSoVanBan.Ma && vm.ctHoSoVanBan.Title">
                            <span class="text-danger">*</span> Bạn chưa điền đủ thông tin
                        </div>
                    </div>
                    

                    
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctHoSoVanBan.Author.Title"></strong> / lúc <strong ng-bind="vm.ctHoSoVanBan.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctHoSoVanBan.Editor.Title"></strong> / lúc <strong ng-bind="vm.ctHoSoVanBan.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctHoSoVanBan.Ma && !vm.ctHoSoVanBan.Title"
                            ng-if="vm.flagCanEdit" ladda="vm.btnSave">
                                <span class="btn-label"><i class="material-icons">check</i></span>
                                Lưu
                            </button>
                            <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/loaidoitac/{{vm.ctHoSoVanBan.Id}}?action=edit">
                                <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                            </a>
                            <button class="btn btn-danger align-middle" type="submit" data-ng-if="vm.showDelBtn && vm.flagCanEdit" ng-click="vm.goDelete()">
                                    <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                            </button>
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay lại</button>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>

    </div>
    
    </div>