<div data-ng-controller="ctHoSoVanBan as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/hosovanban/them/sua?action=edit">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin loại đối tác</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctHoSoVanBan">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctHoSoVanBan" class="animated fadeIn">
                        <div class="form-group">
                            <label>Dự án</label>
                            <input type="text" class="form-control" data-ng-model="::vm.ctHoSoVanBan.DuAn.Title" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label> Mã văn bản</label>
                            <input type="text" class="form-control" data-ng-model="::vm.ctHoSoVanBan.Ma" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label> Số hiệu văn bản</label>
                            <input type="text" class="form-control" data-ng-model="::vm.ctHoSoVanBan.SoHieuVanBan" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label> Tiêu đề văn bản</label>
                            <input type="text" class="form-control" data-ng-model="::vm.ctHoSoVanBan.Title" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Ngày ký:</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.NgayKy" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Ngày phát hành:</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.NgayPhatHanh" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Ngày nộp:</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.NgayNop" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Ngày hết hạn:</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.NgayHetHan" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label> Giá trị </label>
                            <input type="number" class="form-control" data-ng-model="::vm.ctHoSoVanBan.GiaTri" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Kiểu văn bản</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.KieuVanBan" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Loại văn bản</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.LoaiVanBan.Title" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Mức độ bảo mật</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.MucDoBaoMat" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Mức độ khẩn cấp</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.MucDoKhanCap" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Hạng mục công trình</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.HangMucCongTrinh.Title" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Nơi nhận</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.PhongBan.Title" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label>Tổ chức phát hành</label>
                            <input type="text" data-ng-model="::vm.ctHoSoVanBan.ToChucPhatHanh.Title" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label> Nơi phát hành </label>
                            <input type="text" class="form-control" data-ng-model="::vm.ctHoSoVanBan.NoiPhatHanh" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label> Nội dung </label>
                            <textarea rows="3" class="form-control" data-ng-model="::vm.ctHoSoVanBan.NoiDung" disabled="disabled"></textarea>
                        </div>
                        

                        <div>
                            <h4>Tệp đính kèm</h4>
                            <ul>
                                <li ng-repeat="item in vm.ctHoSoVanBan.AttachmentFiles.results">
                                    <!-- <a href="{{item.ServerRelativeUrl}}" ng-bind="item.FileName"></a> -->
                                    <a data-toggle="modal" data-ng-click="vm.urlVanBanModal = item.ServerRelativeUrl" ng-bind="::item.FileName" data-target="#modalIframeDoc" data-backdrop="false"> </a>
                                </li>
                            </ul>
                        </div>
                    </div>



                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctHoSoVanBan.Author.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctHoSoVanBan.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctHoSoVanBan.Editor.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctHoSoVanBan.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctHoSoVanBan.Ma && !vm.ctHoSoVanBan.Title"
                                ng-if="vm.flagCanEdit" ladda="vm.btnSave">
                                <span class="btn-label"><i class="material-icons">check</i></span>
                                Lưu
                            </button>
                            <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/hosovanban/{{vm.ctHoSoVanBan.Id}}/sua?action=edit">
                                <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                            </a>
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> 
                                Quay lại</button>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>


    <!-- Modal xem trước văn bản -->
    <div class="modal fade" id="modalIframeDoc" tabindex="-1" role="dialog" aria-labelledby="modalIframeDocLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIframeDocLabel">Xem văn bản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe ng-src="{{'https://i24h.sharepoint.com/sites/dev2/beta/contruction/cdt/_layouts/15/WopiFrame.aspx?sourcedoc=' + vm.urlVanBanModal + '&amp;action=embedview'}}" width="100%" height="100%" frameborder="0" style="height:70vh">
                </iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng lại</button>
                <a ng-href="{{vm.urlVanBanModal}}" class="btn btn-primary" target="_blank">Tải về</a>
            </div>
            </div>
        </div>
    </div><!-- //Modal xem trước văn bản -->
    

</div>