<div data-ng-controller="ctProduct as vm">

        <div class="row">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">local_pharmacy</i>
                        </div>
                        <h4 class="card-title">Thông tin Sản phẩm</h4>
                    </div>
                    <div class="card-body ">
                        <div class="form-group">
                            <label> Mã sản phẩm <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctProduct.Ma"
                                placeholder="Nhập mã sản phẩm">
                        </div>
                        <div class="form-group">
                            <label> Tên sản phẩm <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctProduct.Title"
                             placeholder="Nhập tên sản phẩm">
                        </div>
                        <div class="form-group">
                            <label>Chọn nhà sản xuất</label>
                            <ui-select ng-model="vm.ctProduct.NhaSanXuatId" theme="select2"
                                style="width: 100%;" title="Chọn nhà sản xuất">
                                <ui-select-match placeholder="Tìm nhà sản xuất..." >
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.QuocGia"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="person.Id as person in vm.dsNhaSanXuat| propsFilter:{Title: $select.search, QuocGia: $select.search}"
                                    refresh="vm.getDsNhaSanXuat($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" >
                                    <div><strong  ng-bind-html="person.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Quốc gia:
                                        <span ng-bind-html="person.QuocGia | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label> Giá <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctProduct.Gia"
                                placeholder="Nhập giá cho sản phẩm" cleave="vm.formFormat.number">
                        </div>
                        <div class="form-group">
                                
                            <label> Đơn vị tính <span class="text-danger">*</span></label>
                            <select ng-options="option for option in vm.DsDVT track by option" ng-model="vm.ctProduct.DVT" class="form-control" ></select>
                        </div>
                        <div class="category form-category"><span class="text-danger">*</span> Yêu cầu điền đủ</div>
                    </div>
                    <div class="card-footer text-right">
                        <!-- <button type="submit" class="btn btn-rose">Register</button> -->
    
                        <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctProduct.Title"
                         ladda="vm.btnSave">
                            <span class="btn-label"><i class="material-icons">check</i></span>
                            Lưu
                        </button>
                        <button class="btn btn-danger" type="submit" data-ng-if="vm.showDelBtn" ng-confirm-click="Bạn có chắc chắn muốn xóa?"
                         confirmed-click="vm.goDelete()">
                            <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                        </button>
                        <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                            <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay lại</button>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>