<div ng-controller="dsProduct as vm">
        <!-- Breadcrumb-->
    
        <div class="animated fadeIn">
    
            <div class="card">
                <div class="card-header card-header-warning align-middle">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <h4 class="card-title ">Danh sách Sản phẩm </h4>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a class="btn btn-success pull-right" href="#/sanpham/them"><i class="material-icons">add</i> Thêm sản phẩm mới</a>
                        </div>
                    </div>
                    <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th ng-click="vm.sortData('Ma')" class="text-center">
                                    Mã SP
                                    <div ng-class="vm.getSortClass('Ma')"></div>
                                </th>
                                <th ng-click="vm.sortData('Title')" class="text-center">
                                    Tên sản phẩm
                                    <div ng-class="vm.getSortClass('Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('NhaSanXuat.Title')" class="text-center">
                                    Nhà sản xuất
                                    <div ng-class="vm.getSortClass('NhaSanXuat.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('Gia')"  class="text-center">
                                    Giá
                                    <div ng-class="vm.getSortClass('Gia')" class="text-center"></div>
                                </th>
                                <th ng-click="vm.sortData('DVT')">
                                    Đơn vị tính
                                    <div ng-class="vm.getSortClass('DVT')" class="text-center"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsProduct | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                <td>
                                    <a ng-href="#/sanpham/{{::item.Id}}">
                                        {{::item.Ma}}
                                    </a>
                                </td>
                                <td>
                                    <a ng-href="#/sanpham/{{::item.Id}}">
                                        {{::item.Title}}
                                    </a>
                                </td>
                                <td ng-bind="item.NhaSanXuat.Title"></td>
                                <td class="text-right" ng-bind="item.Gia | number:0"></td>
                                <td ng-bind="item.DVT"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
    
        </div>
        <!-- /.conainer-fluid-->
    </div>