<div data-ng-controller="ctLoaiChiPhiDuAn as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/loaichiphiduan/them">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctLoaiChiPhiDuAn">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctLoaiChiPhiDuAn" class="animated fadeIn">

                        <div class="form-group">
                            Dự án: {{vm.ctLoaiChiPhiDuAn.DuAn.Title}}
                        </div>
                        <div class="form-group">
                            <label>Loại chi phí dự án</label>
                            <input type="text" class="form-control" placeholder="Nhập thông tin"
                                ng-model="vm.ctLoaiChiPhiDuAn.Title">
                        </div>
                        <div class="form-group">
                            <label>Mã</label>
                            <input type="text" class="form-control" placeholder="Nhập thông tin"
                                ng-model="vm.ctLoaiChiPhiDuAn.Ma">
                        </div>
                        <div class="form-group">
                            <label>Giá trị dự án được duyệt</label>
                            <input type="text" class="form-control" placeholder="Nhập số tiền..." cleave="vm.formFormat.number"
                                ng-model="vm.ctLoaiChiPhiDuAn.GiaTriDuAnDuocDuyet">
                        </div>
                        <div class="form-group">
                            <label>Giá trị dự toán được duyệt</label>
                            <input type="text" class="form-control" placeholder="Nhập số tiền..." cleave="vm.formFormat.number"
                                ng-model="vm.ctLoaiChiPhiDuAn.GiaTriDuToanDuocDuyet">
                        </div>
                        
                        <div ng-if="+vm.ctLoaiChiPhiDuAn.AttachmentFiles.results.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tập tin đã tải lên</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.ctLoaiChiPhiDuAn.AttachmentFiles.results">
                                        <td><strong>{{ item.FileName }}</strong></td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Bắt đầu test upload -->
                        <div ng-if="+vm.uploader.queue.length > 0">

                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Tập tin sẽ tải lên</th>
                                        <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2
                                            }} MB</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End test upload -->
                        <div class="upload-btn-wrapper">
                            <button class="btn btn-outline-info">
                                <i class="ti-cloud-up"></i>
                                Chọn tệp tin tải lên
                            </button>
                            <input type="file" nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                multiple="multiple" />
                            <span ng-if="+vm.uploader.queue.length > 0">
                                Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                            </span>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctLoaiChiPhiDuAn.Author.Title"></strong> / lúc <strong ng-bind="vm.ctLoaiChiPhiDuAn.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctLoaiChiPhiDuAn.Editor.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctLoaiChiPhiDuAn.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctLoaiChiPhiDuAn.Title"
                                ng-if="vm.flagCanEdit" ladda="vm.btnSave">
                                <span class="btn-label"><i class="material-icons">check</i></span>
                                Lưu
                            </button>
                            <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/loaichiphiduan/{{vm.ctLoaiChiPhiDuAn.Id}}/sua?action=edit">
                                <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                            </a>
                            <button class="btn btn-danger align-middle" type="submit" data-ng-if="vm.showDelBtn && vm.flagCanEdit"
                                ng-click="vm.goDelete()">
                                <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                            </button>
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay
                                lại</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>