<div data-ng-controller="themLoaiChiPhiDuAn as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/loaichiphiduan/them/sua?action=edit">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctLoaiChiPhiDuAn">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctLoaiChiPhiDuAn" class="animated fadeIn">

                        <div class="form-group">
                            <label>Dự án <span class="text-danger" ng-hide="vm.ctLoaiChiPhiDuAn.DuAnId">*</span></label>
                            <ui-select ng-model="vm.ctLoaiChiPhiDuAn.DuAnId" theme="selectize" style="width: 100%;"
                                title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.DuAn | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Loại chi phí <span class="text-danger" ng-hide="vm.ctLoaiChiPhiDuAn.LoaiChiPhiId">*</span></label>
                            <ui-select ng-model="vm.ctLoaiChiPhiDuAn.LoaiChiPhiId" theme="selectize" style="width: 100%;"
                            ng-change="vm.checkLoaiChiPhiDuAn()" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                                    <div style="display:none">
                                        {{vm.CacheLoaiChiPhiSelected = $select.selected}}
                                    </div>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.LoaiChiPhi | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div ng-if="vm.CheckLoaiChiPhiDuAn">
                            <div class="form-group">
                                <label> Giá trị dự án được duyệt</label>
                                <input type="text" class="form-control" data-ng-model="vm.ctLoaiChiPhiDuAn.GiaTriDuAnDuocDuyet" cleave="vm.formFormat.number" placeholder="Nhập số tiền...">
                            </div>
                            <div class="form-group">
                                <label> Giá trị dự toán được duyệt</label>
                                <input type="text" class="form-control" data-ng-model="vm.ctLoaiChiPhiDuAn.GiaTriDuToanDuocDuyet" cleave="vm.formFormat.number" placeholder="Nhập số tiền...">
                            </div>
                            <!-- Bắt đầu test upload -->
                            <div ng-if="+vm.uploader.queue.length > 0">
            
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Tập tin sẽ tải lên</th>
                                            <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                            <th class="text-center">Gỡ bỏ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.uploader.queue">
                                            <td><strong>{{ item.file.name }}</strong></td>
                                            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i
                                                        class="ti-close"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End test upload -->
                            <div class="upload-btn-wrapper">
                                <button class="btn btn-outline-info">
                                    <i class="ti-cloud-up"></i>
                                    Chọn tệp tin tải lên
                                </button>
                                <input type="file" nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                    multiple="multiple" />
                                <span ng-if="+vm.uploader.queue.length > 0">
                                    Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                                </span>
                            </div>
                        </div>
                        <span ng-bind="vm.MsgLoaiChiPhiDuAn" class="text-danger"></span>
                        
                        <div>
                            <p ng-hide="vm.ctLoaiChiPhiDuAn.DuAnId && vm.ctLoaiChiPhiDuAn.LoaiChiPhiId && vm.CheckLoaiChiPhiDuAn">
                                <span class="text-danger">*</span>
                                <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                            </p>
                        </div>

                    </div>



                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctLoaiChiPhiDuAn.Author.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctLoaiChiPhiDuAn.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctLoaiChiPhiDuAn.Editor.Title"></strong> / lúc
                                <strong ng-bind="vm.ctLoaiChiPhiDuAn.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctLoaiChiPhiDuAn.DuAnId || !vm.ctLoaiChiPhiDuAn.LoaiChiPhiId || !vm.CheckLoaiChiPhiDuAn"
                                ladda="vm.btnSave">
                                <span class="btn-label"><i class="material-icons">check</i></span>
                                Lưu
                            </button>
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay
                                lại</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>