﻿/**
* Loadding placeholder like Facbook
**/
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.place-holder-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 15px;
    position: relative;
    margin-bottom: 20px;
}
/**
* End loadding placeholder like Facbook
**/

/********************************************
*********************************************
** Custom form border bottom material
*********************************************
*********************************************/
.form-control, .custom-file-control {
    background: no-repeat center bottom, center calc(100% - 1px);
    background-size: 0 100%, 100% 100%;
    border: 0;
    transition: background 0s ease-out;
    padding-left: 0;
    padding-right: 0; }
.form-control:focus, .custom-file-control:focus,
    .bmd-form-group.is-focused .form-control,
    .bmd-form-group.is-focused .custom-file-control {
      border: 0; box-shadow: none; /* HÃ²a thÃªm Ä‘á»ƒ emove border khi click */
      background-size: 100% 100%, 100% 100%;
      transition-duration: 0.3s; }
  
  .bmd-help {
    position: absolute;
    display: none;
    font-size: .8rem;
    font-weight: normal; }
    .bmd-form-group.is-focused .bmd-help {
      display: block; }
    .bmd-help:nth-of-type(2) {
      padding-top: 1rem; }
    .bmd-help + .bmd-help {
      position: relative;
      margin-bottom: 0; }
  
  .radio label,
  .is-focused .radio label,
  .radio-inline,
  .is-focused
  .radio-inline,
  .checkbox label,
  .is-focused
  .checkbox label,
  .checkbox-inline,
  .is-focused
  .checkbox-inline,
  .switch label,
  .is-focused
  .switch label {
    color: rgba(0, 0, 0, 0.26); }
    .radio label:hover, .radio label:focus, .radio label:active,
    .is-focused .radio label:hover,
    .is-focused .radio label:focus,
    .is-focused .radio label:active,
    .radio-inline:hover,
    .radio-inline:focus,
    .radio-inline:active,
    .is-focused
    .radio-inline:hover,
    .is-focused
    .radio-inline:focus,
    .is-focused
    .radio-inline:active,
    .checkbox label:hover,
    .checkbox label:focus,
    .checkbox label:active,
    .is-focused
    .checkbox label:hover,
    .is-focused
    .checkbox label:focus,
    .is-focused
    .checkbox label:active,
    .checkbox-inline:hover,
    .checkbox-inline:focus,
    .checkbox-inline:active,
    .is-focused
    .checkbox-inline:hover,
    .is-focused
    .checkbox-inline:focus,
    .is-focused
    .checkbox-inline:active,
    .switch label:hover,
    .switch label:focus,
    .switch label:active,
    .is-focused
    .switch label:hover,
    .is-focused
    .switch label:focus,
    .is-focused
    .switch label:active {
      color: rgba(0, 0, 0, 0.54); }
    .radio label label:has(input[type=radio][disabled]), .radio label label:has(input[type=radio][disabled]):hover, .radio label label:has(input[type=radio][disabled]):focus,
    .radio label label:has(input[type=checkbox][disabled]),
    .radio label label:has(input[type=checkbox][disabled]):hover,
    .radio label label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled] .radio label,
    fieldset[disabled] .radio label:hover,
    fieldset[disabled] .radio label:focus,
    .is-focused .radio label label:has(input[type=radio][disabled]),
    .is-focused .radio label label:has(input[type=radio][disabled]):hover,
    .is-focused .radio label label:has(input[type=radio][disabled]):focus,
    .is-focused .radio label label:has(input[type=checkbox][disabled]),
    .is-focused .radio label label:has(input[type=checkbox][disabled]):hover,
    .is-focused .radio label label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled]
    .is-focused .radio label,
    fieldset[disabled]
    .is-focused .radio label:hover,
    fieldset[disabled]
    .is-focused .radio label:focus,
    .radio-inline label:has(input[type=radio][disabled]),
    .radio-inline label:has(input[type=radio][disabled]):hover,
    .radio-inline label:has(input[type=radio][disabled]):focus,
    .radio-inline label:has(input[type=checkbox][disabled]),
    .radio-inline label:has(input[type=checkbox][disabled]):hover,
    .radio-inline label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled]
    .radio-inline,
    fieldset[disabled]
    .radio-inline:hover,
    fieldset[disabled]
    .radio-inline:focus,
    .is-focused
    .radio-inline label:has(input[type=radio][disabled]),
    .is-focused
    .radio-inline label:has(input[type=radio][disabled]):hover,
    .is-focused
    .radio-inline label:has(input[type=radio][disabled]):focus,
    .is-focused
    .radio-inline label:has(input[type=checkbox][disabled]),
    .is-focused
    .radio-inline label:has(input[type=checkbox][disabled]):hover,
    .is-focused
    .radio-inline label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled]
    .is-focused
    .radio-inline,
    fieldset[disabled]
    .is-focused
    .radio-inline:hover,
    fieldset[disabled]
    .is-focused
    .radio-inline:focus,
    .checkbox label label:has(input[type=radio][disabled]),
    .checkbox label label:has(input[type=radio][disabled]):hover,
    .checkbox label label:has(input[type=radio][disabled]):focus,
    .checkbox label label:has(input[type=checkbox][disabled]),
    .checkbox label label:has(input[type=checkbox][disabled]):hover,
    .checkbox label label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled]
    .checkbox label,
    fieldset[disabled]
    .checkbox label:hover,
    fieldset[disabled]
    .checkbox label:focus,
    .is-focused
    .checkbox label label:has(input[type=radio][disabled]),
    .is-focused
    .checkbox label label:has(input[type=radio][disabled]):hover,
    .is-focused
    .checkbox label label:has(input[type=radio][disabled]):focus,
    .is-focused
    .checkbox label label:has(input[type=checkbox][disabled]),
    .is-focused
    .checkbox label label:has(input[type=checkbox][disabled]):hover,
    .is-focused
    .checkbox label label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled]
    .is-focused
    .checkbox label,
    fieldset[disabled]
    .is-focused
    .checkbox label:hover,
    fieldset[disabled]
    .is-focused
    .checkbox label:focus,
    .checkbox-inline label:has(input[type=radio][disabled]),
    .checkbox-inline label:has(input[type=radio][disabled]):hover,
    .checkbox-inline label:has(input[type=radio][disabled]):focus,
    .checkbox-inline label:has(input[type=checkbox][disabled]),
    .checkbox-inline label:has(input[type=checkbox][disabled]):hover,
    .checkbox-inline label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled]
    .checkbox-inline,
    fieldset[disabled]
    .checkbox-inline:hover,
    fieldset[disabled]
    .checkbox-inline:focus,
    .is-focused
    .checkbox-inline label:has(input[type=radio][disabled]),
    .is-focused
    .checkbox-inline label:has(input[type=radio][disabled]):hover,
    .is-focused
    .checkbox-inline label:has(input[type=radio][disabled]):focus,
    .is-focused
    .checkbox-inline label:has(input[type=checkbox][disabled]),
    .is-focused
    .checkbox-inline label:has(input[type=checkbox][disabled]):hover,
    .is-focused
    .checkbox-inline label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled]
    .is-focused
    .checkbox-inline,
    fieldset[disabled]
    .is-focused
    .checkbox-inline:hover,
    fieldset[disabled]
    .is-focused
    .checkbox-inline:focus,
    .switch label label:has(input[type=radio][disabled]),
    .switch label label:has(input[type=radio][disabled]):hover,
    .switch label label:has(input[type=radio][disabled]):focus,
    .switch label label:has(input[type=checkbox][disabled]),
    .switch label label:has(input[type=checkbox][disabled]):hover,
    .switch label label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled]
    .switch label,
    fieldset[disabled]
    .switch label:hover,
    fieldset[disabled]
    .switch label:focus,
    .is-focused
    .switch label label:has(input[type=radio][disabled]),
    .is-focused
    .switch label label:has(input[type=radio][disabled]):hover,
    .is-focused
    .switch label label:has(input[type=radio][disabled]):focus,
    .is-focused
    .switch label label:has(input[type=checkbox][disabled]),
    .is-focused
    .switch label label:has(input[type=checkbox][disabled]):hover,
    .is-focused
    .switch label label:has(input[type=checkbox][disabled]):focus,
    fieldset[disabled]
    .is-focused
    .switch label,
    fieldset[disabled]
    .is-focused
    .switch label:hover,
    fieldset[disabled]
    .is-focused
    .switch label:focus {
      color: rgba(0, 0, 0, 0.26); }
  
  [class^='bmd-label'],
  [class*=' bmd-label'] {
    color: rgba(0, 0, 0, 0.26); }
  
  .form-control, .custom-file-control,
  .is-focused .form-control,
  .is-focused .custom-file-control {
    background-image: linear-gradient(to top, #009688 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .form-control:invalid, .custom-file-control:invalid {
    background-image: linear-gradient(to top, #d50000 2px, rgba(213, 0, 0, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .form-control:read-only, .custom-file-control:read-only {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  fieldset[disabled][disabled] .form-control, fieldset[disabled][disabled] .custom-file-control, .form-control.disabled, .disabled.custom-file-control, .form-control:disabled, .custom-file-control:disabled, .form-control[disabled], [disabled].custom-file-control {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 30%, transparent 30%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 3px 1px; }
  
  .form-control.form-control-success, .form-control-success.custom-file-control,
  .is-focused .form-control.form-control-success,
  .is-focused .form-control-success.custom-file-control {
    background-image: linear-gradient(to top, #009688 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg=="; }
  
  .form-control.form-control-warning, .form-control-warning.custom-file-control,
  .is-focused .form-control.form-control-warning,
  .is-focused .form-control-warning.custom-file-control {
    background-image: linear-gradient(to top, #009688 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+"; }
  
  .form-control.form-control-danger, .form-control-danger.custom-file-control,
  .is-focused .form-control.form-control-danger,
  .is-focused .form-control-danger.custom-file-control {
    background-image: linear-gradient(to top, #009688 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4="; }
  
  .is-focused .valid-feedback,
  .is-focused .valid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.26); }
  
  .is-focused .valid-tooltip,
  .is-focused .valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: .2rem; }
  
  .was-validated .is-focused .form-control:valid, .was-validated .is-focused .custom-file-control:valid, .is-focused .form-control.is-valid, .is-focused .is-valid.custom-file-control, .was-validated
  .is-focused .custom-select:valid,
  .is-focused .custom-select.is-valid, .was-validated
  .is-focused .form-control:valid, .was-validated
  .is-focused .custom-file-control:valid,
  .is-focused .form-control.is-valid,
  .is-focused .is-valid.custom-file-control, .was-validated
  .is-focused .custom-select:valid,
  .is-focused .custom-select.is-valid {
    border-color: rgba(0, 0, 0, 0.26); }
    .was-validated .is-focused .form-control:valid:focus, .was-validated .is-focused .custom-file-control:valid:focus, .is-focused .form-control.is-valid:focus, .is-focused .is-valid.custom-file-control:focus, .was-validated
    .is-focused .custom-select:valid:focus,
    .is-focused .custom-select.is-valid:focus, .was-validated
    .is-focused .form-control:valid:focus, .was-validated
    .is-focused .custom-file-control:valid:focus,
    .is-focused .form-control.is-valid:focus,
    .is-focused .is-valid.custom-file-control:focus, .was-validated
    .is-focused .custom-select:valid:focus,
    .is-focused .custom-select.is-valid:focus {
      border-color: rgba(0, 0, 0, 0.26);
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }
    .was-validated .is-focused .form-control:valid ~ .valid-feedback, .was-validated .is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated .is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated .is-focused .custom-file-control:valid ~ .valid-tooltip, .is-focused .form-control.is-valid ~ .valid-feedback, .is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .is-focused .form-control.is-valid ~ .valid-tooltip,
    .is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .is-focused .custom-select:valid ~ .valid-tooltip,
    .is-focused .custom-select.is-valid ~ .valid-feedback,
    .is-focused .custom-select.is-valid ~ .valid-tooltip, .was-validated
    .is-focused .form-control:valid ~ .valid-feedback, .was-validated
    .is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated
    .is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated
    .is-focused .custom-file-control:valid ~ .valid-tooltip,
    .is-focused .form-control.is-valid ~ .valid-feedback,
    .is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .is-focused .form-control.is-valid ~ .valid-tooltip,
    .is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .is-focused .custom-select:valid ~ .valid-tooltip,
    .is-focused .custom-select.is-valid ~ .valid-feedback,
    .is-focused .custom-select.is-valid ~ .valid-tooltip {
      display: block; }
  
  .was-validated .is-focused .form-check-input:valid ~ .form-check-label, .is-focused .form-check-input.is-valid ~ .form-check-label, .was-validated
  .is-focused .form-check-input:valid ~ .form-check-label,
  .is-focused .form-check-input.is-valid ~ .form-check-label {
    color: rgba(0, 0, 0, 0.26); }
  
  .was-validated .is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated .is-focused .form-check-input:valid ~ .valid-tooltip, .is-focused .form-check-input.is-valid ~ .valid-feedback,
  .is-focused .form-check-input.is-valid ~ .valid-tooltip, .was-validated
  .is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated
  .is-focused .form-check-input:valid ~ .valid-tooltip,
  .is-focused .form-check-input.is-valid ~ .valid-feedback,
  .is-focused .form-check-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .is-focused .custom-control-input:valid ~ .custom-control-label, .is-focused .custom-control-input.is-valid ~ .custom-control-label, .was-validated
  .is-focused .custom-control-input:valid ~ .custom-control-label,
  .is-focused .custom-control-input.is-valid ~ .custom-control-label {
    color: rgba(0, 0, 0, 0.26); }
    .was-validated .is-focused .custom-control-input:valid ~ .custom-control-label::before, .is-focused .custom-control-input.is-valid ~ .custom-control-label::before, .was-validated
    .is-focused .custom-control-input:valid ~ .custom-control-label::before,
    .is-focused .custom-control-input.is-valid ~ .custom-control-label::before {
      background-color: rgba(64, 64, 64, 0.26); }
  
  .was-validated .is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated .is-focused .custom-control-input:valid ~ .valid-tooltip, .is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .is-focused .custom-control-input.is-valid ~ .valid-tooltip, .was-validated
  .is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated
  .is-focused .custom-control-input:valid ~ .valid-tooltip,
  .is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .is-focused .custom-control-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated
  .is-focused .custom-control-input:valid:checked ~ .custom-control-label::before,
  .is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before {
    background-color: rgba(26, 26, 26, 0.26); }
  
  .was-validated .is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before, .was-validated
  .is-focused .custom-control-input:valid:focus ~ .custom-control-label::before,
  .is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fafafa, 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }
  
  .was-validated .is-focused .custom-file-input:valid ~ .custom-file-label, .is-focused .custom-file-input.is-valid ~ .custom-file-label, .was-validated
  .is-focused .custom-file-input:valid ~ .custom-file-label,
  .is-focused .custom-file-input.is-valid ~ .custom-file-label {
    border-color: rgba(0, 0, 0, 0.26); }
    .was-validated .is-focused .custom-file-input:valid ~ .custom-file-label::before, .is-focused .custom-file-input.is-valid ~ .custom-file-label::before, .was-validated
    .is-focused .custom-file-input:valid ~ .custom-file-label::before,
    .is-focused .custom-file-input.is-valid ~ .custom-file-label::before {
      border-color: inherit; }
  
  .was-validated .is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated .is-focused .custom-file-input:valid ~ .valid-tooltip, .is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .is-focused .custom-file-input.is-valid ~ .valid-tooltip, .was-validated
  .is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated
  .is-focused .custom-file-input:valid ~ .valid-tooltip,
  .is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .is-focused .custom-file-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .is-focused .custom-file-input:valid:focus ~ .custom-file-label, .is-focused .custom-file-input.is-valid:focus ~ .custom-file-label, .was-validated
  .is-focused .custom-file-input:valid:focus ~ .custom-file-label,
  .is-focused .custom-file-input.is-valid:focus ~ .custom-file-label {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }
  
  .is-focused [class^='bmd-label'],
  .is-focused [class*=' bmd-label'],
  .is-focused [class^='bmd-label'],
  .is-focused [class*=' bmd-label'] {
    color: #009688; }
  
  .is-focused .bmd-label-placeholder,
  .is-focused .bmd-label-placeholder {
    color: rgba(0, 0, 0, 0.26); }
  
  .is-focused .form-control, .is-focused .custom-file-control,
  .is-focused .form-control,
  .is-focused .custom-file-control {
    border-color: rgba(0, 0, 0, 0.26); }
  
  .is-focused .bmd-help,
  .is-focused .bmd-help {
    color: rgba(0, 0, 0, 0.54); }
  
  .has-success [class^='bmd-label'],
  .has-success [class*=' bmd-label'] {
    color: #4caf50; }
  
  .has-success .form-control, .has-success .custom-file-control,
  .is-focused .has-success .form-control,
  .is-focused .has-success .custom-file-control {
    background-image: linear-gradient(to top, #4caf50 2px, rgba(76, 175, 80, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .has-success .form-control:invalid, .has-success .custom-file-control:invalid {
    background-image: linear-gradient(to top, #d50000 2px, rgba(213, 0, 0, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .has-success .form-control:read-only, .has-success .custom-file-control:read-only {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  fieldset[disabled][disabled] .has-success .form-control, fieldset[disabled][disabled] .has-success .custom-file-control, .has-success .form-control.disabled, .has-success .disabled.custom-file-control, .has-success .form-control:disabled, .has-success .custom-file-control:disabled, .has-success .form-control[disabled], .has-success [disabled].custom-file-control {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 30%, transparent 30%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 3px 1px; }
  
  .has-success .form-control.form-control-success, .has-success .form-control-success.custom-file-control,
  .is-focused .has-success .form-control.form-control-success,
  .is-focused .has-success .form-control-success.custom-file-control {
    background-image: linear-gradient(to top, #4caf50 2px, rgba(76, 175, 80, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg=="; }
  
  .has-success .form-control.form-control-warning, .has-success .form-control-warning.custom-file-control,
  .is-focused .has-success .form-control.form-control-warning,
  .is-focused .has-success .form-control-warning.custom-file-control {
    background-image: linear-gradient(to top, #4caf50 2px, rgba(76, 175, 80, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+"; }
  
  .has-success .form-control.form-control-danger, .has-success .form-control-danger.custom-file-control,
  .is-focused .has-success .form-control.form-control-danger,
  .is-focused .has-success .form-control-danger.custom-file-control {
    background-image: linear-gradient(to top, #4caf50 2px, rgba(76, 175, 80, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4="; }
  
  .has-success .is-focused .valid-feedback, .has-success.is-focused .valid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #4caf50; }
  
  .has-success .is-focused .valid-tooltip, .has-success.is-focused .valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(76, 175, 80, 0.8);
    border-radius: .2rem; }
  
  .was-validated .has-success .is-focused .form-control:valid, .was-validated .has-success .is-focused .custom-file-control:valid, .has-success .is-focused .form-control.is-valid, .has-success .is-focused .is-valid.custom-file-control, .was-validated
  .has-success .is-focused .custom-select:valid,
  .has-success .is-focused .custom-select.is-valid, .was-validated .has-success.is-focused .form-control:valid, .was-validated .has-success.is-focused .custom-file-control:valid, .has-success.is-focused .form-control.is-valid, .has-success.is-focused .is-valid.custom-file-control, .was-validated
  .has-success.is-focused .custom-select:valid,
  .has-success.is-focused .custom-select.is-valid {
    border-color: #4caf50; }
    .was-validated .has-success .is-focused .form-control:valid:focus, .was-validated .has-success .is-focused .custom-file-control:valid:focus, .has-success .is-focused .form-control.is-valid:focus, .has-success .is-focused .is-valid.custom-file-control:focus, .was-validated
    .has-success .is-focused .custom-select:valid:focus,
    .has-success .is-focused .custom-select.is-valid:focus, .was-validated .has-success.is-focused .form-control:valid:focus, .was-validated .has-success.is-focused .custom-file-control:valid:focus, .has-success.is-focused .form-control.is-valid:focus, .has-success.is-focused .is-valid.custom-file-control:focus, .was-validated
    .has-success.is-focused .custom-select:valid:focus,
    .has-success.is-focused .custom-select.is-valid:focus {
      border-color: #4caf50;
      box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25); }
    .was-validated .has-success .is-focused .form-control:valid ~ .valid-feedback, .was-validated .has-success .is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated .has-success .is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated .has-success .is-focused .custom-file-control:valid ~ .valid-tooltip, .has-success .is-focused .form-control.is-valid ~ .valid-feedback, .has-success .is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .has-success .is-focused .form-control.is-valid ~ .valid-tooltip,
    .has-success .is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .has-success .is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .has-success .is-focused .custom-select:valid ~ .valid-tooltip,
    .has-success .is-focused .custom-select.is-valid ~ .valid-feedback,
    .has-success .is-focused .custom-select.is-valid ~ .valid-tooltip, .was-validated .has-success.is-focused .form-control:valid ~ .valid-feedback, .was-validated .has-success.is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated .has-success.is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated .has-success.is-focused .custom-file-control:valid ~ .valid-tooltip, .has-success.is-focused .form-control.is-valid ~ .valid-feedback, .has-success.is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .has-success.is-focused .form-control.is-valid ~ .valid-tooltip,
    .has-success.is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .has-success.is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .has-success.is-focused .custom-select:valid ~ .valid-tooltip,
    .has-success.is-focused .custom-select.is-valid ~ .valid-feedback,
    .has-success.is-focused .custom-select.is-valid ~ .valid-tooltip {
      display: block; }
  
  .was-validated .has-success .is-focused .form-check-input:valid ~ .form-check-label, .has-success .is-focused .form-check-input.is-valid ~ .form-check-label, .was-validated .has-success.is-focused .form-check-input:valid ~ .form-check-label, .has-success.is-focused .form-check-input.is-valid ~ .form-check-label {
    color: #4caf50; }
  
  .was-validated .has-success .is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated .has-success .is-focused .form-check-input:valid ~ .valid-tooltip, .has-success .is-focused .form-check-input.is-valid ~ .valid-feedback,
  .has-success .is-focused .form-check-input.is-valid ~ .valid-tooltip, .was-validated .has-success.is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated .has-success.is-focused .form-check-input:valid ~ .valid-tooltip, .has-success.is-focused .form-check-input.is-valid ~ .valid-feedback,
  .has-success.is-focused .form-check-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-success .is-focused .custom-control-input:valid ~ .custom-control-label, .has-success .is-focused .custom-control-input.is-valid ~ .custom-control-label, .was-validated .has-success.is-focused .custom-control-input:valid ~ .custom-control-label, .has-success.is-focused .custom-control-input.is-valid ~ .custom-control-label {
    color: #4caf50; }
    .was-validated .has-success .is-focused .custom-control-input:valid ~ .custom-control-label::before, .has-success .is-focused .custom-control-input.is-valid ~ .custom-control-label::before, .was-validated .has-success.is-focused .custom-control-input:valid ~ .custom-control-label::before, .has-success.is-focused .custom-control-input.is-valid ~ .custom-control-label::before {
      background-color: #a3d7a5; }
  
  .was-validated .has-success .is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated .has-success .is-focused .custom-control-input:valid ~ .valid-tooltip, .has-success .is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .has-success .is-focused .custom-control-input.is-valid ~ .valid-tooltip, .was-validated .has-success.is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated .has-success.is-focused .custom-control-input:valid ~ .valid-tooltip, .has-success.is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .has-success.is-focused .custom-control-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-success .is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .has-success .is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated .has-success.is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .has-success.is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before {
    background-color: #6ec071; }
  
  .was-validated .has-success .is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .has-success .is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before, .was-validated .has-success.is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .has-success.is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fafafa, 0 0 0 0.2rem rgba(76, 175, 80, 0.25); }
  
  .was-validated .has-success .is-focused .custom-file-input:valid ~ .custom-file-label, .has-success .is-focused .custom-file-input.is-valid ~ .custom-file-label, .was-validated .has-success.is-focused .custom-file-input:valid ~ .custom-file-label, .has-success.is-focused .custom-file-input.is-valid ~ .custom-file-label {
    border-color: #4caf50; }
    .was-validated .has-success .is-focused .custom-file-input:valid ~ .custom-file-label::before, .has-success .is-focused .custom-file-input.is-valid ~ .custom-file-label::before, .was-validated .has-success.is-focused .custom-file-input:valid ~ .custom-file-label::before, .has-success.is-focused .custom-file-input.is-valid ~ .custom-file-label::before {
      border-color: inherit; }
  
  .was-validated .has-success .is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated .has-success .is-focused .custom-file-input:valid ~ .valid-tooltip, .has-success .is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .has-success .is-focused .custom-file-input.is-valid ~ .valid-tooltip, .was-validated .has-success.is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated .has-success.is-focused .custom-file-input:valid ~ .valid-tooltip, .has-success.is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .has-success.is-focused .custom-file-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-success .is-focused .custom-file-input:valid:focus ~ .custom-file-label, .has-success .is-focused .custom-file-input.is-valid:focus ~ .custom-file-label, .was-validated .has-success.is-focused .custom-file-input:valid:focus ~ .custom-file-label, .has-success.is-focused .custom-file-input.is-valid:focus ~ .custom-file-label {
    box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25); }
  
  .has-success .is-focused [class^='bmd-label'],
  .has-success .is-focused [class*=' bmd-label'], .has-success.is-focused [class^='bmd-label'],
  .has-success.is-focused [class*=' bmd-label'] {
    color: #4caf50; }
  
  .has-success .is-focused .bmd-label-placeholder, .has-success.is-focused .bmd-label-placeholder {
    color: #4caf50; }
  
  .has-success .is-focused .form-control, .has-success .is-focused .custom-file-control, .has-success.is-focused .form-control, .has-success.is-focused .custom-file-control {
    border-color: #4caf50; }
  
  .has-success .is-focused .bmd-help, .has-success.is-focused .bmd-help {
    color: rgba(0, 0, 0, 0.54); }
  
  .has-info [class^='bmd-label'],
  .has-info [class*=' bmd-label'] {
    color: #03a9f4; }
  
  .has-info .form-control, .has-info .custom-file-control,
  .is-focused .has-info .form-control,
  .is-focused .has-info .custom-file-control {
    background-image: linear-gradient(to top, #03a9f4 2px, rgba(3, 169, 244, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .has-info .form-control:invalid, .has-info .custom-file-control:invalid {
    background-image: linear-gradient(to top, #d50000 2px, rgba(213, 0, 0, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .has-info .form-control:read-only, .has-info .custom-file-control:read-only {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  fieldset[disabled][disabled] .has-info .form-control, fieldset[disabled][disabled] .has-info .custom-file-control, .has-info .form-control.disabled, .has-info .disabled.custom-file-control, .has-info .form-control:disabled, .has-info .custom-file-control:disabled, .has-info .form-control[disabled], .has-info [disabled].custom-file-control {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 30%, transparent 30%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 3px 1px; }
  
  .has-info .form-control.form-control-success, .has-info .form-control-success.custom-file-control,
  .is-focused .has-info .form-control.form-control-success,
  .is-focused .has-info .form-control-success.custom-file-control {
    background-image: linear-gradient(to top, #03a9f4 2px, rgba(3, 169, 244, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg=="; }
  
  .has-info .form-control.form-control-warning, .has-info .form-control-warning.custom-file-control,
  .is-focused .has-info .form-control.form-control-warning,
  .is-focused .has-info .form-control-warning.custom-file-control {
    background-image: linear-gradient(to top, #03a9f4 2px, rgba(3, 169, 244, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+"; }
  
  .has-info .form-control.form-control-danger, .has-info .form-control-danger.custom-file-control,
  .is-focused .has-info .form-control.form-control-danger,
  .is-focused .has-info .form-control-danger.custom-file-control {
    background-image: linear-gradient(to top, #03a9f4 2px, rgba(3, 169, 244, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4="; }
  
  .has-info .is-focused .valid-feedback, .has-info.is-focused .valid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #03a9f4; }
  
  .has-info .is-focused .valid-tooltip, .has-info.is-focused .valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(3, 169, 244, 0.8);
    border-radius: .2rem; }
  
  .was-validated .has-info .is-focused .form-control:valid, .was-validated .has-info .is-focused .custom-file-control:valid, .has-info .is-focused .form-control.is-valid, .has-info .is-focused .is-valid.custom-file-control, .was-validated
  .has-info .is-focused .custom-select:valid,
  .has-info .is-focused .custom-select.is-valid, .was-validated .has-info.is-focused .form-control:valid, .was-validated .has-info.is-focused .custom-file-control:valid, .has-info.is-focused .form-control.is-valid, .has-info.is-focused .is-valid.custom-file-control, .was-validated
  .has-info.is-focused .custom-select:valid,
  .has-info.is-focused .custom-select.is-valid {
    border-color: #03a9f4; }
    .was-validated .has-info .is-focused .form-control:valid:focus, .was-validated .has-info .is-focused .custom-file-control:valid:focus, .has-info .is-focused .form-control.is-valid:focus, .has-info .is-focused .is-valid.custom-file-control:focus, .was-validated
    .has-info .is-focused .custom-select:valid:focus,
    .has-info .is-focused .custom-select.is-valid:focus, .was-validated .has-info.is-focused .form-control:valid:focus, .was-validated .has-info.is-focused .custom-file-control:valid:focus, .has-info.is-focused .form-control.is-valid:focus, .has-info.is-focused .is-valid.custom-file-control:focus, .was-validated
    .has-info.is-focused .custom-select:valid:focus,
    .has-info.is-focused .custom-select.is-valid:focus {
      border-color: #03a9f4;
      box-shadow: 0 0 0 0.2rem rgba(3, 169, 244, 0.25); }
    .was-validated .has-info .is-focused .form-control:valid ~ .valid-feedback, .was-validated .has-info .is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated .has-info .is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated .has-info .is-focused .custom-file-control:valid ~ .valid-tooltip, .has-info .is-focused .form-control.is-valid ~ .valid-feedback, .has-info .is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .has-info .is-focused .form-control.is-valid ~ .valid-tooltip,
    .has-info .is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .has-info .is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .has-info .is-focused .custom-select:valid ~ .valid-tooltip,
    .has-info .is-focused .custom-select.is-valid ~ .valid-feedback,
    .has-info .is-focused .custom-select.is-valid ~ .valid-tooltip, .was-validated .has-info.is-focused .form-control:valid ~ .valid-feedback, .was-validated .has-info.is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated .has-info.is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated .has-info.is-focused .custom-file-control:valid ~ .valid-tooltip, .has-info.is-focused .form-control.is-valid ~ .valid-feedback, .has-info.is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .has-info.is-focused .form-control.is-valid ~ .valid-tooltip,
    .has-info.is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .has-info.is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .has-info.is-focused .custom-select:valid ~ .valid-tooltip,
    .has-info.is-focused .custom-select.is-valid ~ .valid-feedback,
    .has-info.is-focused .custom-select.is-valid ~ .valid-tooltip {
      display: block; }
  
  .was-validated .has-info .is-focused .form-check-input:valid ~ .form-check-label, .has-info .is-focused .form-check-input.is-valid ~ .form-check-label, .was-validated .has-info.is-focused .form-check-input:valid ~ .form-check-label, .has-info.is-focused .form-check-input.is-valid ~ .form-check-label {
    color: #03a9f4; }
  
  .was-validated .has-info .is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated .has-info .is-focused .form-check-input:valid ~ .valid-tooltip, .has-info .is-focused .form-check-input.is-valid ~ .valid-feedback,
  .has-info .is-focused .form-check-input.is-valid ~ .valid-tooltip, .was-validated .has-info.is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated .has-info.is-focused .form-check-input:valid ~ .valid-tooltip, .has-info.is-focused .form-check-input.is-valid ~ .valid-feedback,
  .has-info.is-focused .form-check-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-info .is-focused .custom-control-input:valid ~ .custom-control-label, .has-info .is-focused .custom-control-input.is-valid ~ .custom-control-label, .was-validated .has-info.is-focused .custom-control-input:valid ~ .custom-control-label, .has-info.is-focused .custom-control-input.is-valid ~ .custom-control-label {
    color: #03a9f4; }
    .was-validated .has-info .is-focused .custom-control-input:valid ~ .custom-control-label::before, .has-info .is-focused .custom-control-input.is-valid ~ .custom-control-label::before, .was-validated .has-info.is-focused .custom-control-input:valid ~ .custom-control-label::before, .has-info.is-focused .custom-control-input.is-valid ~ .custom-control-label::before {
      background-color: #79d4fd; }
  
  .was-validated .has-info .is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated .has-info .is-focused .custom-control-input:valid ~ .valid-tooltip, .has-info .is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .has-info .is-focused .custom-control-input.is-valid ~ .valid-tooltip, .was-validated .has-info.is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated .has-info.is-focused .custom-control-input:valid ~ .valid-tooltip, .has-info.is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .has-info.is-focused .custom-control-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-info .is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .has-info .is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated .has-info.is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .has-info.is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before {
    background-color: #2ebcfc; }
  
  .was-validated .has-info .is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .has-info .is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before, .was-validated .has-info.is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .has-info.is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fafafa, 0 0 0 0.2rem rgba(3, 169, 244, 0.25); }
  
  .was-validated .has-info .is-focused .custom-file-input:valid ~ .custom-file-label, .has-info .is-focused .custom-file-input.is-valid ~ .custom-file-label, .was-validated .has-info.is-focused .custom-file-input:valid ~ .custom-file-label, .has-info.is-focused .custom-file-input.is-valid ~ .custom-file-label {
    border-color: #03a9f4; }
    .was-validated .has-info .is-focused .custom-file-input:valid ~ .custom-file-label::before, .has-info .is-focused .custom-file-input.is-valid ~ .custom-file-label::before, .was-validated .has-info.is-focused .custom-file-input:valid ~ .custom-file-label::before, .has-info.is-focused .custom-file-input.is-valid ~ .custom-file-label::before {
      border-color: inherit; }
  
  .was-validated .has-info .is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated .has-info .is-focused .custom-file-input:valid ~ .valid-tooltip, .has-info .is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .has-info .is-focused .custom-file-input.is-valid ~ .valid-tooltip, .was-validated .has-info.is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated .has-info.is-focused .custom-file-input:valid ~ .valid-tooltip, .has-info.is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .has-info.is-focused .custom-file-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-info .is-focused .custom-file-input:valid:focus ~ .custom-file-label, .has-info .is-focused .custom-file-input.is-valid:focus ~ .custom-file-label, .was-validated .has-info.is-focused .custom-file-input:valid:focus ~ .custom-file-label, .has-info.is-focused .custom-file-input.is-valid:focus ~ .custom-file-label {
    box-shadow: 0 0 0 0.2rem rgba(3, 169, 244, 0.25); }
  
  .has-info .is-focused [class^='bmd-label'],
  .has-info .is-focused [class*=' bmd-label'], .has-info.is-focused [class^='bmd-label'],
  .has-info.is-focused [class*=' bmd-label'] {
    color: #03a9f4; }
  
  .has-info .is-focused .bmd-label-placeholder, .has-info.is-focused .bmd-label-placeholder {
    color: #03a9f4; }
  
  .has-info .is-focused .form-control, .has-info .is-focused .custom-file-control, .has-info.is-focused .form-control, .has-info.is-focused .custom-file-control {
    border-color: #03a9f4; }
  
  .has-info .is-focused .bmd-help, .has-info.is-focused .bmd-help {
    color: rgba(0, 0, 0, 0.54); }
  
  .has-warning [class^='bmd-label'],
  .has-warning [class*=' bmd-label'] {
    color: #ff5722; }
  
  .has-warning .form-control, .has-warning .custom-file-control,
  .is-focused .has-warning .form-control,
  .is-focused .has-warning .custom-file-control {
    background-image: linear-gradient(to top, #ff5722 2px, rgba(255, 87, 34, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .has-warning .form-control:invalid, .has-warning .custom-file-control:invalid {
    background-image: linear-gradient(to top, #d50000 2px, rgba(213, 0, 0, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .has-warning .form-control:read-only, .has-warning .custom-file-control:read-only {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  fieldset[disabled][disabled] .has-warning .form-control, fieldset[disabled][disabled] .has-warning .custom-file-control, .has-warning .form-control.disabled, .has-warning .disabled.custom-file-control, .has-warning .form-control:disabled, .has-warning .custom-file-control:disabled, .has-warning .form-control[disabled], .has-warning [disabled].custom-file-control {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 30%, transparent 30%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 3px 1px; }
  
  .has-warning .form-control.form-control-success, .has-warning .form-control-success.custom-file-control,
  .is-focused .has-warning .form-control.form-control-success,
  .is-focused .has-warning .form-control-success.custom-file-control {
    background-image: linear-gradient(to top, #ff5722 2px, rgba(255, 87, 34, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg=="; }
  
  .has-warning .form-control.form-control-warning, .has-warning .form-control-warning.custom-file-control,
  .is-focused .has-warning .form-control.form-control-warning,
  .is-focused .has-warning .form-control-warning.custom-file-control {
    background-image: linear-gradient(to top, #ff5722 2px, rgba(255, 87, 34, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+"; }
  
  .has-warning .form-control.form-control-danger, .has-warning .form-control-danger.custom-file-control,
  .is-focused .has-warning .form-control.form-control-danger,
  .is-focused .has-warning .form-control-danger.custom-file-control {
    background-image: linear-gradient(to top, #ff5722 2px, rgba(255, 87, 34, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4="; }
  
  .has-warning .is-focused .valid-feedback, .has-warning.is-focused .valid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #ff5722; }
  
  .has-warning .is-focused .valid-tooltip, .has-warning.is-focused .valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(255, 87, 34, 0.8);
    border-radius: .2rem; }
  
  .was-validated .has-warning .is-focused .form-control:valid, .was-validated .has-warning .is-focused .custom-file-control:valid, .has-warning .is-focused .form-control.is-valid, .has-warning .is-focused .is-valid.custom-file-control, .was-validated
  .has-warning .is-focused .custom-select:valid,
  .has-warning .is-focused .custom-select.is-valid, .was-validated .has-warning.is-focused .form-control:valid, .was-validated .has-warning.is-focused .custom-file-control:valid, .has-warning.is-focused .form-control.is-valid, .has-warning.is-focused .is-valid.custom-file-control, .was-validated
  .has-warning.is-focused .custom-select:valid,
  .has-warning.is-focused .custom-select.is-valid {
    border-color: #ff5722; }
    .was-validated .has-warning .is-focused .form-control:valid:focus, .was-validated .has-warning .is-focused .custom-file-control:valid:focus, .has-warning .is-focused .form-control.is-valid:focus, .has-warning .is-focused .is-valid.custom-file-control:focus, .was-validated
    .has-warning .is-focused .custom-select:valid:focus,
    .has-warning .is-focused .custom-select.is-valid:focus, .was-validated .has-warning.is-focused .form-control:valid:focus, .was-validated .has-warning.is-focused .custom-file-control:valid:focus, .has-warning.is-focused .form-control.is-valid:focus, .has-warning.is-focused .is-valid.custom-file-control:focus, .was-validated
    .has-warning.is-focused .custom-select:valid:focus,
    .has-warning.is-focused .custom-select.is-valid:focus {
      border-color: #ff5722;
      box-shadow: 0 0 0 0.2rem rgba(255, 87, 34, 0.25); }
    .was-validated .has-warning .is-focused .form-control:valid ~ .valid-feedback, .was-validated .has-warning .is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated .has-warning .is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated .has-warning .is-focused .custom-file-control:valid ~ .valid-tooltip, .has-warning .is-focused .form-control.is-valid ~ .valid-feedback, .has-warning .is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .has-warning .is-focused .form-control.is-valid ~ .valid-tooltip,
    .has-warning .is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .has-warning .is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .has-warning .is-focused .custom-select:valid ~ .valid-tooltip,
    .has-warning .is-focused .custom-select.is-valid ~ .valid-feedback,
    .has-warning .is-focused .custom-select.is-valid ~ .valid-tooltip, .was-validated .has-warning.is-focused .form-control:valid ~ .valid-feedback, .was-validated .has-warning.is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated .has-warning.is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated .has-warning.is-focused .custom-file-control:valid ~ .valid-tooltip, .has-warning.is-focused .form-control.is-valid ~ .valid-feedback, .has-warning.is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .has-warning.is-focused .form-control.is-valid ~ .valid-tooltip,
    .has-warning.is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .has-warning.is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .has-warning.is-focused .custom-select:valid ~ .valid-tooltip,
    .has-warning.is-focused .custom-select.is-valid ~ .valid-feedback,
    .has-warning.is-focused .custom-select.is-valid ~ .valid-tooltip {
      display: block; }
  
  .was-validated .has-warning .is-focused .form-check-input:valid ~ .form-check-label, .has-warning .is-focused .form-check-input.is-valid ~ .form-check-label, .was-validated .has-warning.is-focused .form-check-input:valid ~ .form-check-label, .has-warning.is-focused .form-check-input.is-valid ~ .form-check-label {
    color: #ff5722; }
  
  .was-validated .has-warning .is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated .has-warning .is-focused .form-check-input:valid ~ .valid-tooltip, .has-warning .is-focused .form-check-input.is-valid ~ .valid-feedback,
  .has-warning .is-focused .form-check-input.is-valid ~ .valid-tooltip, .was-validated .has-warning.is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated .has-warning.is-focused .form-check-input:valid ~ .valid-tooltip, .has-warning.is-focused .form-check-input.is-valid ~ .valid-feedback,
  .has-warning.is-focused .form-check-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-warning .is-focused .custom-control-input:valid ~ .custom-control-label, .has-warning .is-focused .custom-control-input.is-valid ~ .custom-control-label, .was-validated .has-warning.is-focused .custom-control-input:valid ~ .custom-control-label, .has-warning.is-focused .custom-control-input.is-valid ~ .custom-control-label {
    color: #ff5722; }
    .was-validated .has-warning .is-focused .custom-control-input:valid ~ .custom-control-label::before, .has-warning .is-focused .custom-control-input.is-valid ~ .custom-control-label::before, .was-validated .has-warning.is-focused .custom-control-input:valid ~ .custom-control-label::before, .has-warning.is-focused .custom-control-input.is-valid ~ .custom-control-label::before {
      background-color: #ffb8a2; }
  
  .was-validated .has-warning .is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated .has-warning .is-focused .custom-control-input:valid ~ .valid-tooltip, .has-warning .is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .has-warning .is-focused .custom-control-input.is-valid ~ .valid-tooltip, .was-validated .has-warning.is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated .has-warning.is-focused .custom-control-input:valid ~ .valid-tooltip, .has-warning.is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .has-warning.is-focused .custom-control-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-warning .is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .has-warning .is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated .has-warning.is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .has-warning.is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before {
    background-color: #ff7e55; }
  
  .was-validated .has-warning .is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .has-warning .is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before, .was-validated .has-warning.is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .has-warning.is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fafafa, 0 0 0 0.2rem rgba(255, 87, 34, 0.25); }
  
  .was-validated .has-warning .is-focused .custom-file-input:valid ~ .custom-file-label, .has-warning .is-focused .custom-file-input.is-valid ~ .custom-file-label, .was-validated .has-warning.is-focused .custom-file-input:valid ~ .custom-file-label, .has-warning.is-focused .custom-file-input.is-valid ~ .custom-file-label {
    border-color: #ff5722; }
    .was-validated .has-warning .is-focused .custom-file-input:valid ~ .custom-file-label::before, .has-warning .is-focused .custom-file-input.is-valid ~ .custom-file-label::before, .was-validated .has-warning.is-focused .custom-file-input:valid ~ .custom-file-label::before, .has-warning.is-focused .custom-file-input.is-valid ~ .custom-file-label::before {
      border-color: inherit; }
  
  .was-validated .has-warning .is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated .has-warning .is-focused .custom-file-input:valid ~ .valid-tooltip, .has-warning .is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .has-warning .is-focused .custom-file-input.is-valid ~ .valid-tooltip, .was-validated .has-warning.is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated .has-warning.is-focused .custom-file-input:valid ~ .valid-tooltip, .has-warning.is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .has-warning.is-focused .custom-file-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-warning .is-focused .custom-file-input:valid:focus ~ .custom-file-label, .has-warning .is-focused .custom-file-input.is-valid:focus ~ .custom-file-label, .was-validated .has-warning.is-focused .custom-file-input:valid:focus ~ .custom-file-label, .has-warning.is-focused .custom-file-input.is-valid:focus ~ .custom-file-label {
    box-shadow: 0 0 0 0.2rem rgba(255, 87, 34, 0.25); }
  
  .has-warning .is-focused [class^='bmd-label'],
  .has-warning .is-focused [class*=' bmd-label'], .has-warning.is-focused [class^='bmd-label'],
  .has-warning.is-focused [class*=' bmd-label'] {
    color: #ff5722; }
  
  .has-warning .is-focused .bmd-label-placeholder, .has-warning.is-focused .bmd-label-placeholder {
    color: #ff5722; }
  
  .has-warning .is-focused .form-control, .has-warning .is-focused .custom-file-control, .has-warning.is-focused .form-control, .has-warning.is-focused .custom-file-control {
    border-color: #ff5722; }
  
  .has-warning .is-focused .bmd-help, .has-warning.is-focused .bmd-help {
    color: rgba(0, 0, 0, 0.54); }
  
  .has-danger [class^='bmd-label'],
  .has-danger [class*=' bmd-label'] {
    color: #f44336; }
  
  .has-danger .form-control, .has-danger .custom-file-control,
  .is-focused .has-danger .form-control,
  .is-focused .has-danger .custom-file-control {
    background-image: linear-gradient(to top, #f44336 2px, rgba(244, 67, 54, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .has-danger .form-control:invalid, .has-danger .custom-file-control:invalid {
    background-image: linear-gradient(to top, #d50000 2px, rgba(213, 0, 0, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  .has-danger .form-control:read-only, .has-danger .custom-file-control:read-only {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }
  
  fieldset[disabled][disabled] .has-danger .form-control, fieldset[disabled][disabled] .has-danger .custom-file-control, .has-danger .form-control.disabled, .has-danger .disabled.custom-file-control, .has-danger .form-control:disabled, .has-danger .custom-file-control:disabled, .has-danger .form-control[disabled], .has-danger [disabled].custom-file-control {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 30%, transparent 30%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 3px 1px; }
  
  .has-danger .form-control.form-control-success, .has-danger .form-control-success.custom-file-control,
  .is-focused .has-danger .form-control.form-control-success,
  .is-focused .has-danger .form-control-success.custom-file-control {
    background-image: linear-gradient(to top, #f44336 2px, rgba(244, 67, 54, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg=="; }
  
  .has-danger .form-control.form-control-warning, .has-danger .form-control-warning.custom-file-control,
  .is-focused .has-danger .form-control.form-control-warning,
  .is-focused .has-danger .form-control-warning.custom-file-control {
    background-image: linear-gradient(to top, #f44336 2px, rgba(244, 67, 54, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+"; }
  
  .has-danger .form-control.form-control-danger, .has-danger .form-control-danger.custom-file-control,
  .is-focused .has-danger .form-control.form-control-danger,
  .is-focused .has-danger .form-control-danger.custom-file-control {
    background-image: linear-gradient(to top, #f44336 2px, rgba(244, 67, 54, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4="; }
  
  .has-danger .is-focused .valid-feedback, .has-danger.is-focused .valid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #f44336; }
  
  .has-danger .is-focused .valid-tooltip, .has-danger.is-focused .valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(244, 67, 54, 0.8);
    border-radius: .2rem; }
  
  .was-validated .has-danger .is-focused .form-control:valid, .was-validated .has-danger .is-focused .custom-file-control:valid, .has-danger .is-focused .form-control.is-valid, .has-danger .is-focused .is-valid.custom-file-control, .was-validated
  .has-danger .is-focused .custom-select:valid,
  .has-danger .is-focused .custom-select.is-valid, .was-validated .has-danger.is-focused .form-control:valid, .was-validated .has-danger.is-focused .custom-file-control:valid, .has-danger.is-focused .form-control.is-valid, .has-danger.is-focused .is-valid.custom-file-control, .was-validated
  .has-danger.is-focused .custom-select:valid,
  .has-danger.is-focused .custom-select.is-valid {
    border-color: #f44336; }
    .was-validated .has-danger .is-focused .form-control:valid:focus, .was-validated .has-danger .is-focused .custom-file-control:valid:focus, .has-danger .is-focused .form-control.is-valid:focus, .has-danger .is-focused .is-valid.custom-file-control:focus, .was-validated
    .has-danger .is-focused .custom-select:valid:focus,
    .has-danger .is-focused .custom-select.is-valid:focus, .was-validated .has-danger.is-focused .form-control:valid:focus, .was-validated .has-danger.is-focused .custom-file-control:valid:focus, .has-danger.is-focused .form-control.is-valid:focus, .has-danger.is-focused .is-valid.custom-file-control:focus, .was-validated
    .has-danger.is-focused .custom-select:valid:focus,
    .has-danger.is-focused .custom-select.is-valid:focus {
      border-color: #f44336;
      box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.25); }
    .was-validated .has-danger .is-focused .form-control:valid ~ .valid-feedback, .was-validated .has-danger .is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated .has-danger .is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated .has-danger .is-focused .custom-file-control:valid ~ .valid-tooltip, .has-danger .is-focused .form-control.is-valid ~ .valid-feedback, .has-danger .is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .has-danger .is-focused .form-control.is-valid ~ .valid-tooltip,
    .has-danger .is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .has-danger .is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .has-danger .is-focused .custom-select:valid ~ .valid-tooltip,
    .has-danger .is-focused .custom-select.is-valid ~ .valid-feedback,
    .has-danger .is-focused .custom-select.is-valid ~ .valid-tooltip, .was-validated .has-danger.is-focused .form-control:valid ~ .valid-feedback, .was-validated .has-danger.is-focused .custom-file-control:valid ~ .valid-feedback,
    .was-validated .has-danger.is-focused .form-control:valid ~ .valid-tooltip,
    .was-validated .has-danger.is-focused .custom-file-control:valid ~ .valid-tooltip, .has-danger.is-focused .form-control.is-valid ~ .valid-feedback, .has-danger.is-focused .is-valid.custom-file-control ~ .valid-feedback,
    .has-danger.is-focused .form-control.is-valid ~ .valid-tooltip,
    .has-danger.is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
    .has-danger.is-focused .custom-select:valid ~ .valid-feedback,
    .was-validated
    .has-danger.is-focused .custom-select:valid ~ .valid-tooltip,
    .has-danger.is-focused .custom-select.is-valid ~ .valid-feedback,
    .has-danger.is-focused .custom-select.is-valid ~ .valid-tooltip {
      display: block; }
  
  .was-validated .has-danger .is-focused .form-check-input:valid ~ .form-check-label, .has-danger .is-focused .form-check-input.is-valid ~ .form-check-label, .was-validated .has-danger.is-focused .form-check-input:valid ~ .form-check-label, .has-danger.is-focused .form-check-input.is-valid ~ .form-check-label {
    color: #f44336; }
  
  .was-validated .has-danger .is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated .has-danger .is-focused .form-check-input:valid ~ .valid-tooltip, .has-danger .is-focused .form-check-input.is-valid ~ .valid-feedback,
  .has-danger .is-focused .form-check-input.is-valid ~ .valid-tooltip, .was-validated .has-danger.is-focused .form-check-input:valid ~ .valid-feedback,
  .was-validated .has-danger.is-focused .form-check-input:valid ~ .valid-tooltip, .has-danger.is-focused .form-check-input.is-valid ~ .valid-feedback,
  .has-danger.is-focused .form-check-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-danger .is-focused .custom-control-input:valid ~ .custom-control-label, .has-danger .is-focused .custom-control-input.is-valid ~ .custom-control-label, .was-validated .has-danger.is-focused .custom-control-input:valid ~ .custom-control-label, .has-danger.is-focused .custom-control-input.is-valid ~ .custom-control-label {
    color: #f44336; }
    .was-validated .has-danger .is-focused .custom-control-input:valid ~ .custom-control-label::before, .has-danger .is-focused .custom-control-input.is-valid ~ .custom-control-label::before, .was-validated .has-danger.is-focused .custom-control-input:valid ~ .custom-control-label::before, .has-danger.is-focused .custom-control-input.is-valid ~ .custom-control-label::before {
      background-color: #fbb4af; }
  
  .was-validated .has-danger .is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated .has-danger .is-focused .custom-control-input:valid ~ .valid-tooltip, .has-danger .is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .has-danger .is-focused .custom-control-input.is-valid ~ .valid-tooltip, .was-validated .has-danger.is-focused .custom-control-input:valid ~ .valid-feedback,
  .was-validated .has-danger.is-focused .custom-control-input:valid ~ .valid-tooltip, .has-danger.is-focused .custom-control-input.is-valid ~ .valid-feedback,
  .has-danger.is-focused .custom-control-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-danger .is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .has-danger .is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated .has-danger.is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .has-danger.is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before {
    background-color: #f77066; }
  
  .was-validated .has-danger .is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .has-danger .is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before, .was-validated .has-danger.is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .has-danger.is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fafafa, 0 0 0 0.2rem rgba(244, 67, 54, 0.25); }
  
  .was-validated .has-danger .is-focused .custom-file-input:valid ~ .custom-file-label, .has-danger .is-focused .custom-file-input.is-valid ~ .custom-file-label, .was-validated .has-danger.is-focused .custom-file-input:valid ~ .custom-file-label, .has-danger.is-focused .custom-file-input.is-valid ~ .custom-file-label {
    border-color: #f44336; }
    .was-validated .has-danger .is-focused .custom-file-input:valid ~ .custom-file-label::before, .has-danger .is-focused .custom-file-input.is-valid ~ .custom-file-label::before, .was-validated .has-danger.is-focused .custom-file-input:valid ~ .custom-file-label::before, .has-danger.is-focused .custom-file-input.is-valid ~ .custom-file-label::before {
      border-color: inherit; }
  
  .was-validated .has-danger .is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated .has-danger .is-focused .custom-file-input:valid ~ .valid-tooltip, .has-danger .is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .has-danger .is-focused .custom-file-input.is-valid ~ .valid-tooltip, .was-validated .has-danger.is-focused .custom-file-input:valid ~ .valid-feedback,
  .was-validated .has-danger.is-focused .custom-file-input:valid ~ .valid-tooltip, .has-danger.is-focused .custom-file-input.is-valid ~ .valid-feedback,
  .has-danger.is-focused .custom-file-input.is-valid ~ .valid-tooltip {
    display: block; }
  
  .was-validated .has-danger .is-focused .custom-file-input:valid:focus ~ .custom-file-label, .has-danger .is-focused .custom-file-input.is-valid:focus ~ .custom-file-label, .was-validated .has-danger.is-focused .custom-file-input:valid:focus ~ .custom-file-label, .has-danger.is-focused .custom-file-input.is-valid:focus ~ .custom-file-label {
    box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.25); }
  
  .has-danger .is-focused [class^='bmd-label'],
  .has-danger .is-focused [class*=' bmd-label'], .has-danger.is-focused [class^='bmd-label'],
  .has-danger.is-focused [class*=' bmd-label'] {
    color: #f44336; }
  
  .has-danger .is-focused .bmd-label-placeholder, .has-danger.is-focused .bmd-label-placeholder {
    color: #f44336; }
  
  .has-danger .is-focused .form-control, .has-danger .is-focused .custom-file-control, .has-danger.is-focused .form-control, .has-danger.is-focused .custom-file-control {
    border-color: #f44336; }
  
  .has-danger .is-focused .bmd-help, .has-danger.is-focused .bmd-help {
    color: rgba(0, 0, 0, 0.54); }
  
  .bmd-form-group {
    position: relative;
    padding-top: 1.75rem; }
    .bmd-form-group [class^='bmd-label'],
    .bmd-form-group [class*=' bmd-label'] {
      position: absolute;
      pointer-events: none;
      transition: 0.3s ease all; }
      .bmd-form-group [class^='bmd-label'].bmd-label-floating,
      .bmd-form-group [class*=' bmd-label'].bmd-label-floating {
        will-change: left, top, contents; }
    .bmd-form-group.is-filled .bmd-label-placeholder {
      display: none; }
    .bmd-form-group.bmd-collapse-inline {
      display: flex;
      align-items: center;
      padding: 0;
      min-height: 2.1em; }
      .bmd-form-group.bmd-collapse-inline .collapse {
        flex: 1;
        display: none; }
        .bmd-form-group.bmd-collapse-inline .collapse.show {
          max-width: 1200px; }
      .bmd-form-group.bmd-collapse-inline .collapsing,
      .bmd-form-group.bmd-collapse-inline .width:not(.collapse),
      .bmd-form-group.bmd-collapse-inline .collapse.show {
        display: block; }
      .bmd-form-group.bmd-collapse-inline .collapsing {
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    .bmd-form-group .form-control, .bmd-form-group .custom-file-control,
    .bmd-form-group label,
    .bmd-form-group input::placeholder {
      line-height: 1; }
    .bmd-form-group input.form-control, .bmd-form-group input.custom-file-control,
    .bmd-form-group input.form-control::placeholder,
    .bmd-form-group input.custom-file-control::placeholder {
      padding: 0.28125rem 0; line-height: 1.5; font-size: 0.9rem; color: #ccc;}
    .bmd-form-group .radio label,
    .bmd-form-group label.radio-inline,
    .bmd-form-group .checkbox label,
    .bmd-form-group label.checkbox-inline,
    .bmd-form-group .switch label {
      line-height: 1.5; }
    .bmd-form-group input::placeholder {
      font-size: 1rem; }
    .bmd-form-group .checkbox label,
    .bmd-form-group .radio label,
    .bmd-form-group label {
      font-size: 1rem; }
    .bmd-form-group .bmd-label-floating,
    .bmd-form-group .bmd-label-placeholder {
      top: 2.1875rem; }
    .bmd-form-group.is-focused .bmd-label-floating,
    .bmd-form-group .is-focused .bmd-label-floating, .bmd-form-group.is-filled .bmd-label-floating,
    .bmd-form-group .is-filled .bmd-label-floating {
      top: 1rem;
      left: 0;
      font-size: 0.75rem; }
    .bmd-form-group .bmd-label-static {
      top: 1rem;
      left: 0;
      font-size: 0.75rem; }
    .bmd-form-group .bmd-help {
      margin-top: 0;
      font-size: 0.75rem; }
    .bmd-form-group .form-control.form-control-success, .bmd-form-group .form-control-success.custom-file-control, .bmd-form-group .form-control.form-control-warning, .bmd-form-group .form-control-warning.custom-file-control, .bmd-form-group .form-control.form-control-danger, .bmd-form-group .form-control-danger.custom-file-control {
      background-size: 0 100%, 100% 100%, 0.9375rem 0.9375rem; }
      .bmd-form-group .form-control.form-control-success, .bmd-form-group .form-control-success.custom-file-control, .bmd-form-group .form-control.form-control-success:focus, .bmd-form-group .form-control-success.custom-file-control:focus,
      .bmd-form-group.is-focused .bmd-form-group .form-control.form-control-success,
      .bmd-form-group.is-focused .bmd-form-group .form-control-success.custom-file-control, .bmd-form-group .form-control.form-control-warning, .bmd-form-group .form-control-warning.custom-file-control, .bmd-form-group .form-control.form-control-warning:focus, .bmd-form-group .form-control-warning.custom-file-control:focus,
      .bmd-form-group.is-focused .bmd-form-group .form-control.form-control-warning,
      .bmd-form-group.is-focused .bmd-form-group .form-control-warning.custom-file-control, .bmd-form-group .form-control.form-control-danger, .bmd-form-group .form-control-danger.custom-file-control, .bmd-form-group .form-control.form-control-danger:focus, .bmd-form-group .form-control-danger.custom-file-control:focus,
      .bmd-form-group.is-focused .bmd-form-group .form-control.form-control-danger,
      .bmd-form-group.is-focused .bmd-form-group .form-control-danger.custom-file-control {
        padding-right: 0;
        background-repeat: no-repeat, no-repeat;
        background-position: center bottom, center calc(100% - 1px), center right 0.46875rem; }
      .bmd-form-group .form-control.form-control-success:focus, .bmd-form-group .form-control-success.custom-file-control:focus,
      .bmd-form-group.is-focused .bmd-form-group .form-control.form-control-success,
      .bmd-form-group.is-focused .bmd-form-group .form-control-success.custom-file-control, .bmd-form-group .form-control.form-control-warning:focus, .bmd-form-group .form-control-warning.custom-file-control:focus,
      .bmd-form-group.is-focused .bmd-form-group .form-control.form-control-warning,
      .bmd-form-group.is-focused .bmd-form-group .form-control-warning.custom-file-control, .bmd-form-group .form-control.form-control-danger:focus, .bmd-form-group .form-control-danger.custom-file-control:focus,
      .bmd-form-group.is-focused .bmd-form-group .form-control.form-control-danger,
      .bmd-form-group.is-focused .bmd-form-group .form-control-danger.custom-file-control {
        background-size: 100% 100%, 100% 100%, 0.9375rem 0.9375rem; }
    .bmd-form-group.bmd-form-group-sm {
      padding-top: 1.40625rem; }
      .bmd-form-group.bmd-form-group-sm .form-control, .bmd-form-group.bmd-form-group-sm .custom-file-control,
      .bmd-form-group.bmd-form-group-sm label,
      .bmd-form-group.bmd-form-group-sm input::placeholder {
        line-height: 1; }
      .bmd-form-group.bmd-form-group-sm input.form-control, .bmd-form-group.bmd-form-group-sm input.custom-file-control,
      .bmd-form-group.bmd-form-group-sm input.form-control::placeholder,
      .bmd-form-group.bmd-form-group-sm input.custom-file-control::placeholder {
        padding: 0.28125rem 0;font-size: 0.9rem; color: #ccc;
        line-height: 1.5; }
      .bmd-form-group.bmd-form-group-sm .radio label,
      .bmd-form-group.bmd-form-group-sm label.radio-inline,
      .bmd-form-group.bmd-form-group-sm .checkbox label,
      .bmd-form-group.bmd-form-group-sm label.checkbox-inline,
      .bmd-form-group.bmd-form-group-sm .switch label {
        line-height: 1.5; }
      .bmd-form-group.bmd-form-group-sm input::placeholder {
        font-size: 0.875rem; }
      .bmd-form-group.bmd-form-group-sm .checkbox label,
      .bmd-form-group.bmd-form-group-sm .radio label,
      .bmd-form-group.bmd-form-group-sm label {
        font-size: 0.875rem; }
      .bmd-form-group.bmd-form-group-sm .bmd-label-floating,
      .bmd-form-group.bmd-form-group-sm .bmd-label-placeholder {
        top: 1.65625rem; }
      .bmd-form-group.bmd-form-group-sm.is-focused .bmd-label-floating,
      .bmd-form-group.bmd-form-group-sm .is-focused .bmd-label-floating, .bmd-form-group.bmd-form-group-sm.is-filled .bmd-label-floating,
      .bmd-form-group.bmd-form-group-sm .is-filled .bmd-label-floating {
        top: 0.75rem;
        left: 0;
        font-size: 0.65625rem; }
      .bmd-form-group.bmd-form-group-sm .bmd-label-static {
        top: 0.75rem;
        left: 0;
        font-size: 0.65625rem; }
      .bmd-form-group.bmd-form-group-sm .bmd-help {
        margin-top: 0;
        font-size: 0.65625rem; }
      .bmd-form-group.bmd-form-group-sm .form-control.form-control-success, .bmd-form-group.bmd-form-group-sm .form-control-success.custom-file-control, .bmd-form-group.bmd-form-group-sm .form-control.form-control-warning, .bmd-form-group.bmd-form-group-sm .form-control-warning.custom-file-control, .bmd-form-group.bmd-form-group-sm .form-control.form-control-danger, .bmd-form-group.bmd-form-group-sm .form-control-danger.custom-file-control {
        background-size: 0 100%, 100% 100%, 0.6875rem 0.6875rem; }
        .bmd-form-group.bmd-form-group-sm .form-control.form-control-success, .bmd-form-group.bmd-form-group-sm .form-control-success.custom-file-control, .bmd-form-group.bmd-form-group-sm .form-control.form-control-success:focus, .bmd-form-group.bmd-form-group-sm .form-control-success.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control.form-control-success,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control-success.custom-file-control, .bmd-form-group.bmd-form-group-sm .form-control.form-control-warning, .bmd-form-group.bmd-form-group-sm .form-control-warning.custom-file-control, .bmd-form-group.bmd-form-group-sm .form-control.form-control-warning:focus, .bmd-form-group.bmd-form-group-sm .form-control-warning.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control.form-control-warning,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control-warning.custom-file-control, .bmd-form-group.bmd-form-group-sm .form-control.form-control-danger, .bmd-form-group.bmd-form-group-sm .form-control-danger.custom-file-control, .bmd-form-group.bmd-form-group-sm .form-control.form-control-danger:focus, .bmd-form-group.bmd-form-group-sm .form-control-danger.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control.form-control-danger,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control-danger.custom-file-control {
          padding-right: 0;
          background-repeat: no-repeat, no-repeat;
          background-position: center bottom, center calc(100% - 1px), center right 0.34375rem; }
        .bmd-form-group.bmd-form-group-sm .form-control.form-control-success:focus, .bmd-form-group.bmd-form-group-sm .form-control-success.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control.form-control-success,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control-success.custom-file-control, .bmd-form-group.bmd-form-group-sm .form-control.form-control-warning:focus, .bmd-form-group.bmd-form-group-sm .form-control-warning.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control.form-control-warning,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control-warning.custom-file-control, .bmd-form-group.bmd-form-group-sm .form-control.form-control-danger:focus, .bmd-form-group.bmd-form-group-sm .form-control-danger.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control.form-control-danger,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-sm .form-control-danger.custom-file-control {
          background-size: 100% 100%, 100% 100%, 0.6875rem 0.6875rem; }
    .bmd-form-group.bmd-form-group-lg {
      padding-top: 1.9375rem; }
      .bmd-form-group.bmd-form-group-lg .form-control, .bmd-form-group.bmd-form-group-lg .custom-file-control,
      .bmd-form-group.bmd-form-group-lg label,
      .bmd-form-group.bmd-form-group-lg input::placeholder {
        line-height: 1; }
      .bmd-form-group.bmd-form-group-lg input.form-control, .bmd-form-group.bmd-form-group-lg input.custom-file-control,
      .bmd-form-group.bmd-form-group-lg input.form-control::placeholder,
      .bmd-form-group.bmd-form-group-lg input.custom-file-control::placeholder {
        padding: 0.28125rem 0;font-size: 0.9rem; color: #ccc;
        line-height: 1.5; }
      .bmd-form-group.bmd-form-group-lg .radio label,
      .bmd-form-group.bmd-form-group-lg label.radio-inline,
      .bmd-form-group.bmd-form-group-lg .checkbox label,
      .bmd-form-group.bmd-form-group-lg label.checkbox-inline,
      .bmd-form-group.bmd-form-group-lg .switch label {
        line-height: 1.5; }
      .bmd-form-group.bmd-form-group-lg input::placeholder {
        font-size: 1.25rem; }
      .bmd-form-group.bmd-form-group-lg .checkbox label,
      .bmd-form-group.bmd-form-group-lg .radio label,
      .bmd-form-group.bmd-form-group-lg label {
        font-size: 1.25rem; }
      .bmd-form-group.bmd-form-group-lg .bmd-label-floating,
      .bmd-form-group.bmd-form-group-lg .bmd-label-placeholder {
        top: 2.5rem; }
      .bmd-form-group.bmd-form-group-lg.is-focused .bmd-label-floating,
      .bmd-form-group.bmd-form-group-lg .is-focused .bmd-label-floating, .bmd-form-group.bmd-form-group-lg.is-filled .bmd-label-floating,
      .bmd-form-group.bmd-form-group-lg .is-filled .bmd-label-floating {
        top: 1rem;
        left: 0;
        font-size: 0.9375rem; }
      .bmd-form-group.bmd-form-group-lg .bmd-label-static {
        top: 1rem;
        left: 0;
        font-size: 0.9375rem; }
      .bmd-form-group.bmd-form-group-lg .bmd-help {
        margin-top: 0;
        font-size: 0.9375rem; }
      .bmd-form-group.bmd-form-group-lg .form-control.form-control-success, .bmd-form-group.bmd-form-group-lg .form-control-success.custom-file-control, .bmd-form-group.bmd-form-group-lg .form-control.form-control-warning, .bmd-form-group.bmd-form-group-lg .form-control-warning.custom-file-control, .bmd-form-group.bmd-form-group-lg .form-control.form-control-danger, .bmd-form-group.bmd-form-group-lg .form-control-danger.custom-file-control {
        background-size: 0 100%, 100% 100%, 1.1875rem 1.1875rem; }
        .bmd-form-group.bmd-form-group-lg .form-control.form-control-success, .bmd-form-group.bmd-form-group-lg .form-control-success.custom-file-control, .bmd-form-group.bmd-form-group-lg .form-control.form-control-success:focus, .bmd-form-group.bmd-form-group-lg .form-control-success.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control.form-control-success,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control-success.custom-file-control, .bmd-form-group.bmd-form-group-lg .form-control.form-control-warning, .bmd-form-group.bmd-form-group-lg .form-control-warning.custom-file-control, .bmd-form-group.bmd-form-group-lg .form-control.form-control-warning:focus, .bmd-form-group.bmd-form-group-lg .form-control-warning.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control.form-control-warning,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control-warning.custom-file-control, .bmd-form-group.bmd-form-group-lg .form-control.form-control-danger, .bmd-form-group.bmd-form-group-lg .form-control-danger.custom-file-control, .bmd-form-group.bmd-form-group-lg .form-control.form-control-danger:focus, .bmd-form-group.bmd-form-group-lg .form-control-danger.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control.form-control-danger,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control-danger.custom-file-control {
          padding-right: 0;
          background-repeat: no-repeat, no-repeat;
          background-position: center bottom, center calc(100% - 1px), center right 0.59375rem; }
        .bmd-form-group.bmd-form-group-lg .form-control.form-control-success:focus, .bmd-form-group.bmd-form-group-lg .form-control-success.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control.form-control-success,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control-success.custom-file-control, .bmd-form-group.bmd-form-group-lg .form-control.form-control-warning:focus, .bmd-form-group.bmd-form-group-lg .form-control-warning.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control.form-control-warning,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control-warning.custom-file-control, .bmd-form-group.bmd-form-group-lg .form-control.form-control-danger:focus, .bmd-form-group.bmd-form-group-lg .form-control-danger.custom-file-control:focus,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control.form-control-danger,
        .bmd-form-group.is-focused .bmd-form-group.bmd-form-group-lg .form-control-danger.custom-file-control {
          background-size: 100% 100%, 100% 100%, 1.1875rem 1.1875rem; }
  
  .form-control, .custom-file-control,
  label,
  input::placeholder {
    line-height: 1; }
  
  input.form-control, input.custom-file-control,
  input.form-control::placeholder,
  input.custom-file-control::placeholder {
    padding: 0.28125rem 0;font-size: 0.9rem; color: #ccc;
    line-height: 1.5; }
  
  .radio label,
  label.radio-inline,
  .checkbox label,
  label.checkbox-inline,
  .switch label {
    line-height: 1.5; }
  
  input::placeholder {
    font-size: 1rem; }
  
  .checkbox label,
  .radio label,
  label {
    font-size: 1rem; }
  
  .bmd-label-floating,
  .bmd-label-placeholder {
    top: 2.1875rem; }
  
  .is-focused .bmd-label-floating,
  .is-focused .bmd-label-floating,
  .is-filled .bmd-label-floating,
  .is-filled .bmd-label-floating {
    top: 1rem;
    left: 0;
    font-size: 0.75rem; }
  
  .bmd-label-static {
    top: 1rem;
    left: 0;
    font-size: 0.75rem; }
  
  .bmd-help {
    margin-top: 0;
    font-size: 0.75rem; }
  
  .form-control.form-control-success, .form-control-success.custom-file-control, .form-control.form-control-warning, .form-control-warning.custom-file-control, .form-control.form-control-danger, .form-control-danger.custom-file-control {
    background-size: 0 100%, 100% 100%, 0.9375rem 0.9375rem; }
    .form-control.form-control-success, .form-control-success.custom-file-control, .form-control.form-control-success:focus, .form-control-success.custom-file-control:focus,
    .bmd-form-group.is-focused .form-control.form-control-success,
    .bmd-form-group.is-focused .form-control-success.custom-file-control, .form-control.form-control-warning, .form-control-warning.custom-file-control, .form-control.form-control-warning:focus, .form-control-warning.custom-file-control:focus,
    .bmd-form-group.is-focused .form-control.form-control-warning,
    .bmd-form-group.is-focused .form-control-warning.custom-file-control, .form-control.form-control-danger, .form-control-danger.custom-file-control, .form-control.form-control-danger:focus, .form-control-danger.custom-file-control:focus,
    .bmd-form-group.is-focused .form-control.form-control-danger,
    .bmd-form-group.is-focused .form-control-danger.custom-file-control {
      padding-right: 0;
      background-repeat: no-repeat, no-repeat;
      background-position: center bottom, center calc(100% - 1px), center right 0.46875rem; }
    .form-control.form-control-success:focus, .form-control-success.custom-file-control:focus,
    .bmd-form-group.is-focused .form-control.form-control-success,
    .bmd-form-group.is-focused .form-control-success.custom-file-control, .form-control.form-control-warning:focus, .form-control-warning.custom-file-control:focus,
    .bmd-form-group.is-focused .form-control.form-control-warning,
    .bmd-form-group.is-focused .form-control-warning.custom-file-control, .form-control.form-control-danger:focus, .form-control-danger.custom-file-control:focus,
    .bmd-form-group.is-focused .form-control.form-control-danger,
    .bmd-form-group.is-focused .form-control-danger.custom-file-control {
      background-size: 100% 100%, 100% 100%, 0.9375rem 0.9375rem; }

/********************************************
*********************************************
// END Custom form border bottom material
*********************************************
*********************************************/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none !important;
  float: left !important;
}
.rating > input { display: none !important; }	 
.rating > label:before { 
  margin: 5px !important;
  font-size: 1.25em !important;
  font-family: FontAwesome !important;
  display: inline-block !important;
  content: "\f005" !important;
}

.rating > .half:before { 
  content: "\f089" !important;
  position: absolute !important;
}

.rating > label { 
  color: #ddd !important; 	
 float: right !important; 
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label:before, /* show gold star when clicked */


.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700 !important;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85 !important;  } 
/**************************
BẮT ĐẦU NGÔI SAO ĐÁNH GIÁ
***************************/
/* Reset form */
.rating > input {
  display:none !important;
}
.rating > input {
  margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;

}
.rating > input:focus
{
  outline:0;
}
.rating > input[type=radio] {
  margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	

}
.rating > input[type=radio]:focus
{
	outline:0;
}
/*Hiệu ứng rating bằng sao*/
@media only screen and (max-width:600px){
	div.stars {
		width:80% !important;
		display: inline-block !important;
	  }
  } 
div.stars {
	width:60% !important;
	display: inline-block !important;
  }

  
  input[type=radio].star { display: none !important; }
  
  label.star {
	float: right !important;
	 padding: 5px !important; 
	font-size: 36px !important;
	color: #444 !important;
	transition: all .2s ;
  }
  
  input[type=radio].star:checked ~ label.star:before {
	content: '\2605' !important;
	color: #FD4 !important;
	transition: all .25s ;
  }
  
  input[type=radio].star-5:checked ~ label.star:before {
	color: #FE7 !important;
	text-shadow: 0 0 20px #952 !important;
  }
  
  input[type=radio].star-1:checked ~ label.star:before { color: #F62 !important; }
  
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  
  label.star:before {
	content: '\2605' !important;
	}