<div>
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles d-print-none">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor text-uppercase" ng-bind="vm.CacheController.ctrlName"></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                    <li class="breadcrumb-item active text-capitalize" ng-bind="vm.CacheController.ctrlName"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <a class="btn waves-effect waves-light btn-info pull-right" href="#/generalctrl/a?mod=bophan&action=edit">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
    
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Thông tin <span ng-bind="vm.CacheController.ctrlName"></span></h4>
                    </div>
                    <div class="card-body">
                        <!-- Bắt đầu loadding -->
                        <div style="width:100%" ng-hide="vm.ctChildItem">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <!-- End Loadding -->
                        <div ng-show="vm.ctChildItem" class="animated fadeIn">
                            <div class="form-group">
                                <label> Tên <span ng-bind="vm.CacheController.ctrlName"></span> <span class="text-danger"
                                        ng-hide="vm.ctChildItem.Title">*</span></label>
                                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Title"
                                    placeholder="Nhập tên..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="category form-category" ng-hide="vm.ctChildItem.Title || !vm.flagCanEdit">
                                <span class="text-danger">*</span> Bạn chưa điền đủ thông tin
                            </div>
                        </div>
    
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md">
                                <small class="text-muted" data-ng-if="vm.showDelBtn">
                                    Người tạo: <strong ng-bind="vm.ctChildItem.Author.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctChildItem.Created | date:'HH:mm - d/M/y'"></strong><br />
                                    Sửa lần cuối: <strong ng-bind="vm.ctChildItem.Editor.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctChildItem.Modified | date:'HH:mm - d/M/y'"></strong>
                                </small>
                            </div>
                            <div class="col-md text-right">
                                <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" 
                                    data-ng-disabled="!vm.ctChildItem.KhuVuc && !vm.ctChildItem.Title"
                                    ng-if="vm.flagCanEdit" ladda="vm.btnSave">
                                    <span class="btn-label"><i class="material-icons">check</i></span>
                                    Lưu
                                </button>
                                <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/generalctrl/{{vm.ctChildItem.Id}}?mod=bophan&action=edit">
                                    <i class="material-icons">edit</i> Chỉnh sửa
                                </a>
                                <button class="btn btn-danger align-middle" type="submit" data-ng-if="vm.showDelBtn && vm.flagCanEdit"
                                    ng-click="vm.goDelete()">
                                    <i class="material-icons">delete</i> Xóa
                                </button>
                                <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                    <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay
                                    lại</button>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
    
    
        </div>
    
    
    
    </div>