<div>
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles d-print-none">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor text-uppercase" ng-bind="vm.CacheController.ctrlName"></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                    <li class="breadcrumb-item active text-capitalize" ng-bind="vm.CacheController.ctrlName"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <a class="btn waves-effect waves-light btn-info pull-right" href="#/generalctrl/a?mod=doitac&action=edit">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
    
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Thông tin <span ng-bind="vm.CacheController.ctrlName"></span></h4>
                    </div>
                    <div class="card-body">
                        <!-- Bắt đầu loadding -->
                        <div style="width:100%" ng-hide="vm.ctChildItem">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <!-- End Loadding
                             -->
                        <div ng-show="vm.ctChildItem" class="animated fadeIn">
                            <div class="form-group">
                                <label> Mã <span ng-bind="vm.CacheController.ctrlName"></span> <span class="text-danger" ng-hide="vm.ctChildItem.Ma">*</span></label>
                                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Ma" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Tên <span ng-bind="vm.CacheController.ctrlName"></span> <span class="text-danger" ng-hide="vm.ctChildItem.Title">*</span></label>
                                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Title" placeholder="Nhập tên..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label>Loại đối tác <span class="text-danger" ng-hide="vm.ctChildItem.LoaiDoiTacId">*</span></label>
                                <ui-select ng-model="vm.ctChildItem.LoaiDoiTacId" theme="selectize" style="width: 100%;" title="Chọn loại" ng-disabled="!vm.flagCanEdit">
                                    <ui-select-match placeholder="Tìm kiếm..." >
                                        <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in vm.LoaiDoiTac | propsFilter:{Title: $select.search, Ma: $select.search}" >
                                        <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                        <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                        <small>
                                            Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label> Địa chỉ</label>
                                <input type="text" class="form-control" data-ng-model="vm.ctChildItem.DiaChi" placeholder="Nhập địa chỉ..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label>Tỉnh thành <span class="text-danger" ng-hide="vm.ctChildItem.TinhThanhId">*</span></label>
                                <ui-select ng-model="vm.ctChildItem.TinhThanhId" theme="selectize" style="width: 100%;" title="Chọn tỉnh thành" ng-disabled="!vm.flagCanEdit">
                                    <ui-select-match placeholder="Tìm kiếm..." >
                                        <strong ng-bind="$select.selected.Title"></strong> - <span>{{$select.selected.KhuVuc}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in vm.TinhThanh | propsFilter:{Title: $select.search, KhuVuc: $select.search}" group-by="'KhuVuc'" >
                                        <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                        <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label> Người đại diện <span class="text-danger" ng-hide="vm.ctChildItem.NguoiDaiDien">*</span></label>
                                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.NguoiDaiDien" placeholder="Nhập người đại diện..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Chức vụ đại diện <span class="text-danger" ng-hide="vm.ctChildItem.ChucVuDaiDien">*</span></label>
                                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.ChucVuDaiDien" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Điện thoại <span class="text-danger" ng-hide="vm.ctChildItem.DienThoai">*</span></label>
                                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.DienThoai" cleave="vm.formFormat.phone" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Fax</label>
                                <input type="text" class="form-control" data-ng-model="vm.ctChildItem.Fax" cleave="vm.formFormat.phone" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Email <span class="text-danger" ng-hide="vm.ctChildItem.Email">*</span></label>
                                <input type="email" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Email" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Website</label>
                                <input type="text" class="form-control" data-ng-model="vm.ctChildItem.Website" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Số tài khoản</label>
                                <input type="text" class="form-control" data-ng-model="vm.ctChildItem.SoTaiKhoan" cleave="vm.formFormat.cmnd" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Mã số thuế</label>
                                <input type="text" class="form-control" data-ng-model="vm.ctChildItem.MaSoThue" cleave="vm.formFormat.cmnd" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Người liên hệ <span class="text-danger" ng-hide="vm.ctChildItem.NguoiLienHe">*</span></label>
                                <input type="text" class="form-control" data-ng-model="vm.ctChildItem.NguoiLienHe" required="true" aria-required="true" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            <div class="form-group">
                                <label> Điện thoại liên hệ <span class="text-danger" ng-hide="vm.ctChildItem.DienThoaiLienHe">*</span></label>
                                <input type="text" class="form-control" required="true" aria-required="true" cleave="vm.formFormat.phone" data-ng-model="vm.ctChildItem.DienThoaiLienHe" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit">
                            </div>
                            
                            <div class="form-group">
                                <label> Ghi chú</label>
                                <textarea rows="3" class="form-control" data-ng-model="vm.ctChildItem.GhiChu" placeholder="Nhập thông tin..." ng-disabled="!vm.flagCanEdit"></textarea>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="d-block"> Đánh giá theo chất lượng thi công</label>
                                    <fieldset class="rating">
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "     name="DanhGiaChatLuongThiCong" value="5" /><label class = "full" for="DanhGiaChatLuongThiCong-5" title="Awesome - 5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-4.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "   name="DanhGiaChatLuongThiCong" value="4.5" /><label class="half" for="DanhGiaChatLuongThiCong-4.5" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-4"  data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "    name="DanhGiaChatLuongThiCong" value="4" /><label class = "full" for="DanhGiaChatLuongThiCong-4" title="Pretty good - 4 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-3.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "   name="DanhGiaChatLuongThiCong" value="3.5" /><label class="half" for="DanhGiaChatLuongThiCong-3.5" title="Meh - 3.5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-3"   data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "   name="DanhGiaChatLuongThiCong" value="3" /><label class = "full" for="DanhGiaChatLuongThiCong-2" title="Meh - 3 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-2.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "   name="DanhGiaChatLuongThiCong" value="2.5" /><label class="half" for="DanhGiaChatLuongThiCong-2.5" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-2"  data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "    name="DanhGiaChatLuongThiCong" value="2" /><label class = "full" for="DanhGiaChatLuongThiCong-2" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-1.5"  data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "  name="DanhGiaChatLuongThiCong" value="1.5" /><label class="half" for="DanhGiaChatLuongThiCong-1.5" title="Meh - 1.5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-1"  data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "    name="DanhGiaChatLuongThiCong" value="1" /><label class = "full" for="DanhGiaChatLuongThiCong-1" title="Sucks big time - 1 star"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaChatLuongThiCong"  id="DanhGiaChatLuongThiCong-0.5"  data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "  name="DanhGiaChatLuongThiCong" value="0.5" /><label class="half" for="DanhGiaChatLuongThiCong-0.5" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="d-block"> Đánh giá theo cung ứng vật tư</label>
                                    <fieldset class="rating"  >
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "    name="DanhGiaCungUngVatTu" value="5" /><label class = "full" for="DanhGiaCungUngVatTu-5" title="Awesome - 5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-4.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) " name="DanhGiaCungUngVatTu" value="4.5" /><label class="half" for="DanhGiaCungUngVatTu-4.5" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-4" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) " name="DanhGiaCungUngVatTu" value="4" /><label class = "full" for="DanhGiaCungUngVatTu-4" title="Pretty good - 4 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-3.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "   name="DanhGiaCungUngVatTu" value="3.5" /><label class="half" for="DanhGiaCungUngVatTu-3.5" title="Meh - 3.5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-3" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "     name="DanhGiaCungUngVatTu" value="3" /><label class = "full" for="DanhGiaCungUngVatTu-2" title="Meh - 3 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-2.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "   name="DanhGiaCungUngVatTu" value="2.5" /><label class="half" for="DanhGiaCungUngVatTu-2.5" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-2" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "     name="DanhGiaCungUngVatTu" value="2" /><label class = "full" for="DanhGiaCungUngVatTu-2" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-1.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "   name="DanhGiaCungUngVatTu" value="1.5" /><label class="half" for="DanhGiaCungUngVatTu-1.5" title="Meh - 1.5 stars"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-1" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "     name="DanhGiaCungUngVatTu" value="1" /><label class = "full" for="DanhGiaCungUngVatTu-1" title="Sucks big time - 1 star"></label>
                                        <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCungUngVatTu"  id="DanhGiaCungUngVatTu-0.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "   name="DanhGiaCungUngVatTu" value="0.5" /><label class="half" for="DanhGiaCungUngVatTu-0.5" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                </div>
                                    <div class="form-group col-md-4">
                                        <label class="d-block"> Đánh giá theo công nợ</label>
                                        <fieldset class="rating">
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "    name="DanhGiaCongNo" value="5" /><label class = "full" for="DanhGiaCongNo-5" title="Awesome - 5 stars"></label>
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-4.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "  name="DanhGiaCongNo" value="4.5" /><label class="half" for="DanhGiaCongNo-4.5" title="Pretty good - 4.5 stars"></label>
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-4" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "    name="DanhGiaCongNo" value="4" /><label class = "full" for="DanhGiaCongNo-4" title="Pretty good - 4 stars"></label>
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-3.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "  name="DanhGiaCongNo" value="3.5" /><label class="half" for="DanhGiaCongNo-3.5" title="Meh - 3.5 stars"></label>
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-3" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "    name="DanhGiaCongNo" value="3" /><label class = "full" for="DanhGiaCongNo-3" title="Meh - 3 stars"></label>
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-2.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "  name="DanhGiaCongNo" value="2.5" /><label class="half" for="DanhGiaCongNo-2.5" title="Kinda bad - 2.5 stars"></label>
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-2" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "    name="DanhGiaCongNo" value="2" /><label class = "full" for="DanhGiaCongNo-2" title="Kinda bad - 2 stars"></label>
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-1.5"  data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "  name="DanhGiaCongNo" value="1.5" /><label class="half" for="DanhGiaCongNo-1.5" title="Meh - 1.5 stars"></label>
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-1"  data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "    name="DanhGiaCongNo" value="1" /><label class = "full" for="DanhGiaCongNo-1" title="Sucks big time - 1 star"></label>
                                            <input type="radio" data-ng-model="vm.ctChildItem.DanhGiaCongNo"  id="DanhGiaCongNo-0.5" data-ng-change="vm.ctChildItem.TongDiem = vm.round((vm.parseInt(vm.ctChildItem.DanhGiaChatLuongThiCong) + vm.parseInt(vm.ctChildItem.DanhGiaCungUngVatTu) + vm.parseInt(vm.ctChildItem.DanhGiaCongNo)) / 3) "  name="DanhGiaCongNo" value="0.5" /><label class="half" for="DanhGiaCongNo-0.5" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                    </div>
                            </div>
                         

                            <div class="form-group">
                                <label class="d-block"><strong>Tổng điểm</strong> </label>
                                <div class="stars text-center"  >
                                                  
                                                  <input class="star star-5" id="star-5" type="radio" value="5"  ng-model="vm.ctChildItem.TongDiem"  name="star" disabled/>
                                                  <label class="star star-5" for="star-5"></label>
                                                  <input class="star star-4" id="star-4" type="radio" value="4" ng-model="vm.ctChildItem.TongDiem"  name="star" disabled/>
                                                  <label class="star star-4" for="star-4"></label>
                                                  <input class="star star-3" id="star-3" type="radio" value="3" ng-model="vm.ctChildItem.TongDiem"  name="star" disabled/>
                                                  <label class="star star-3" for="star-3"></label>
                                                  <input class="star star-2" id="star-2" type="radio" value="2" ng-model="vm.ctChildItem.TongDiem"  name="star" disabled/>
                                                  <label class="star star-2" for="star-2"></label>
                                                  <input class="star star-1" id="star-1" type="radio" value="1" ng-model="vm.ctChildItem.TongDiem"  name="star" disabled/>
                                                  <label class="star star-1" for="star-1"></label>
                                </div>
                        </div>
                           
                          
                            <div class="category form-category" ng-hide="vm.ctChildItem.Ma && vm.ctChildItem.Title || !vm.flagCanEdit">
                                <span class="text-danger">*</span> Bạn chưa điền đủ thông tin
                            </div>
                        </div>
    
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md">
                                <small class="text-muted" data-ng-if="vm.showDelBtn">
                                    Người tạo: <strong ng-bind="vm.ctChildItem.Author.Title"></strong> / lúc <strong ng-bind="vm.ctChildItem.Created | date:'HH:mm - d/M/y'"></strong><br />
                                    Sửa lần cuối: <strong ng-bind="vm.ctChildItem.Editor.Title"></strong> / lúc <strong ng-bind="vm.ctChildItem.Modified | date:'HH:mm - d/M/y'"></strong>
                                </small>
                            </div>
                            <div class="col-md text-right">
                                <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctChildItem.KhuVuc && !vm.ctChildItem.Title" ng-if="vm.flagCanEdit" ladda="vm.btnSave">
                                    <span class="btn-label"><i class="material-icons">check</i></span>
                                    Lưu
                                </button>
                                <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/generalctrl/{{vm.ctChildItem.Id}}?mod=doitac&action=edit">
                                    <i class="material-icons">edit</i> Chỉnh sửa
                                </a>
                                <button class="btn btn-danger align-middle" type="submit" data-ng-if="vm.showDelBtn && vm.flagCanEdit" ng-click="vm.goDelete()">
                                    <i class="material-icons">delete</i> Xóa
                                </button>
                                <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                    <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay lại</button>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>


        </div>
    
    
    
    </div>