<div>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor text-uppercase" ng-bind="vm.CacheController.ctrlName"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active text-capitalize" ng-bind="vm.CacheController.ctrlName"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right" ng-click="vm.toggleRightSidebar()">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">

            <div class="card-body p-0">
                <div class="card-header">
                        <!-- <h4 class="card-title">Projects of the Month</h4> -->
                </div>
                        
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nhập mã hoặc tên để tìm..." ng-model="vm.cacheFilterKeyword" ng-change="vm.getListItemsFiltered()"  data-ng-model-options='{ debounce: 700 }'/>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <ui-select ng-model="vm.cacheFilterLoaiDoiTacId" theme="selectize" style="width: 100%;" title="Chọn loại" ng-change="vm.CacheFilterData.LoaiDoiTacId = {TruongCanLoc:'LoaiDoiTacId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterLoaiDoiTacId};vm.getListItemsFiltered()">
                                        <ui-select-match placeholder="Loại đối tác" >
                                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.Id as item in vm.LoaiDoiTac | propsFilter:{Title: $select.search, Ma: $select.search}" >
                                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                            <small>
                                                Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <ui-select ng-model="vm.cacheFilterTinhThanhId" theme="selectize" style="width: 100%;" title="Chọn tỉnh thành" ng-change="vm.CacheFilterData.TinhThanhId = {TruongCanLoc:'TinhThanhId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterTinhThanhId};vm.getListItemsFiltered()">
                                        <ui-select-match placeholder="Tỉnh thành" >
                                            <strong ng-bind="$select.selected.Title"></strong> - <span>{{vm.ctChildItem.KhuVuc = $select.selected.KhuVuc}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.Id as item in vm.TinhThanh | propsFilter:{Title: $select.search, KhuVuc: $select.search}" group-by="'KhuVuc'" >
                                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <div>
                                    <button class="btn btn-block btn-primary waves-effect waves-light" type="button" ng-click="vm.CacheFilterData = {};vm.getListItemsFiltered()">
                                        <i class="fa fa-retweet"></i>
                                        Bỏ lọc
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                        
                    <div class="table-responsive m-t-20">
                        <table class="table table-hover stylish-table">
                            <thead>
                                <tr>
                                    <th ng-click="vm.sortData('Ma')">
                                         Mã
                                        <div ng-class="vm.getSortClass('Ma')"></div>
                                    </th>
                                    <th ng-click="vm.sortData('Title')">
                                        Tên <span ng-bind="vm.CacheController.ctrlName"></span>
                                        <div ng-class="vm.getSortClass('Title')"></div>
                                    </th>
                                    <th ng-click="vm.sortData('LoaiDoiTac.Title')">
                                        Loại
                                        <div ng-class="vm.getSortClass('LoaiDoiTac.Title')"></div>
                                    </th>
                                    <th ng-click="vm.sortData('NguoiLienHe')">
                                        Liên hệ
                                        <div ng-class="vm.getSortClass('NguoiLienHe')"></div>
                                    </th>
                                    <th ng-click="vm.sortData('TinhThanh.Title')">
                                        Tỉnh thành
                                        <div ng-class="vm.getSortClass('TinhThanh.Title')"></div>
                                    </th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in vm.dsGeneral | orderBy:vm.sortColumn:vm.reverse | filter:searchText" ng-init="$last && vm.enabeledTooltips()">
                                    <td><a  ng-href="#/generalctrl/{{::item.Id}}?mod=doitac&action=edit"  ng-bind="item.Ma"></a>    </td>
                                    <td ng-bind="item.Title"></td>
                                    <td ng-bind="item.LoaiDoiTac.Title"></td>
                                    <td>
                                        <h6 ng-bind="item.NguoiLienHe"></h6>
                                        <small class="text-muted" ng-bind="item.DienThoaiLienHe"></small>
                                    </td>
                                    <td ng-bind="item.TinhThanh.Title"></td>
                                    <td>
                                        <a class="btn btn-info" ng-href="#/generalctrl/{{::item.Id}}?mod=doitac&action=edit" title="Sửa">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <button class="btn btn-danger" ng-click="vm.delItem(item)" title="Xóa">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                <!-- Text loadding -->
                <div style="width:100%" ng-hide="vm.dsGeneral">
                    <div class="place-holder-background"></div>
                    <div class="place-holder-background"></div>
                    <div class="place-holder-background"></div>
                    <div class="place-holder-background"></div>
                    <div class="place-holder-background"></div>
                </div>
                <!-- END Text loadding -->
            </div>
        </div>

    </div>


    <!-- .right-sidebar -->
    <div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title">
                Tạo <span ng-bind="vm.CacheController.ctrlName"></span>
                <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose"
                        aria-hidden="true"></i></span>
            </div>
            <div class="r-panel-body">
                <div class="form-group">
                    <label> Mã <span ng-bind="vm.CacheController.ctrlName"></span> <span class="text-danger" ng-hide="vm.ctChildItem.Ma">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Ma" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Tên <span ng-bind="vm.CacheController.ctrlName"></span> <span class="text-danger" ng-hide="vm.ctChildItem.Title">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Title" placeholder="Nhập tên...">
                </div>
                <div class="form-group">
                    <label>Loại đối tác <span class="text-danger" ng-hide="vm.ctChildItem.LoaiDoiTacId">*</span></label>
                    <ui-select ng-model="vm.ctChildItem.LoaiDoiTacId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.LoaiDoiTac | propsFilter:{Title: $select.search, Ma: $select.search}" >
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Địa chỉ</label>
                    <input type="text" class="form-control" data-ng-model="vm.ctChildItem.DiaChi" placeholder="Nhập địa chỉ...">
                </div>
                <div class="form-group">
                    <label>Tỉnh thành <span class="text-danger" ng-hide="vm.ctChildItem.TinhThanhId">*</span></label>
                    <ui-select ng-model="vm.ctChildItem.TinhThanhId" theme="selectize" style="width: 100%;" title="Chọn tỉnh thành">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> - <span>{{vm.ctChildItem.KhuVuc = $select.selected.KhuVuc}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.TinhThanh | propsFilter:{Title: $select.search, KhuVuc: $select.search}" group-by="'KhuVuc'" >
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Người đại diện <span class="text-danger" ng-hide="vm.ctChildItem.NguoiDaiDien">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.NguoiDaiDien" placeholder="Nhập người đại diện...">
                </div>
                <div class="form-group">
                    <label> Chức vụ đại diện <span class="text-danger" ng-hide="vm.ctChildItem.ChucVuDaiDien">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.ChucVuDaiDien" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Điện thoại <span class="text-danger" ng-hide="vm.ctChildItem.DienThoai">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.DienThoai" cleave="vm.formFormat.phone" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Fax</label>
                    <input type="text" class="form-control" data-ng-model="vm.ctChildItem.Fax" cleave="vm.formFormat.phone" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Email <span class="text-danger" ng-hide="vm.ctChildItem.Email">*</span></label>
                    <input type="email" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Email" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Website</label>
                    <input type="text" class="form-control" data-ng-model="vm.ctChildItem.Website" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Số tài khoản</label>
                    <input type="text" class="form-control" data-ng-model="vm.ctChildItem.SoTaiKhoan" cleave="vm.formFormat.cmnd" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Mã số thuế</label>
                    <input type="text" class="form-control" data-ng-model="vm.ctChildItem.MaSoThue" cleave="vm.formFormat.cmnd" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Người liên hệ <span class="text-danger" ng-hide="vm.ctChildItem.NguoiLienHe">*</span></label>
                    <input type="text" class="form-control" data-ng-model="vm.ctChildItem.NguoiLienHe" required="true" aria-required="true" placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Điện thoại liên hệ <span class="text-danger" ng-hide="vm.ctChildItem.DienThoaiLienHe">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" cleave="vm.formFormat.phone" data-ng-model="vm.ctChildItem.DienThoaiLienHe" placeholder="Nhập thông tin...">
                </div>
                
                <div class="form-group">
                    <label> Ghi chú</label>
                    <textarea rows="3" class="form-control" data-ng-model="vm.ctChildItem.GhiChu" placeholder="Nhập thông tin..."></textarea>
                </div>
                <div>
                    <p ng-hide="vm.ctChildItem.KhuVuc && vm.ctChildItem.Title && vm.ctChildItem.Ma && vm.ctChildItem.LoaiDoiTacId && vm.ctChildItem.NguoiDaiDien && vm.ctChildItem.DienThoai && vm.ctChildItem.NguoiLienHe && vm.ctChildItem.DienThoaiLienHe">
                        <span class="text-danger">*</span>
                        <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary waves-effect waves-light" type="submit" data-ng-click="vm.createItem();"
                        data-ng-disabled="!vm.ctChildItem.Title || !vm.ctChildItem.KhuVuc || !vm.ctChildItem.Ma || !vm.ctChildItem.LoaiDoiTacId || !vm.ctChildItem.NguoiDaiDien || !vm.ctChildItem.DienThoai || !vm.ctChildItem.NguoiLienHe || !vm.ctChildItem.DienThoaiLienHe" ladda="vm.btnSave">
                        Tạo mới
                    </button>
                    <button class="btn btn-default waves-effect waves-light" type="reset" ng-click="vm.toggleRightSidebar()">
                        Quay lại
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->



</div>