<div>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor text-uppercase" ng-bind="vm.CacheController.ctrlName"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active text-capitalize" ng-bind="vm.CacheController.ctrlName"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right" ng-click="vm.toggleRightSidebar()">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">

            <div class="card-body p-0">
                <div class="card-header">
                    <!-- <h4 class="card-title">Projects of the Month</h4> -->
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nhập mã hoặc tên để tìm..." ng-model="vm.cacheFilterKeyword"
                                ng-change="vm.getListItemsFiltered()" data-ng-model-options='{ debounce: 700 }' />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <ui-select ng-model="vm.cacheFilterDuAnId" theme="selectize" style="width: 100%;"
                                title="Chọn loại" ng-change="vm.CacheFilterData.DuAnId = {TruongCanLoc:'DuAnId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterDuAnId};vm.getListItemsFiltered()">
                                <ui-select-match placeholder="Dự án">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.DuAn | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <ui-select ng-model="vm.cacheFilterLoaiVonId" theme="selectize" style="width: 100%;"
                                title="Chọn loại" ng-change="vm.CacheFilterData.LoaiVonId = {TruongCanLoc:'LoaiVonId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterLoaiVonId};vm.getListItemsFiltered()">
                                <ui-select-match placeholder="Loại vốn">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.LoaiVon | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div>
                            <button class="btn btn-block btn-primary waves-effect waves-light" type="button" 
                            ng-click="vm.CacheFilterData = {};vm.getListItemsFiltered();vm.cacheFilterLoaiVonId = null; vm.cacheFilterDuAnId = null">
                                <i class="fa fa-retweet"></i>
                                Bỏ lọc
                            </button>
                        </div>

                    </div>
                </div>

                <div class="table-responsive m-t-20">
                    <table class="table table-hover stylish-table">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortData('DuAn.Title')">
                                    Dự án
                                    <div ng-class="vm.getSortClass('DuAn.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('Ma')">
                                    Mã
                                    <div ng-class="vm.getSortClass('Ma')"></div>
                                </th>
                                <th ng-click="vm.sortData('Title')">
                                    Tên <span ng-bind="vm.CacheController.ctrlName"></span>
                                    <div ng-class="vm.getSortClass('Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('LoaiVon.Title')">
                                    Loại vốn
                                    <div ng-class="vm.getSortClass('LoaiVon.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('KeHoachThu')">
                                    Kế hoạch thu
                                    <div ng-class="vm.getSortClass('KeHoachThu')"></div>
                                </th>
                                <th ng-click="vm.sortData('KeHoachChi')">
                                    Kế hoạch chi
                                    <div ng-class="vm.getSortClass('KeHoachChi')"></div>
                                </th>
                                <th ng-click="vm.sortData('ThucTeThu')">
                                    Thực tế thu
                                    <div ng-class="vm.getSortClass('ThucTeThu')"></div>
                                </th>
                                <th ng-click="vm.sortData('ThucTeChi')">
                                    Thực tế chi
                                    <div ng-class="vm.getSortClass('ThucTeChi')"></div>
                                </th>
                                <th ng-click="vm.sortData('SoDuVon')">
                                    Số dư vốn
                                    <div ng-class="vm.getSortClass('SoDuVon')"></div>
                                </th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsGeneral | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                <td>
                                    {{::item.DuAn.Title}}
                                </td>
                                <td>
                                    <a ng-href="#/generalctrl/{{::item.Id}}?mod=nguonvon" title="Xem chi tiết"
                                        ng-bind="::item.Ma"></a>
                                </td>
                                <td>
                                    <a ng-href="#/generalctrl/{{::item.Id}}?mod=nguonvon" title="Xem chi tiết"
                                        ng-bind="::item.Title"></a>
                                </td>
                                <td ng-bind="::item.LoaiVon.Title"></td>
                                <td ng-bind="::item.KeHoachThu | number:0"></td>
                                <td ng-bind="::item.KeHoachChi | number:0"></td>
                                <td ng-bind="::item.ThucTeThu | number:0"></td>
                                <td ng-bind="::item.ThucTeChi | number:0"></td>
                                <td ng-bind="::item.SoDuVon | number:0"></td>
                                <td>
                                    <a class="btn btn-info" ng-href="#/generalctrl/{{::item.Id}}?mod=nguonvon&action=edit"
                                        title="Sửa">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <button class="btn btn-danger" ng-click="vm.delItem(item)" title="Xóa">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <!-- Text loadding -->
                <div style="width:100%" ng-hide="vm.dsGeneral">
                    <div class="place-holder-background"></div>
                    <div class="place-holder-background"></div>
                    <div class="place-holder-background"></div>
                    <div class="place-holder-background"></div>
                    <div class="place-holder-background"></div>
                </div>
                <!-- END Text loadding -->
            </div>
        </div>

    </div>


    <!-- .right-sidebar -->
    <div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title">
                Tạo <span ng-bind="vm.CacheController.ctrlName"></span>
                <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose"
                        aria-hidden="true"></i></span>
            </div>
            <div class="r-panel-body">
                <div class="form-group">
                    <label>Dự án</label>
                    <ui-select ng-model="vm.ctChildItem.DuAnId" theme="selectize" style="width: 100%;" title="Chọn dựu án">
                        <ui-select-match placeholder="Tìm kiếm...">
                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.DuAn | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Mã <span ng-bind="vm.CacheController.ctrlName"></span> <span class="text-danger" ng-hide="vm.ctChildItem.Ma">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Ma"
                        placeholder="Nhập thông tin...">
                </div>
                <div class="form-group">
                    <label> Tên <span ng-bind="vm.CacheController.ctrlName"></span> <span class="text-danger" ng-hide="vm.ctChildItem.Title">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Title"
                        placeholder="Nhập tên...">
                </div>
                <div class="form-group">
                    <label>Loại vốn</label>
                    <ui-select ng-model="vm.ctChildItem.LoaiVonId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm...">
                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.LoaiVon | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Kế hoạch thu  <span class="text-danger" ng-hide="vm.ctChildItem.KeHoachThu">*</span></label>
                    <input type="text" class="form-control" data-ng-model="vm.ctChildItem.KeHoachThu" cleave="vm.formFormat.number" placeholder="Nhập số tiền...">
                </div>
                <div class="form-group">
                    <label> Kế hoạch chi</label>
                    <input type="text" class="form-control" data-ng-model="vm.ctChildItem.KeHoachChi" cleave="vm.formFormat.number" placeholder="Nhập số tiền...">
                </div>
                <div>
                    <p ng-hide="vm.ctChildItem.Title && vm.ctChildItem.Ma && vm.ctChildItem.KeHoachThu">
                        <span class="text-danger">*</span>
                        <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary waves-effect waves-light" type="submit" data-ng-click="vm.createItem();"
                        data-ng-disabled="!vm.ctChildItem.Title || !vm.ctChildItem.Ma || vm.ctChildItem.KeHoachThu" ladda="vm.btnSave">
                        Tạo mới
                    </button>
                    <button class="btn btn-default waves-effect waves-light" type="reset" ng-click="vm.toggleRightSidebar()">
                        Quay lại
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->



</div>