<!-- <div> -->
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles d-print-none">
    <div class="col-md-5 align-self-center col-sm-12">
        <h3 class="text-themecolor text-uppercase" ng-bind="vm.CacheController.ctrlName"></h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
            <li class="breadcrumb-item active text-capitalize" ng-bind="vm.CacheController.ctrlName"></li>
        </ol>
    </div>
    <div class="col-md-7 align-self-center col-sm-12">
        <button class="btn waves-effect waves-light btn-info pull-right" ng-click="vm.toggleRightSidebar()">
            <i class="fa fa-plus"></i>
            Thêm mới
        </button>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->


<div class="row">
    <div class="card col-md-12">

        <div class="card-body p-0">
            <div class="card-header">
                <!-- <h4 class="card-title">Projects of the Month</h4> -->
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nhập mã hoặc tên để tìm..." ng-model="vm.cacheFilterKeyword"
                            ng-change="vm.getListItemsFiltered()" data-ng-model-options='{ debounce: 700 }' />
                    </div>
                </div>
            </div>

            <div class="table-responsive m-t-20">
                <table class="table table-hover stylish-table">
                    <thead>
                        <tr>
                            <th ng-click="vm.sortData('Ma')">
                                Mã
                                <div ng-class="vm.getSortClass('Ma')"></div>
                            </th>
                            <th ng-click="vm.sortData('Title')">
                                Tên <span ng-bind="vm.CacheController.ctrlName"></span>
                                <div ng-class="vm.getSortClass('Title')"></div>
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in vm.dsGeneral | orderBy:vm.sortColumn:vm.reverse | filter:searchText"
                            ng-init="$last && vm.enabeledTooltips()">
                            <td>
                                <a ng-href="#/generalctrl/{{::item.Id}}?mod=phongban" ng-bind="item.Ma"></a>
                            </td>
                            <td>
                                <a ng-href="#/generalctrl/{{::item.Id}}?mod=phongban" ng-bind="item.Title"></a>
                            </td>

                            <td>
                                <a class="btn btn-info" ng-href="#/generalctrl/{{::item.Id}}?mod=phongban&action=edit"
                                    title="Sửa">
                                    <i class="material-icons">edit</i>
                                </a>
                                <button class="btn btn-danger" ng-click="vm.delItem(item)" title="Xóa">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- Text loadding -->
            <div style="width:100%" ng-hide="vm.dsGeneral">
                <div class="place-holder-background"></div>
                <div class="place-holder-background"></div>
                <div class="place-holder-background"></div>
                <div class="place-holder-background"></div>
                <div class="place-holder-background"></div>
            </div>
            <!-- END Text loadding -->
        </div>
    </div>

</div>


<!-- .right-sidebar -->
<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title">
            Tạo <span ng-bind="vm.CacheController.ctrlName"></span>
            <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose"
                    aria-hidden="true"></i></span>
        </div>
        <div class="r-panel-body">
            <div class="form-group">
                <label> Mã <span ng-bind="vm.CacheController.ctrlName"></span> <span class="text-danger" ng-hide="vm.ctChildItem.Ma">*</span></label>
                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Ma"
                    placeholder="Nhập thông tin...">
            </div>
            <div class="form-group">
                <label> Tên <span ng-bind="vm.CacheController.ctrlName"></span> <span class="text-danger" ng-hide="vm.ctChildItem.Title">*</span></label>
                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctChildItem.Title"
                    placeholder="Nhập tên...">
            </div>
            <div>
                <p ng-hide="vm.ctChildItem.Title && vm.ctChildItem.Ma">
                    <span class="text-danger">*</span>
                    <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                </p>
            </div>
            <div class="button-group">
                <button class="btn btn-primary waves-effect waves-light" type="submit" data-ng-click="vm.createItem();"
                    data-ng-disabled="!vm.ctChildItem.Title || !vm.ctChildItem.Ma" ladda="vm.btnSave">
                    Tạo mới
                </button>
                <button class="btn btn-default waves-effect waves-light" type="reset" ng-click="vm.toggleRightSidebar()">
                    Quay lại
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->



</div>