<div ng-controller="dsKhoiLuongDuToan as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">
            <div class="card-header">
                <button class="btn btn-success pull-right" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseExample">
                    <i class="ti-search"></i>
                </button>
                <div>
                    <h3 class="card-title">Danh sách khối lượng dự toán</h3>
                    <h6 class="card-subtitle" ng-if="vm.dsKhoiLuong[0].DuAn.Title">Dự án: {{vm.dsKhoiLuong[0].DuAn.Title}}</h6>
                </div>

                
                
            </div>
            <div class="card-body p-0">
                
                <div class="collapse" id="collapseFilter">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <ui-select ng-model="vm.cacheFilterLoaiChungTuId" theme="selectize" style="width: 100%;"
                                        title="Chọn loại" ng-change="vm.CacheFilterData.LoaiChungTuId = {TruongCanLoc:'LoaiChungTuId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterLoaiChungTuId};vm.getListItemsFiltered()">
                                        <ui-select-match placeholder="Loại chứng từ">
                                            <strong ng-bind="$select.selected.TenLoaiChungTu"></strong>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.Id as item in vm.LoaiChungTu | propsFilter:{TenLoaiChungTu: $select.search}">
                                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                            <div><strong ng-bind-html="::item.TenLoaiChungTu | highlight: $select.search"></strong></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <ui-select ng-model="vm.cacheFilterLoaiChiPhiId" theme="selectize" style="width: 100%;"
                                    title="Chọn loại" ng-change="vm.CacheFilterData.LoaiChiPhiId = {TruongCanLoc:'LoaiChiPhiId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterLoaiChiPhiId};vm.getListItemsFiltered()">
                                    <ui-select-match placeholder="Loại chi phí">
                                        <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="::item.Id as item in vm.LoaiChiPhi | propsFilter:{Title: $select.search, Ma: $select.search}">
                                        <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                        <div><strong ng-bind-html="::item.Title | highlight: $select.search"></strong></div>
                                        <small>
                                            Mã: <span ng-bind-html="::item.Ma | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <ui-select ng-model="vm.cacheFilterGoiThauId" theme="selectize" style="width: 100%;"
                                    title="Chọn loại" ng-change="vm.CacheFilterData.GoiThauId = {TruongCanLoc:'GoiThauId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterGoiThauId};vm.getListItemsFiltered()">
                                    <ui-select-match placeholder="Gói thầu">
                                        <strong ng-bind="$select.selected.Title"></strong>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in vm.GoiThau | propsFilter:{Title: $select.search}">
                                        <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                        <div><strong ng-bind-html="::item.Title | highlight: $select.search"></strong></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div>
                                <button class="btn btn-block btn-primary waves-effect waves-light" type="button" 
                                ng-click="vm.CacheFilterData = {};
                                vm.cacheFilterKeyword = null;
                                vm.cacheFilterLoaiChiPhiId = null;
                                vm.cacheFilterGoiThauId = null;
                                vm.cacheFilterLoaiChungTuId = null;
                                vm.getListItemsFiltered();">
                                    <i class="fa fa-retweet"></i>
                                    Bỏ lọc
                                </button>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover stylish-table">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortData('MaChungTu')">
                                    Mã <div ng-class="vm.getSortClass('MaChungTu')"></div>
                                </th>
                                <th ng-click="vm.sortData('LoaiChungTu.Title')">
                                    Loại chứng từ <div ng-class="vm.getSortClass('LoaiChungTu.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('NgayChungTu')">
                                    Ngày chứng từ <div ng-class="vm.getSortClass('NgayChungTu')"></div>
                                </th>
                                <th ng-click="vm.sortData('LoaiChiPhi.Title')">
                                    Loại chi phí
                                    <div ng-class="vm.getSortClass('LoaiChiPhi.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('GoiThau.Title')">
                                    Gói thầu
                                    <div ng-class="vm.getSortClass('GoiThau.Title')"></div>
                                </th>
                                <th class="text-center" ng-click="vm.sortData('Active')">
                                    Áp dụng
                                    <div ng-class="vm.getSortClass('Active')"></div>
                                </th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsKhoiLuong | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                <td>
                                    <a ng-href="#/khoiluongdutoan/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.MaChungTu"></a>
                                </td>
                                <td>
                                    <a ng-href="#/khoiluongdutoan/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.LoaiChungTu.TenLoaiChungTu"></a>
                                </td>
                                <td ng-bind="::item.NgayChungTu | date:'dd/MM/y'"></td>
                                <td ng-bind="::item.LoaiChiPhi.Title"></td>
                                <td ng-bind="::item.GoiThau.Title"></td>
                                <td class="text-center">
                                    <i ng-if="item.Active" class="ti-check-box text-success" title="Đang áp dụng"></i>
                                    <i ng-if="!item.Active" class="ti-na text-danger" title="Không áp dụng"></i>
                                </td>
                                <td class="align-middle">
                                    <a ng-href="#/khoiluongdutoan/{{::item.Id}}/sua?action=edit" title="Sửa">
                                        <i class="ti-marker-alt"></i>
                                    </a>
                                    <a class="text-danger" ng-click="vm.delItem(item)" title="Xóa">
                                        <i class="ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="width:100%" ng-hide="vm.dsKhoiLuong">
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- .right-sidebar -->
    <div class="right-sidebar" >
        <div class="slimscrollright">
            <div class="rpanel-title">
                Tạo mới
                <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose" aria-hidden="true"></i></span>
            </div>
            <div class="r-panel-body">
                <div class="form-group">
                    <label>Loại chứng từ <span class="text-danger" ng-hide="vm.ctKhoiLuong.LoaiChungTuId">*</span></label>
                    <ui-select ng-model="vm.ctKhoiLuong.LoaiChungTuId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.TenLoaiChungTu"></strong>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.LoaiChungTu | propsFilter:{TenLoaiChungTu: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.TenLoaiChungTu | highlight: $select.search"></strong></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Mã <span class="text-danger" ng-hide="vm.ctKhoiLuong.MaChungTu">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctKhoiLuong.MaChungTu" placeholder="Nhập mã...">
                </div>
                <div class="form-group">
                    <label>Ngày chứng từ:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayHetHan.open" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')"
                            ng-model="vm.ctKhoiLuong.NgayChungTu"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Loại chi phí <span class="text-danger" ng-hide="vm.ctKhoiLuong.LoaiChiPhiId">*</span></label>
                    <ui-select ng-model="vm.ctKhoiLuong.LoaiChiPhiId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.LoaiChiPhiDuAn | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Gói thầu</label>
                    <ui-select ng-model="vm.ctKhoiLuong.GoiThauId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong>
                            <div style="display:none">
                                {{vm.ctKhoiLuong.HangMucCongTrinhId = $select.selected.HangMucCongTrinhId}}
                            </div>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.GoiThau | propsFilter:{Title: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="dang_ap_dung" class="filled-in chk-col-light-blue" 
                    data-ng-model="vm.ctKhoiLuong.Active">
                    <label for="dang_ap_dung">Áp dụng</label>
                </div>
                <div class="form-group">
                    <label> Ghi chú </label>
                    <textarea rows="3" class="form-control" data-ng-model="vm.ctKhoiLuong.GhiChu" placeholder="Nhập thông tin..."></textarea>
                </div>
                
                <!-- Bắt đầu test upload -->
                <div ng-if="+vm.uploader.queue.length > 0">
        
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Tập tin sẽ tải lên</th>
                                    <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                    <th class="text-center">Gỡ bỏ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td class="text-center"> 
                                        <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End test upload -->
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-outline-info">
                            <i class="ti-cloud-up"></i>
                            Chọn tệp tin tải lên
                        </button>
                        <input type="file" 
                            nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                            multiple="multiple" />
                            <span ng-if="+vm.uploader.queue.length > 0">
                                Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                            </span>
                    </div>
                <div>
                    <p ng-hide="vm.ctKhoiLuong.LoaiChungTuId && vm.ctKhoiLuong.MaChungTu && vm.ctKhoiLuong.LoaiChiPhiId">
                        <span class="text-danger">*</span>
                        <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary waves-effect waves-light" type="submit" 
                    data-ng-click="vm.createItem();" 
                    data-ng-disabled="!vm.ctKhoiLuong.LoaiChungTuId || !vm.ctKhoiLuong.MaChungTu || !vm.ctKhoiLuong.LoaiChiPhiId" ladda="vm.btnSave">
                        Tạo mới
                    </button>
                    <button class="btn btn-default waves-effect waves-light right-side-action-toggle" type="reset">
                        Quay lại
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->



</div>