<div data-ng-controller="ctKhoiLuongDuToan as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/khoiluongdutoan/them/sua?action=edit">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctKhoiLuong">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctKhoiLuong" class="animated fadeIn">
                        <table class="table table-bordered">
                            <tr>
                                <td><strong>Loại chứng từ</strong></td>
                                <td>
                                    <span ng-bind="::vm.ctKhoiLuong.LoaiChungTu.TenLoaiChungTu"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Số chứng từ</strong></td>
                                <td>
                                    <span ng-bind="::vm.ctKhoiLuong.MaChungTu"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Ngày chứng từ</strong></td>
                                <td>
                                    <span ng-bind="::vm.ctKhoiLuong.NgayChungTu | date:'dd/MM/y'"></span>
                                </td>
                            <tr>
                                <td><strong>Loại chi phí</strong></td>
                                <td>
                                    <a href="#/generalctrl/{{::vm.ctKhoiLuong.LoaiChiPhiId}}?mod=loaichiphi" ng-bind="::vm.ctKhoiLuong.LoaiChiPhi.Title"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Gói thầu</strong></td>
                                <td>
                                    <a href="#/generalctrl/{{::vm.ctKhoiLuong.GoiThauId}}?mod=goithau" ng-bind="::vm.ctKhoiLuong.GoiThau.Title"></a>
                                    check link???
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Đang áp dụng</strong></td>
                                <td>
                                    <span ng-if="vm.ctKhoiLuong.Active" class=" text-success">
                                        <i class="ti-check-box" title="Đang áp dụng"></i> Đang áp dụng
                                    </span>
                                    <span ng-if="!vm.ctKhoiLuong.Active" class="text-danger">
                                        <i class="ti-na" title="Không áp dụng"></i>
                                    </span>

                                </td>
                            </tr>
                            <tr>
                                <td><strong>Ghi chú</strong></td>
                                <td>
                                    <div ng-bind="::vm.ctKhoiLuong.GhiChu"></div>
                                </td>
                            </tr>
                        </table>
                        <!-- Start display AttachmentFiles -->
                        <div ng-if="+vm.ctKhoiLuong.AttachmentFiles.results.lenght > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tập tin đã tải lên</td>
                                        <th class="text-center">Gỡ bỏ</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.ctKhoiLuong.AttachmentFiles.results">
                                        <td><strong>{{ item.FileName }}</strong></td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- End display AttachmentFiles -->
                    </div>



                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctKhoiLuong.Author.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctKhoiLuong.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctKhoiLuong.Editor.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctKhoiLuong.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/khoiluongdutoan/{{::vm.ctKhoiLuong.Id}}/sua?action=edit">
                                <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                            </a>
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span>
                                Quay lại</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Khối lượng công tác</h4>
                </div>
                <div class="card-body collapse show">
                    <div ng-show="vm.KhoiLuongCongTac" class="animated fadeIn">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm">
                                <tr>
                                    <th>Chi phí</th>
                                    <th>Mã số</th>
                                    <th>Tên công tác</th>
                                    <th>Đơn vị tính</th>
                                    <th>Khối lượng</th>
                                    <th>Đơn giá (có thuế)</th>
                                    <th>Thành tiền (sau thuế)</th>
                                </tr>
                                <tr ng-repeat="item in vm.KhoiLuongCongTac"
                                ng-init="totalKhoiLuong = 0; totalDonGiaCoThue = 0; totalTienSauThue = 0">
                                    <td class="align-middle">
                                        <span ng-bind="::item.ChiPhi.Title"></span>
                                    </td>
                                    <td class="align-middle">
                                        <span ng-bind="::item.Ma"></span>
                                    </td>
                                    <td class="align-middle"><span ng-bind="::item.TenCongTac"></span></td>
                                    <td class="text-center align-middle"><span ng-bind="::item.DonViTinh"></span></td>
                                    <td class="text-right align-middle" 
                                    ng-init="$parent.totalKhoiLuong = $parent.totalKhoiLuong + item.KhoiLuong">
                                        <span ng-bind="::item.KhoiLuong | number:0"></span>
                                    </td>
                                    <td class="text-right align-middle"
                                    ng-init="$parent.totalDonGiaCoThue = $parent.totalDonGiaCoThue + item.DonGiaCoThue">
                                    <span ng-bind="::item.DonGiaCoThue | number:0"></span></td>
                                    <td class="text-right align-middle"
                                    ng-init="$parent.totalTienSauThue = $parent.totalTienSauThue + item.TienSauThue">
                                        <span ng-bind="::item.TienSauThue | number:0"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td class="text-right align-middle">{{ totalKhoiLuong | number:0 }}</td>
                                    <td class="text-right align-middle">{{ totalDonGiaCoThue | number:0 }}</td>
                                    <td class="text-right align-middle">{{ totalTienSauThue | number:0 }}</td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>



                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>

    </div>

</div>