<div data-ng-controller="ctDuAn as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/duan/them/sua?action=edit">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->



    <div class="row">
        <div class="col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin dự án</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctDuAn">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctDuAn" class="animated fadeIn">
                        <div class="form-group">
                            <label> Mã Dự án<span class="text-danger" ng-hide="vm.ctDuAn.Ma">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctDuAn.Ma"
                                placeholder="Nhập mã văn bản...">
                        </div>
                        <div class="form-group">
                            <label> Tên dự án <span class="text-danger" ng-hide="vm.ctDuAn.Title">*</span></label>
                            <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctDuAn.Title"
                                placeholder="Nhập tiêu đề văn bản...">
                        </div>
                        <div class="form-group">
                            <label> Lĩnh vực/ngành <span class="text-danger" ng-hide="vm.ctDuAn.LinhVuc">*</span></label>
                            <select ng-model="vm.ctDuAn.LinhVuc" class="form-control">
                                <option value="">-- Chọn ---</option>
                                <option>Xây dựng</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label> Tình trạng dự án <span class="text-danger" ng-hide="vm.ctDuAn.TinhTrang">*</span></label>
                            <select ng-model="vm.ctDuAn.TinhTrang" class="form-control">
                                <option value="">-- Chọn ---</option>
                                <option>Đang thực hiện</option>
                                <option>Hoàn thành</option>
                                <option>Hủy bỏ</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label> Tiến trình <span class="text-danger" ng-hide="vm.ctDuAn.TienTrinh">*</span></label>
                            <select ng-model="vm.ctDuAn.TienTrinh" class="form-control">
                                <option value="">-- Chọn ---</option>
                                <option>Chuẩn bị đầu tư</option>
                                <option>Đang đầu tư</option>
                                <option>Kết thúc đầu tư</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Năm thực hiện:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datepicker-mode="year" datetime-picker="yyyy"
                                    save-as="ISO" enable-time="false" close-on-date-selection="true"
                                    datepicker-append-to-body="true" is-open="vm.pickerNgayKy.open" ng-click="vm.openCalendar($event, 'pickerNgayKy')"
                                    ng-model="vm.ctDuAn.NamThucHien" placeholder="Chọn ngày" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayKy')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Chủ đầu tư</label>
                            <ui-select ng-model="vm.ctDuAn.ChuDauTuId" theme="selectize" style="width: 100%;"
                                title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Loại: <strong ng-bind="item.LoaiDoiTac.Title"></strong> - Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Người quyết định đầu tư</label>
                            <ui-select ng-model="vm.ctDuAn.NguoiQuyetDinhDauTuId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Email"></span>)
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.SiteUsers | propsFilter:{Title: $select.search, Email: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        <span ng-bind="item.Email | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Tổ chức thẩm định dự án</label>
                            <ui-select ng-model="vm.ctDuAn.ToChucThamDinhDuAnId" theme="selectize" style="width: 100%;"
                                title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.PhongBan | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Địa điểm xây dựng</label>
                            <ui-select ng-model="vm.ctDuAn.DiaDiemId" theme="selectize" style="width: 100%;"
                                title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.KhuVuc"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.TinhThanh | propsFilter:{Title: $select.search}"
                                group-by="'KhuVuc'">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label> Diện tích đất (m2)</label>
                            <input type="text" class="form-control" data-ng-model="vm.ctDuAn.DienTichDat"
                                cleave="vm.formFormat.number" placeholder="Nhập số diện tích...">
                        </div>
                        <div class="form-group">
                            <label>Tổ chức quản lý dự án</label>
                            <ui-select ng-model="vm.ctDuAn.ToChucQuanLyDuAnId" theme="selectize" style="width: 100%;"
                                title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Loại: <strong ng-bind="item.LoaiDoiTac.Title"></strong> - Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Tổ chức lập dự án</label>
                            <ui-select ng-model="vm.ctDuAn.ToChucLapDuAnId" theme="selectize" style="width: 100%;"
                                title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Loại: <strong ng-bind="item.LoaiDoiTac.Title"></strong> - Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Chủ nhiệm lập dự án</label>
                            <ui-select ng-model="vm.ctDuAn.ChuNhiemLapDuAnId" theme="selectize" style="width: 100%;"
                                title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.CaNhan | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Nhóm dự án</label>
                            <ui-select ng-model="vm.ctDuAn.NhomDuAnId" theme="selectize" style="width: 100%;"
                                title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.NhomDuAn | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Loại công trình</label>
                            <ui-select ng-model="vm.ctDuAn.LoaiCongTrinhId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.LoaiCongTrinh | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Cấp công trình</label>
                            <ui-select ng-model="vm.ctDuAn.CapCongTrinhId" theme="selectize" style="width: 100%;"
                                title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.CapCongTrinh | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        
                        <div class="form-group">
                            <label> Hình thức quản lý </label>
                            <textarea rows="3" class="form-control" data-ng-model="vm.ctDuAn.HinhThucQuanLy" placeholder="Nhập thông tin..."></textarea>
                        </div>
                        <div class="form-group">
                            <label> Phương án giải phóng mặt bằng </label>
                            <textarea rows="3" class="form-control" data-ng-model="vm.ctDuAn.PhuongAnGiaiPhongMatBang" placeholder="Nhập thông tin..."></textarea>
                        </div>
                        <div ng-if="+ vm.ctDuAn.AttachmentFiles.results.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tập tin đã tải lên</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.ctDuAn.AttachmentFiles.results">
                                        <td><strong>{{ item.FileName }}</strong></td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Bắt đầu test upload -->
                        <div ng-if="+vm.uploader.queue.length > 0">

                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Tập tin sẽ tải lên</th>
                                        <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2
                                            }} MB</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End test upload -->
                        <div class="upload-btn-wrapper">
                            <button class="btn btn-outline-info">
                                <i class="ti-cloud-up"></i>
                                Chọn tệp tin tải lên
                            </button>
                            <input type="file" nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                multiple="multiple" />
                            <span ng-if="+vm.uploader.queue.length > 0">
                                Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                            </span>
                        </div>


                        <div class="category form-category" ng-hide="vm.ctDuAn.Ma && vm.ctDuAn.Title">
                            <span class="text-danger">*</span> Bạn chưa điền đủ thông tin
                        </div>
                    </div>



                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctDuAn.Author.Title"></strong> / lúc <strong ng-bind="vm.ctDuAn.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctDuAn.Editor.Title"></strong> / lúc <strong ng-bind="vm.ctDuAn.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctDuAn.Ma && !vm.ctDuAn.Title"
                                ladda="vm.btnSave">
                                <span class="btn-label"><i class="material-icons">check</i></span>
                                Lưu
                            </button>
                            <button class="btn btn-danger align-middle" type="submit" data-ng-if="vm.showDelBtn && vm.flagCanEdit"
                                ng-click="vm.goDelete()">
                                <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                            </button>
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay
                                lại</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>