<div ng-controller="dsDuAn as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->




    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="card" ng-repeat="item in vm.dsDuAn | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                    <!-- <img class="card-img-top img-responsive" src="../assets/images/big/img1.jpg" alt="Card image cap"> -->
                    <div class="card-body">
                        <div class="pull-right align-top">
                            <span class="badge badge-info" ng-if="item.TinhTrang === 'Đang thực hiện'" ng-bind="::item.TinhTrang"></span>
                        </div>
                        <h4 class="card-title" ng-bind="::item.Title"></h4>
                        
                        <p class="card-text">Ngành / Lĩnh vực: <span ng-bind="::item.LinhVuc"></span></p>
                        <p class="card-text">Năm thực hiện: <span ng-bind="::item.NamThucHien | date:'y'"></span></p>
                        <a class="btn waves-effect waves-light btn-primary align-middle" href="detail.aspx#/duan?projectId={{::item.Id}}">
                            Thông tin chi tiết <i class="ti-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="card" ng-hide="vm.dsDuAn">
                    <!-- <img class="card-img-top img-responsive" src="../assets/images/big/img1.jpg" alt="Card image cap"> -->
                    <div class="card-body">
                        <div style="width:100%">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- .right-sidebar -->
    <div class="right-sidebar" >
        <div class="slimscrollright">
            <div class="rpanel-title">
                Tạo mới
                <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose" aria-hidden="true"></i></span>
            </div>
            <div class="r-panel-body">
                <div class="form-group">
                    <label>Dự án <span class="text-danger" ng-hide="vm.ctDuAn.DuAnId">*</span></label>
                    <ui-select ng-model="vm.ctDuAn.DuAnId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.DuAn | propsFilter:{Title: $select.search, Ma: $select.search}" >
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Mã văn bản <span class="text-danger" ng-hide="vm.ctDuAn.Ma">*</span></label> 
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctDuAn.Ma"
                        placeholder="Nhập mã văn bản...">
                </div>
                <div class="form-group">
                    <label> Số hiệu văn bản <span class="text-danger" ng-hide="vm.ctDuAn.SoHieuVanBan">*</span></label> 
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctDuAn.SoHieuVanBan"
                        placeholder="Nhập số hiệu văn bản...">
                </div>
                <div class="form-group">
                    <label> Tiêu đề văn bản <span class="text-danger" ng-hide="vm.ctDuAn.Title">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctDuAn.Title" placeholder="Nhập tiêu đề văn bản...">
                </div>
                <div class="form-group">
                    <label>Ngày ký:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayKy.open" ng-click="vm.openCalendar($event, 'pickerNgayKy')"
                            ng-model="vm.ctDuAn.NgayKy"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayKy')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Ngày phát hành:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayPhatHanh.open" ng-click="vm.openCalendar($event, 'pickerNgayPhatHanh')"
                            ng-model="vm.ctDuAn.NgayPhatHanh"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayPhatHanh')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Ngày nộp:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayNop.open" ng-click="vm.openCalendar($event, 'pickerNgayNop')"
                            ng-model="vm.ctDuAn.NgayNop"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayNop')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Ngày hết hạn:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                            enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                            is-open="vm.pickerNgayHetHan.open" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')"
                            ng-model="vm.ctDuAn.NgayHetHan"  placeholder="Chọn ngày" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayHetHan')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label> Giá trị </label>
                    <input type="text" class="form-control" cleave="vm.formFormat.number" data-ng-model="vm.ctDuAn.GiaTri" placeholder="Nhập giá trị...">
                </div>
                <div class="form-group">
                    <label>Kiểu văn bản</label>
                    <select class="form-control" ng-model="vm.ctDuAn.KieuVanBan">
                        <option value="">-- Chọn --</option>
                        <option>Văn bản nội bộ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Loại văn bản <span class="text-danger" ng-hide="vm.ctDuAn.LoaiVanBanId">*</span></label>
                    <ui-select ng-model="vm.ctDuAn.LoaiVanBanId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="vm.ctDuAn.NhomVanBanId = $select.selected.NhomVanBan.Id"></span> (<span ng-bind="$select.selected.Ma"></span>)
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.LoaiVanBan | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                <span ng-if="item.NhomVanBan.Title">Nhóm: <strong ng-bind-html="item.NhomVanBan.Title | highlight: $select.search"></strong> - </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Mức độ bảo mật</label>
                    <select class="form-control" ng-model="vm.ctDuAn.MucDoBaoMat">
                        <option selected="selected">Bình thường</option>
                        <option class="text-danger">Cao</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Mức độ khẩn cấp</label>
                    <select class="form-control" ng-model="vm.ctDuAn.MucDoKhanCap">
                        <option selected="selected">Bình thường</option>
                        <option class="text-danger">Ưu tiên</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Hạng mục công trình</label>
                    <ui-select ng-model="vm.ctDuAn.HangMucCongTrinhId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.HangMucCongTrinh | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Nơi nhận</label>
                    <ui-select ng-model="vm.ctDuAn.PhongBanId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.PhongBan | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Tổ chức phát hành</label>
                    <ui-select ng-model="vm.ctDuAn.ToChucPhatHanhId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                Loại: <strong ng-bind="item.LoaiDoiTac.Title"></strong> - Mã: <span ng-bind="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label> Nơi phát hành </label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctDuAn.NoiPhatHanh" placeholder="Nhập nơi phát hành...">
                </div>
                <div class="form-group">
                    <label> Nội dung </label>
                    <textarea rows="3" class="form-control" data-ng-model="vm.ctDuAn.NoiDung" placeholder="Nhập thông tin..."></textarea>
                </div>
                <!-- Bắt đầu test upload -->
                <div ng-if="+vm.uploader.queue.length > 0">
        
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Tập tin sẽ tải lên</th>
                                    <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                    <th class="text-center">Gỡ bỏ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td class="text-center"> 
                                        <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End test upload -->
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-outline-info">
                            <i class="ti-cloud-up"></i>
                            Chọn tệp tin tải lên
                        </button>
                        <input type="file" 
                            nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                            multiple="multiple" />
                            <span ng-if="+vm.uploader.queue.length > 0">
                                Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                            </span>
                    </div>
                <div>
                    <p ng-hide="vm.ctDuAn.Ma && vm.ctDuAn.Title">
                        <span class="text-danger">*</span>
                        <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary waves-effect waves-light" type="submit" data-ng-click="vm.createItem();" data-ng-disabled="!vm.ctDuAn.Title || !vm.ctDuAn.Ma " ladda="vm.btnSave">
                        Tạo mới
                    </button>
                    <button class="btn btn-default waves-effect waves-light right-side-action-toggle" type="reset">
                        Quay lại
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->



</div>

