<div data-ng-controller="ctDonHang as vm">

    <div class="row">
        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">receipt</i>
                    </div>
                    <h4 class="card-title">Thông tin Đơn hàng</h4>
                </div>
                <div class="card-body ">
                    <div class="form-group">
                        <label>Mã đơn hàng:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="vm.ctDonHang.Title" placeholder="Mã đơn hàng" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ngày bán:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO" enable-time="false"
                                close-on-date-selection="true" is-open="vm.pickerNgayBan.open" ng-model="vm.ctDonHang.NgayBan"
                                ng-click="vm.openCalendar($event, 'pickerNgayBan')" placeholder="Nhập ngày bán theo định dạng ngày/tháng/năm" />
                            <!-- <span class="input-group-append">
                                <button type="button" class="btn btn-primary" ng-click="vm.openCalendar($event, 'pickerNgayBan')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nhân viên bán hàng</label>
                        <ui-select ng-model="vm.ctDonHang.NhanVienId" theme="select2"
                            style="width: 100%;" title="Chọn nhân viên">
                            <ui-select-match placeholder="Tìm nhân viên..." >
                                <strong ng-bind="$select.selected.Title"></strong>
                            </ui-select-match>
                            <ui-select-choices repeat="person.Id as person in vm.dsNhanVien| propsFilter:{Title: $select.search}"
                                refresh="vm.getDsNhanVien($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" >
                                <div><strong  ng-bind-html="person.Title | highlight: $select.search"></strong></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>Chọn khách hàng</label>
                        <ui-select ng-model="vm.ctDonHang.KhachHang" theme="select2"
                            style="width: 100%;" title="Chọn khách hàng">
                            <ui-select-match placeholder="Tìm khách hàng..." >
                                <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="person as person in vm.dsKhachHang| propsFilter:{Title: $select.search, Ma: $select.search}"
                                refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" >
                                <div><strong  ng-bind-html="person.Title | highlight: $select.search"></strong></div>
                                <small>
                                    Mã: <span ng-bind-html="person.Ma | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center">Sản phẩm</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá bán</th>
                            <th class="text-center">Thành tiền</th>
                        </tr>
                        <tr ng-repeat="item in vm.cacheSPTrongDonHang">
                            <td data-ng-bind="item.TenProduct"></td>
                            <td data-ng-bind="item.SoLuong" class="text-right"></td>
                            <td data-ng-bind="item.GiaBan | number:0" class="text-right"></td>
                            <td data-ng-bind="item.ThanhTien | number:0" class="text-right"></td>
                        </tr>
                        <tr ng-if="+vm.ctDonHang.SoLuong > 0 && +vm.ctDonHang.ThanhTien > 0">
                            <td><strong>Tổng cộng</strong></td>
                            <td class="text-right"><strong>{{vm.ctDonHang.SoLuong}}</strong></td>
                            <td></td>
                            <td class="text-right"><strong>{{vm.ctDonHang.ThanhTien | number:0}}</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label>Chọn sản phẩm</label>
                                    <ui-select ng-model="vm.ctSanPhamTrongDonHang.Product" theme="select2"
                                        style="width: 100%;" title="Chọn sản phẩm">
                                        <ui-select-match placeholder="Tìm sản phẩm..." >
                                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="person as person in vm.dsSanPham| propsFilter:{Title: $select.search, Ma: $select.search}"
                                            refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" >
                                            <div><strong  ng-bind-html="person.Title | highlight: $select.search"></strong></div>
                                            <small>
                                                Mã: <span ng-bind-html="person.Ma | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label> Số lượng <small ng-if="vm.ctSanPhamTrongDonHang.Product.DVT">(ĐVT: {{vm.ctSanPhamTrongDonHang.Product.DVT}})</small> <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctSanPhamTrongDonHang.SoLuong" placeholder="Nhập số lượng">
                                </div>
                            </td>
                            <td>{{vm.ctSanPhamTrongDonHang.GiaBan = vm.ctSanPhamTrongDonHang.Product.Gia | number:0}} đ</td>
                            <td>{{ vm.ctSanPhamTrongDonHang.ThanhTien = +vm.ctSanPhamTrongDonHang.SoLuong * +vm.ctSanPhamTrongDonHang.GiaBan | number:0}} đ</td>
                            <td>
                                <button class="btn btn-primary" type="submit" data-ng-click="vm.goSaveSPTrongDonHang();" data-ng-disabled="!vm.ctSanPhamTrongDonHang.SoLuong" ladda="vm.btnSave">
                                    <span class="btn-label"><i class="material-icons">check</i></span>
                                    Lưu
                                </button>
                            </td>
                        </tr>
                    </table>
                    
                    <div class="category form-category"><span class="text-danger">*</span> Yêu cầu điền đủ</div>
                </div>
                <div class="card-footer text-right">
                    <!-- <button type="submit" class="btn btn-rose">Register</button> -->

                    <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctDonHang.SoLuong" ladda="vm.btnSave">
                        <span class="btn-label"><i class="material-icons">check</i></span>
                        Lưu
                    </button>
                    <button class="btn btn-danger" type="submit" data-ng-if="vm.showDelBtn" ng-confirm-click="Bạn có chắc chắn muốn xóa?"
                        confirmed-click="vm.goDelete()">
                        <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                    </button>
                    <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                        <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay lại</button>
                </div>
            </div>
        </div>

    </div>

</div>