<div ng-controller="dsDonHang as vm">
        <!-- Breadcrumb-->
    
        <div class="animated fadeIn">
    
            <div class="card">
                <div class="card-header card-header-warning">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <h4 class="card-title ">Danh sách đơn hàng</h4>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a class="btn btn-success pull-right" href="#/donhang/them"><i class="material-icons">add</i> Thêm đơn hàng mới</a>
                        </div>
                    </div>
                    <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                </div>
                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">search</i>
                                </span>
                                </div>
                                <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="Tìm đơn hàng..." ng-model="searchText.$" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-12">
                            <ui-select ng-model="vm.ctDonHang.KhachHangId" theme="select2" ng-change="vm.cacheFilter.KhachHangId = vm.ctDonHang.KhachHangId;vm.getListItemsFilter()"
                                style="width: 100%;" title="Lọc khách hàng">
                                <ui-select-match placeholder="Tìm khách hàng..." >
                                    <strong ng-bind="$select.selected.Title"></strong>
                                </ui-select-match>
                                <ui-select-choices repeat="person.Id as person in vm.dsKhachHang| propsFilter:{Title: $select.search, Ma: $select.search}"
                                    refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" >
                                    <div><strong  ng-bind-html="person.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        Mã: <span ng-bind-html="person.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-md-3 col-sm-12">
                            <ui-select ng-model="vm.ctDonHang.NhanVienId" theme="select2" ng-change="vm.cacheFilter.NhanVienId = vm.ctDonHang.NhanVienId;vm.getListItemsFilter()"
                                style="width: 100%;" title="Lọc nhân viên">
                                <ui-select-match placeholder="Tìm nhân viên..." >
                                    <strong ng-bind="$select.selected.Title"></strong>
                                </ui-select-match>
                                <ui-select-choices repeat="person.Id as person in vm.dsNhanVien| propsFilter:{Title: $select.search}"
                                    refresh="vm.getDsNhanVien($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" >
                                    <div><strong  ng-bind-html="person.Title | highlight: $select.search"></strong></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-md-2 col-sm-12">
                            <button class="btn btn-primary btn-sm m-0" type="submit" data-ng-click="vm.cacheFilter = {};vm.getListItemsFilter()">
                                <span class="btn-label"><i class="material-icons">find_replace</i> bỏ lọc</span>
                            </button>
                        </div>
                        
                    </div>
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th ng-click="vm.sortData('Title')" class="text-center">
                                    Mã đơn hàng
                                    <div ng-class="vm.getSortClass('Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('SoLuong')" class="text-center">
                                    Số lượng
                                    <div ng-class="vm.getSortClass('SoLuong')"></div>
                                </th>
                                <th ng-click="vm.sortData('ThanhTien')" class="text-center">
                                    Thành tiền
                                    <div ng-class="vm.getSortClass('ThanhTien')"></div>
                                </th>
                                <th ng-click="vm.sortData('KhachHang.Title')" class="text-center">
                                    Khách hàng
                                    <div ng-class="vm.getSortClass('KhachHang.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('NhanVien.Title')" class="text-center">
                                    Nhân viên bán
                                    <div ng-class="vm.getSortClass('NhanVien.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('Status')" class="text-center">
                                    Trạng thái
                                    <div ng-class="vm.getSortClass('Status')"></div>
                                </th>
                                <th ng-click="vm.sortData('CurrentStep')" class="text-center">
                                    Duyệt
                                    <div ng-class="vm.getSortClass('CurrentStep')"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsDonHang | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                <td>
                                    <a ng-href="#/donhang/{{::item.Id}}/xem">
                                        {{::item.Title}}
                                    </a>
                                </td>
                                <td ng-bind="::item.SoLuong | number:0" class="text-right"></td>
                                <td ng-bind="::item.ThanhTien | number:0" class="text-right"></td>
                                <td ng-bind="::item.KhachHang.Title"></td>
                                <td ng-bind="::item.NhanVien.Title"></td>
                                <td class="text-center">
                                    <span class="badge badge-info" ng-if="::item.Status === 'Submit'">Chờ duyệt</span>
                                    <span class="badge badge-success" ng-if="::item.Status === 'Approved'">Đã duyệt</span>
                                    <span class="badge badge-danger" ng-if="::item.Status === 'Reject'">Từ chối</span>
                                </td>
                                <td>
                                    <a ng-href="#/donhang/{{::item.Id}}/duyet" class="btn btn-success btn-sm m-0"  ng-if="item.Status === 'Submit'">
                                        <span ng-if="item.CurrentStep === 'TP' && item.Status === 'Submit'">TP duyệt</span>
                                        <span ng-if="item.CurrentStep === 'KT' && item.Status === 'Submit'">KT duyệt</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
    
        </div>
        <!-- /.conainer-fluid-->
    </div>