<div data-ng-controller="duyetDonHang as vm">

        <div class="row">
            <div class="col-sm-12">
                    <div class="card ">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">receipt</i>
                                </div>
                                <h4 class="card-title">Đơn hàng <strong ng-bind="vm.ctDonHang.Title"></strong></h4>
                            </div>
                            <div class="card-body ">
                                <div class="row pb-3">
                                    <div class="col-md-4">
                                        <strong>Nhân viên bán hàng:</strong> {{vm.ctDonHang.NhanVien.Title}}
                                    </div>
                                    <div class="col-md-4">
                                        <strong>Khách hàng:</strong> <a href="#/khachhang/{{vm.ctDonHang.KhachHang.Id}}/donhang">{{vm.ctDonHang.KhachHang.Title}}</a>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>Ngày bán:</strong> {{vm.ctDonHang.NgayBan | date:'dd/MM/y'}}
                                    </div>
                                </div>
                                <table class="table table-bordered">
                                        <tr>
                                            <th class="text-center">Sản phẩm</th>
                                            <th class="text-center">Số lượng</th>
                                            <th class="text-center">Giá bán</th>
                                            <th class="text-center">Thành tiền</th>
                                        </tr>
                                        <tr ng-repeat="item in vm.cacheSPTrongDonHang">
                                            <td data-ng-bind="item.TenProduct"></td>
                                            <td data-ng-bind="item.SoLuong" class="text-right"></td>
                                            <td data-ng-bind="item.GiaBan | number:0" class="text-right"></td>
                                            <td data-ng-bind="item.ThanhTien | number:0" class="text-right"></td>
                                        </tr>
                                        <tr ng-if="+vm.ctDonHang.SoLuong > 0 && +vm.ctDonHang.ThanhTien > 0">
                                            <td><strong>Tổng cộng</strong></td>
                                            <td class="text-right"><strong>{{vm.ctDonHang.SoLuong}}</strong></td>
                                            <td></td>
                                            <td class="text-right"><strong>{{vm.ctDonHang.ThanhTien | number:0}}</strong></td>
                                        </tr>
                                </table>
                            </div>
                            <div class="card-footer text-center align-top">
                               <table class="table">
                                   <tr>
                                       <td class="align-top">
                                           <strong>Người trình duyệt</strong><br />
                                           <i ng-bind="vm.ctDonHang.Created | date:'dd/MM/y'"></i><br />
                                           <span class="text-info">Trình duyệt</span><br />
                                           <strong ng-bind="vm.ctDonHang.Author.Title"></strong>
                                        </td>
                                       <td class="align-top">
                                           <strong>Trưởng phòng kinh doanh</strong><br />
                                           <i ng-bind="vm.ctDonHang.TPDuyetNgay | date:'dd/MM/y'"></i><br />
                                           <span class="text-success" ng-if="vm.ctDonHang.TPDuyetStatus === 'Approved'">Phê duyệt</span><span class="text-danger" ng-if="vm.ctDonHang.TPDuyetStatus === 'Reject'">Từ chối</span><br />
                                           <strong ng-bind="vm.ctDonHang.TPDuyet.Title"></strong><br />
                                           Ghi chú:<br />
                                           <div ng-bind="vm.ctDonHang.TPDuyetNote"></div>
                                        </td>
                                       <td class="align-top">
                                           <strong>Kế toán </strong><br />
                                           <i ng-bind="vm.ctDonHang.KTDuyetNgay | date:'dd/MM/y'"></i><br />
                                           <span class="text-success" ng-if="vm.ctDonHang.KTDuyetStatus === 'Approved'">Phê duyệt</span><span class="text-danger" ng-if="vm.ctDonHang.KTDuyetStatus === 'Reject'">Từ chối</span><br />
                                           <strong ng-bind="vm.ctDonHang.KTDuyet.Title"></strong><br />
                                           Ghi chú:<br />
                                           <div ng-bind="vm.ctDonHang.KTDuyetNote"></div>
                                        </td>
                                   </tr>
                               </table>
                            </div>
                    </div>
            </div>
    
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">check_box</i>
                        </div>
                        <h4 class="card-title">{{vm.ctDonHang.CurrentStep}} Phê duyệt đơn hàng</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <label>  Phê duyệt </label><br />
                                <div class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label text-success">
                                        <input ng-model="vm.cacheDuyet.Status" class="form-check-input" type="radio" name="inlineRadioOptions"  value="Approved"> 
                                        Đồng ý duyệt
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label  text-danger">
                                        <input ng-model="vm.cacheDuyet.Status" class="form-check-input" type="radio" name="inlineRadioOptions"  value="Reject">
                                        Từ chối
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> Ghi chú</label>
                                    <textarea data-ng-model="vm.cacheDuyet.Note" class="form-control" rows="1" placeholder="Nhập ghi chú"></textarea>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer text-center align-top">
                        <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.cacheDuyet.Status" ladda="vm.btnSave">
                               <span class="btn-label"><i class="material-icons">check</i></span> Lưu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
    </div>