<div data-ng-controller="xemDonHang as vm">
        <div class="d-none d-print-block">
            <div class="row">
                    <div class="col-sm-3">
                        <img src="https://123viec.com/thumb/2017/02/07/258/158/umo1505097280.jpg" style="max-width:150px" >
                    </div>
                    <div class="col-sm-6 text-center">
                        <h2>PHIẾU BÁN HÀNG</h2>
                        <h4 class="card-title">(Đơn hàng #<strong ng-bind="vm.ctDonHang.Title"></strong>)</h4>
                    </div>
                    <div class="col-sm-3">
                    </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-header card-header-info card-header-icon align-top d-print-none">
                        <div class="card-icon">
                            <i class="material-icons">receipt</i>
                        </div>
                        <h4 class="card-title">Đơn hàng <strong ng-bind="vm.ctDonHang.Title"></strong></h4>
                        <div class="pull-right pt-0 mt-0 d-print-none">
                            <a class="btn btn-default btn-sm" onclick="window.print();">
                                <i class="material-icons">print</i> In đơn hàng
                            </a>
                            <button class="btn btn-danger btn-sm" ng-click="vm.goDelete();">
                                <i class="material-icons">delete</i> Xóa đơn hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-body ">
                        
                        <div class="row pb-3">
                            <div class="col-md-4">
                                <strong>Nhân viên bán hàng:</strong> {{vm.ctDonHang.NhanVien.Title}}
                            </div>
                            <div class="col-md-4">
                                <strong>Khách hàng:</strong> <a href="#/khachhang/{{vm.ctDonHang.KhachHang.Id}}/donhang">{{vm.ctDonHang.KhachHang.Title}}</a>
                            </div>
                            <div class="col-md-4">
                                <strong>Ngày bán:</strong> {{vm.ctDonHang.NgayBan | date:'dd/MM/y'}}
                            </div>
                        </div>


                        <table class="table table-bordered">
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá bán</th>
                                <th>Thành tiền</th>
                            </tr>
                            <tr ng-repeat="item in vm.ctDonHang.SanPhamTrongDonHang.results">
                                <td data-ng-bind="item.TenProduct"></td>
                                <td data-ng-bind="item.SoLuong"></td>
                                <td data-ng-bind="item.GiaBan | number:0"></td>
                                <td data-ng-bind="item.ThanhTien | number:0"></td>
                            </tr>
                            <tr>
                                <td><strong>Tổng cộng</strong></td>
                                <td><strong>{{vm.ctDonHang.SoLuong}}</strong></td>
                                <td></td>
                                <td><strong>{{vm.ctDonHang.ThanhTien | number:0}}</strong></td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer text-center align-top">
                       <table class="table">
                           <tr>
                               <td class="align-top">
                                   <strong>Người trình duyệt</strong><br />
                                   <i ng-bind="vm.ctDonHang.Created | date:'dd/MM/y'"></i><br />
                                   <span class="text-info">Trình duyệt</span><br />
                                   <strong ng-bind="vm.ctDonHang.Author.Title"></strong>
                                </td>
                               <td class="align-top">
                                   <strong>Trưởng phòng kinh doanh</strong><br />
                                   <i ng-bind="vm.ctDonHang.TPDuyetNgay | date:'dd/MM/y'"></i><br />
                                   <span class="text-success" ng-if="vm.ctDonHang.TPDuyetStatus === 'Approved'">Phê duyệt</span><span class="text-danger" ng-if="vm.ctDonHang.TPDuyetStatus === 'Reject'">Từ chối</span><br />
                                   <strong ng-bind="vm.ctDonHang.TPDuyet.Title"></strong><br />
                                   Ghi chú:<br />
                                   <div ng-bind="vm.ctDonHang.TPDuyetNote"></div>
                                </td>
                               <td class="align-top">
                                   <strong>Kế toán </strong><br />
                                   <i ng-bind="vm.ctDonHang.KTDuyetNgay | date:'dd/MM/y'"></i><br />
                                   <span class="text-success" ng-if="vm.ctDonHang.KTDuyetStatus === 'Approved'">Phê duyệt</span><span class="text-danger" ng-if="vm.ctDonHang.KTDuyetStatus === 'Reject'">Từ chối</span><br />
                                   <strong ng-bind="vm.ctDonHang.KTDuyet.Title"></strong><br />
                                   Ghi chú:<br />
                                   <div ng-bind="vm.ctDonHang.KTDuyetNote"></div>
                                </td>
                           </tr>
                       </table>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>