<div ng-controller="ctQuanLyKhoiLuongDuToan as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">            
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
            <div class="card col-md-12">   
                
                <div class="card-body  p-0">
                    
                    <h3 class="card-title"> Thông tin khối lượng dự toán</h3>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label>Năm: </label>
                            <b>{{vm.ctKhoiLuongDuToan.NgayChungTu | date : 'dd/MM/yyyy'}}</b>
                        </div>

                        <div class="col-md-6">
                                <label>Dự án: </label>
                                <b>{{vm.ctKhoiLuongDuToan.DuAn.Title}}</b>
                        </div>

                        <div class="col-md-6">
                                <label>Mã chứng từ: </label>
                                <b>{{vm.ctKhoiLuongDuToan.MaChungTu}}</b>
                        </div>

                        <div class="col-md-6">
                                <label>Loại chứng từ: </label>
                                <b>{{vm.ctKhoiLuongDuToan.LoaiChungTu.TenLoaiChungTu}}</b>
                        </div>

                        <div class="col-md-6">
                                <label>Loại chi phí: </label>
                                <b>{{vm.ctKhoiLuongDuToan.LoaiChiPhi.Title}}</b>
                        </div>

                        <div class="col-md-6">
                                <label>Tên gói thầu: </label>
                                <b>{{vm.ctKhoiLuongDuToan.GoiThau.Title}}</b>
                        </div>

                      
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
            <div class="card col-md-12">
    
                <div class="card-body  p-0">
                    
                    <h3 class="card-title"> Thêm khối lượng công tác</h3>
                    
                    <div class="row">
                        <div class="col-md-6">
                                <label>Mã</label>
                                <input type="text" class="form-control" data-ng-model="vm.Ma"/>
                        </div>
                        <div class="col-md-6">
                                <label>Tên công tác</label>
                                <input type="text" class="form-control" data-ng-model="vm.TenCongTac"/>
                        </div>
                        <div class="col-md-6">
                                <label>Đơn vị tính</label>
                                <input type="text" class="form-control" data-ng-model="vm.DonViTinh"/>
                        </div>
                        <div class="col-md-6">
                                <label>Khối lượng</label>
                                <input ng-change="vm.ThanhTien();" type="text" cleave="vm.formFormat.number" class="form-control" data-ng-model="vm.KhoiLuong"/>
                        </div>                       
                        <div class="col-md-6">
                                <label>Đơn giá có thuế</label>
                                <input ng-change="vm.ThanhTien();" type="text" cleave="vm.formFormat.number" class="form-control" data-ng-model="vm.DonGiaCoThue"/>
                        </div>
                        <div class="col-md-6">
                                <label>Tiền sau thuế</label>
                                <input type="text" cleave="vm.formFormat.number" class="form-control" data-ng-model="vm.TienSauThue" disabled/>
                        </div>
                        <div class="col-md-6"> 
                            <br>    
                                <button ng-click="vm.goSave();">Thêm</button>
                        </div>
                    </div>
                    <br>
                </div>

            </div>
    </div>    



    <div class="row">
        <div class="card col-md-12">

            <div class="card-body  p-0">
                
                <h3 class="card-title">Danh sách khối lượng công tác của dự toán</h3>
                
                <div class="table-responsive">
                    <table class="table table-hover stylish-table">
                        <thead>
                            <tr>
                                <th>
                                    STT
                                </th>
                                <th ng-click="vm.sortData('DuAn.Title')">
                                    Ma công tác
                                    <div ng-class="vm.getSortClass('DuAn.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('DuAn.Title')">
                                    Tên công tác
                                    <div ng-class="vm.getSortClass('DuAn.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('LoaiChiPhi.Title')">
                                    Đơn vị tính
                                    <div ng-class="vm.getSortClass('LoaiChiPhi.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('GoiThau.Title')">
                                    Khối lượng
                                    <div ng-class="vm.getSortClass('GoiThau.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('HangMuc.Title')">
                                    Đơn giá có thuế
                                    <div ng-class="vm.getSortClass('HangMuc.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('NguonVon.Title')">
                                    Tiền sau thuế
                                    <div ng-class="vm.getSortClass('NguonVon.Title')"></div>
                                </th>
                                <th>
                                    Xóa                                   
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsKhoiLuongCongTac | orderBy:vm.sortColumn:vm.reverse | filter:searchText" ng-init="$last && vm.enabeledTooltips()">
                                <td>{{$index + 1}}</td>  
                                <td class="text-center" ng-bind="::item.Ma"></td>                                
                                <td class="text-center" ng-bind="::item.TenCongTac"></td>                               
                                <td class="text-center" ng-bind="::item.DonViTinh"></td>  
                                <td class="text-center" ng-bind="::item.KhoiLuong  | currency:'':0""></td>  
                                <td class="text-center" ng-bind="::item.DonGiaCoThue  | currency:'':0""></td>  
                                <td class="text-center" ng-bind="::item.TienSauThue | currency:'':0"></td>   
                                <td><Button ng-click="vm.delItem(item);">Xóa</Button></td>                        
                            </tr>
                        </tbody>
                    </table>
                </div>

               
            </div>
        </div>
    </div>
    


</div>

