<div ng-controller="dsQuanLyKhoiLuongDuToan as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a ng-href="#/quanlykhoiluongdutoan/them" class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">

            <div class="card-body  p-0">

                <div class="table-responsive">
                    <table class="table table-hover stylish-table">
                        <thead>
                            <tr>
                                <th>
                                    STT
                                </th>                                
                                <th ng-click="vm.sortData('DuAn.Title')">
                                   Năm
                                    <div ng-class="vm.getSortClass('DuAn.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('LoaiChiPhi.Title')">
                                    Dự án
                                    <div ng-class="vm.getSortClass('LoaiChiPhi.Title')"></div>
                                 </th>
                                <th ng-click="vm.sortData('LoaiChiPhi.Title')">
                                    Loại chứng từ
                                    <div ng-class="vm.getSortClass('LoaiChiPhi.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('GoiThau.Title')">
                                   Mã chứng từ
                                    <div ng-class="vm.getSortClass('GoiThau.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('HangMuc.Title')">
                                    Loại chi phí
                                    <div ng-class="vm.getSortClass('HangMuc.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('NguonVon.Title')">
                                    Tên gói thầu
                                    <div ng-class="vm.getSortClass('NguonVon.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('ChiPhiDuAn')">
                                    Đang áp dụng
                                    <div ng-class="vm.getSortClass('ChiPhiDuAn')"></div>
                                </th>                                
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsKhoiLuongDuToan | orderBy:vm.sortColumn:vm.reverse | filter:searchText" ng-init="$last && vm.enabeledTooltips()">
                                <td>
                                    {{$index + 1}}
                                </td> 
                                <td ng-bind="::item.NgayChungTu | date : 'dd/MM/yyyy'"></td>
                                <td ng-bind="::item.DuAn.Title"></td>
                                <td ng-bind="::item.LoaiChungTu.TenLoaiChungTu"></td>
                                <td ng-bind="::item.MaChungTu"></td>
                                <td ng-bind="::item.LoaiChiPhi.Title"></td>
                                <td ng-bind="::item.GoiThau.Title"></td>
                                <td>
                                    <div class="demo-checkbox">
                                            <input type="checkbox" id="basic_checkbox_1"  data-ng-model="::item.Active" disabled>
                                            <label for="basic_checkbox_1">Đang áp dụng</label>                           
                                    </div>                     
                                </td>
                                <td>
                                    <a ng-href="#/quanlykhoiluongdutoan/{{item.Id}}/xem">Xem </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="width:100%" ng-hide="vm.dsKhoiLuongDuToan">
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                </div>
            </div>
        </div>
    </div>
    

 


</div>

