<div ng-controller="themQuanLyKhoiLuongDuToan as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">

            <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label>Mã chứng từ</label>
                    <input type="text" class="form-control" data-ng-model="vm.MaChungTu" />
                </div>
                
                <div class="col-md-4">
                <label> Ngày chứng từ</label>
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                        </span>
                        </div>
                        <input  datepicker-append-to-body="true" type="text"
                        class="form-control ng-pristine ng-valid ng-isolate-scope ng-empty ng-valid-datetime ng-touched" 
                        datepicker-mode="'month'" datetime-picker="dd/MM/yyyy" 
                        enable-time="false" close-on-date-selection="true" 
                        is-open="vm.pickerNgayChungTu.open" data-ng-model="vm.NgayChungTu" 
                        ng-click="vm.openCalendar($event, 'pickerNgayChungTu')"
                        placeholder="{{::vm.NgayChungTu | date:'dd/MM/yyyy'}}" >
                    </div>
                </div>    

                <div class="col-md-4">
                    <label> Loại chứng từ</label>
                    <ui-select ng-model="vm.LoaiChungTu" theme="selectize">
                            <ui-select-match placeholder="Loại chứng từ">{{$select.selected.TenLoaiChungTu}}</ui-select-match>
                            <ui-select-choices repeat="item in vm.dsLoaiChungTu| filter: $select.search">
                                    <div ng-bind-html="item.TenLoaiChungTu | highlight: $select.search"></div>                                              
                            </ui-select-choices>
                    </ui-select>
                </div>
                    
                <div class="col-md-6">
                        <label>  Dự án</label>
                        <ui-select ng-model="vm.DuAn" theme="selectize">
                                <ui-select-match placeholder="Chọn dự án">{{$select.selected.Title}}</ui-select-match>
                                <ui-select-choices repeat="item in vm.dsDuAn| filter: $select.search">
                                        <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                                </ui-select-choices>
                        </ui-select>   
                </div>
                <div class="col-md-6">
                    <label>Tên gói thầu</label>
                    <ui-select ng-model="vm.GoiThau" theme="selectize">
                        <ui-select-match placeholder="Chọn dự án">{{$select.selected.Title}}</ui-select-match>
                        <ui-select-choices repeat="item in vm.dsGoiThau | filter: $select.search">
                                <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                        </ui-select-choices>
                </ui-select>   
                </div>
                <div class="col-md-6">
                    <label>Loại chi phí</label>
                    <ui-select ng-change="vm.getChiPhi(vm.LoaiChiPhi.Id);" ng-model="vm.LoaiChiPhi" theme="selectize">
                            <ui-select-match placeholder="Loại chi phi">{{$select.selected.Title}}</ui-select-match>
                            <ui-select-choices repeat="item in vm.dsLoaiChiPhi| filter: $select.search">
                                    <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                            </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-6">
                        <label>Chi phí</label>
                        <ui-select ng-model="vm.ChiPhi" theme="selectize">
                                <ui-select-match placeholder="Chi phi">{{$select.selected.Title}}</ui-select-match>
                                <ui-select-choices repeat="item in vm.dsChiPhi| filter: $select.search">
                                        <div ng-bind-html="item.Title | highlight: $select.search"></div>                                              
                                </ui-select-choices>
                        </ui-select>
                    </div>
              
               
               
               
                <div class="col-md-6">  
                    <div class="demo-checkbox">
                            <input type="checkbox" id="basic_checkbox_1"  data-ng-model="vm.Active">
                            <label for="basic_checkbox_1">Đang áp dụng</label>                           
                        </div>
                </div>
                <div class="col-md-6">                   
                    <button  ng-click="vm.goSave();">Tạo mới</button>                   
                </div>            
            </div>               
   
            </div>
        </div>
    </div>
    

 


</div>

