<div data-ng-controller="ctKeHoachChonNhaThau as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/kehoachchonnhathau/them/sua?action=edit">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctKeHoach">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctKeHoach" class="animated fadeIn">

                        <div class="form-group">
                            <label>Gói thầu <span class="text-danger" ng-hide="vm.ctKeHoach.GoiThauId">*</span></label>
                            <ui-select ng-model="vm.ctKeHoach.GoiThauId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.GoiThau | propsFilter:{Title: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Giá gói thầu <span class="text-danger" ng-hide="vm.ctKeHoach.GiaGoiThau">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập số tiền..." cleave="vm.formFormat.ChiPhiDuAn"
                                ng-model="vm.ctKeHoach.GiaGoiThau">
                        </div>
                        <div class="form-group">
                            <label>Nguồn vốn <span class="text-danger" ng-hide="vm.ctKeHoach.NguonVonId">*</span></label>
                            <ui-select ng-model="vm.ctKeHoach.NguonVonId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.NguonVon | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Hình thức lựa chọn nhà thầu <span class="text-danger" ng-hide="vm.ctKeHoach.HinhThucChonNhaThauId">*</span></label>
                            <ui-select ng-model="vm.ctKeHoach.HinhThucChonNhaThauId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.HinhThucChonNhaThau | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Phương thức lựa chọn nhà thầu</label>
                            <ui-select ng-model="vm.ctKeHoach.PhuongThucChonNhaThauId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.PhuongThucChonNhaThau | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Loại hợp đồng <span class="text-danger" ng-hide="vm.ctKeHoach.LoaiHopDongId">*</span></label>
                            <ui-select ng-model="vm.ctKeHoach.LoaiHopDongId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.LoaiHopDong | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Kế hoạch thời gian chọn nhà thầu <small>(ngày)</small></label>
                            <input type="text" class="form-control" placeholder="Nhập số ngày..." cleave="vm.formFormat.ChiPhiDuAn"
                                ng-model="vm.ctKeHoach.ThoiGianChonNhaThau">
                        </div>
                        <div class="form-group">
                            <label>Kết quả thời gian chọn nhà thầu <small>(ngày)</small></label>
                            <input type="text" class="form-control" placeholder="Nhập số ngày..." cleave="vm.formFormat.ChiPhiDuAn"
                                ng-model="vm.ctKeHoach.KqThoiGianChonNhaThau">
                        </div>

                        <div class="form-group">
                            <label>Kế hoạch thời gian thực hiện hợp đồng <small>(ngày)</small></label>
                            <input type="text" class="form-control" placeholder="Nhập số ngày..." cleave="vm.formFormat.ChiPhiDuAn"
                                ng-model="vm.ctKeHoach.ThoiGianThucHienHopDong">
                        </div>
                        <div class="form-group">
                            <label>Kết quả thời gian thực hiện hợp đồng <small>(ngày)</small></label>
                            <input type="text" class="form-control" placeholder="Nhập số ngày..." cleave="vm.formFormat.ChiPhiDuAn"
                                ng-model="vm.ctKeHoach.KqThoiGianThucHienHopDong">
                        </div>
                        <div class="form-group">
                            <label>Nhà trúng thầu</label>
                            <ui-select ng-model="vm.ctKeHoach.DoiTacId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm...">
                                    <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span> | Điểm đánh giá: <span ng-bind-html="item.TongDiem | number:0"></span> 
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group">
                            <label>Giá dự thầu</label>
                            <input type="text" class="form-control" placeholder="Nhập số tiền..." cleave="vm.formFormat.GiaTriHopDongDieuChinh"
                                ng-model="vm.ctKeHoach.GiaDuThau">
                        </div>
                        <div class="form-group">
                            <label>Giá trúng thầu</label>
                            <input type="text" class="form-control" placeholder="Nhập số tiền..." cleave="vm.formFormat.GiaTriHopDongDieuChinh"
                                ng-model="vm.ctKeHoach.GiaTrungThau">
                        </div>
                        <div class="form-group">
                            <label>Trạng thái <span class="text-danger" ng-hide="vm.ctKeHoach.TrangThai">*</span></label>
                            <select class="form-control" ng-model="vm.ctKeHoach.TrangThai">
                                <option value="Chưa xác định">Chưa xác định</option>
                                <option value="Đã thực hiện">Đã thực hiện</option>
                                <option value="Chưa đủ điều kiện lập kế hoạch">Chưa đủ điều kiện lập kế hoạch</option>
                                <option value="Không áp dụng chọn nhà thầu">Không áp dụng chọn nhà thầu</option>                                        
                            </select>
                        </div>


                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tập tin đã tải lên</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.ctKeHoach.AttachmentFiles.results">
                                        <td><strong>{{ item.FileName }}</strong></td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Bắt đầu test upload -->
                        <div ng-if="+vm.uploader.queue.length > 0">

                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Tập tin sẽ tải lên</th>
                                        <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End test upload -->
                        <div class="upload-btn-wrapper">
                            <button class="btn btn-outline-info">
                                <i class="ti-cloud-up"></i>
                                Chọn tệp tin tải lên
                            </button>
                            <input type="file" nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                multiple="multiple" />
                            <span ng-if="+vm.uploader.queue.length > 0">
                                Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                            </span>
                        </div>

                        <div class="category form-category" ng-hide="vm.ctKeHoach.GoiThauId && vm.ctKeHoach.NguonVonId && vm.ctKeHoach.GiaGoiThau && vm.ctKeHoach.HinhThucChonNhaThauId && vm.ctKeHoach.PhuongThucChonNhaThauId && vm.ctKeHoach.LoaiHopDongId && vm.ctKeHoach.TrangThai">
                            <span class="text-danger">*</span> Bạn chưa điền đủ thông tin
                        </div>
                    </div>



                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctKeHoach.Author.Title"></strong> / lúc <strong ng-bind="vm.ctKeHoach.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctKeHoach.Editor.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctKeHoach.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctKeHoach.GoiThauId || !vm.ctKeHoach.NguonVonId || !vm.ctKeHoach.GiaGoiThau || !vm.ctKeHoach.HinhThucChonNhaThauId || !vm.ctKeHoach.PhuongThucChonNhaThauId || !vm.ctKeHoach.LoaiHopDongId || !vm.ctKeHoach.TrangThai"
                                ng-if="vm.flagCanEdit" ladda="vm.btnSave">
                                <span class="btn-label"><i class="material-icons">check</i></span>
                                Lưu
                            </button>
                            <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/chiphi/{{vm.ctKeHoach.Id}}?action=edit">
                                <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                            </a>
                            <button class="btn btn-danger align-middle" type="submit" data-ng-if="vm.showDelBtn && vm.flagCanEdit"
                                ng-click="vm.goDelete()">
                                <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                            </button>
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay
                                lại</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>