<div ng-controller="dsKeHoachChonNhaThau as vm"  class="animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles d-print-none">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                    <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <a ng-href="#/kehoachchonnhathau/them/sua?action=edit" class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
    
    
        <div class="row">
            <div class="card col-md-12">
                <div class="card-header">
                    <button class="btn btn-success pull-right" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseExample">
                        <i class="ti-search"></i>
                    </button>
                </div>
                <div class="card-body  p-0">
                    <div class="collapse" id="collapseFilter">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nhập mã hoặc tên để tìm..." ng-model="vm.cacheFilterKeyword"
                                        ng-change="vm.getListItemsFiltered()" data-ng-model-options='{ debounce: 700 }' />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <div class="form-group">
                                    <ui-select ng-model="vm.cacheFilterHinhThucChonNhaThauId" theme="selectize" style="width: 100%;"
                                        title="Chọn loại" ng-change="vm.CacheFilterData.HinhThucChonNhaThauId = {TruongCanLoc:'HinhThucChonNhaThauId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterHinhThucChonNhaThauId};vm.getListItemsFiltered()">
                                        <ui-select-match placeholder="Hình thức chọn nhà thầu">
                                            <strong ng-bind="$select.selected.Title"></strong>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.Id as item in vm.HinhThucChonNhaThau | propsFilter:{Title: $select.search}">
                                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                            <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <div class="form-group">
                                    <ui-select ng-model="vm.cacheFilterPhuongThucChonNhaThauId" theme="selectize" style="width: 100%;"
                                        title="Chọn loại" ng-change="vm.CacheFilterData.PhuongThucChonNhaThauId = {TruongCanLoc:'PhuongThucChonNhaThauId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterPhuongThucChonNhaThauId};vm.getListItemsFiltered()">
                                        <ui-select-match placeholder="Phương thức chọn nhà thầu">
                                            <strong ng-bind="$select.selected.Title"></strong>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.Id as item in vm.PhuongThucChonNhaThau | propsFilter:{Title: $select.search}">
                                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                            <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <div class="form-group">
                                    <ui-select ng-model="vm.cacheFilterDoiTacId" theme="selectize" style="width: 100%;"
                                        title="Chọn loại" ng-change="vm.CacheFilterData.DoiTacId = {TruongCanLoc:'DoiTacId',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterDoiTacId};vm.getListItemsFiltered()">
                                        <ui-select-match placeholder="Đối tác">
                                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="::item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                            <div><strong ng-bind-html="::item.Title | highlight: $select.search"></strong></div>
                                            <small>
                                                Mã: <span ng-bind-html="::item.Ma | highlight: $select.search"></span> | Điểm đánh giá: <span ng-bind="::item.TongDiem | number:0"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                
                                    <div class="form-group">
                                        <ui-select ng-model="vm.cacheFilterTrangThaiId" theme="selectize" style="width: 100%;"
                                            title="Chọn loại" ng-change="vm.CacheFilterData.TrangThaiId = {TruongCanLoc:'TrangThai',PhepSoSanh:'eq',GiaTriLoc:vm.cacheFilterTrangThaiId};vm.getListItemsFiltered()">
                                            <ui-select-match placeholder="Trạng thái">
                                                <strong ng-bind="$select.selected.Title"></strong></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="::item.Id as item in vm.dsTrangThaiLoc | propsFilter:{Title: $select.search}">
                                                <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                                <div><strong ng-bind-html="::item.Title | highlight: $select.search"></strong></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                
                            </div>
                            <div class="col-md-1 col-sm-6">
                                <div>
                                    <button class="btn btn-block btn-primary waves-effect waves-light" type="button" 
                                    ng-click="vm.CacheFilterData = {};
                                    vm.cacheFilterTrangThaiId = null;
                                    vm.cacheFilterPhuongThucChonNhaThauId = null;
                                    vm.cacheFilterHinhThucChonNhaThauId = null;
                                    vm.cacheFilterDoiTacId = null;
                                    vm.cacheFilterKeyword = null;
                                    vm.getListItemsFiltered();">
                                        <i class="fa fa-retweet"></i>
                                        Bỏ lọc
                                    </button>
                                </div>
        
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover stylish-table">
                            <thead>
                                <tr>
                                    <th ng-click="vm.sortData('GoiThau.Title')" style="white-space: nowrap;">
                                       Tên gói thầu
                                        <div ng-class="vm.getSortClass('GoiThau.Title')"></div>
                                     </th>
                                    <th ng-click="vm.sortData('GiaGoiThau')">
                                       Giá gói thầu
                                        <div ng-class="vm.getSortClass('GiaGoiThau')"></div>
                                    </th>
                                    <th ng-click="vm.sortData('LoaiChiPhi.Title')">
                                       Giá dự toán
                                        <div ng-class="vm.getSortClass('LoaiChiPhi.Title')"></div>
                                    </th>
                                    <th ng-click="vm.sortData('HangMuc.Title')" style="white-space: nowrap;">
                                       Hình thức chọn<br /> nhà thầu
                                        <div ng-class="vm.getSortClass('HangMuc.Title')"></div>
                                    </th>
                                    <th ng-click="vm.sortData('NguonVon.Title')" style="white-space: nowrap;">
                                    Loại hợp đồng & phương thức
                                        <div ng-class="vm.getSortClass('NguonVon.Title')"></div>
                                    </th>    
                                    <th ng-click="vm.sortData('NguonVon.Title')" style="white-space: nowrap;">
                                    Giá dự thầu
                                        <div ng-class="vm.getSortClass('NguonVon.Title')"></div>
                                    </th>
    
                                    <th ng-click="vm.sortData('NguonVon.Title')" style="white-space: nowrap;">
                                    Giá trúng thầu
                                        <div ng-class="vm.getSortClass('NguonVon.Title')"></div>
                                    </th>
                                    <th ng-click="vm.sortData('DoiTac.Title')">
                                    Nhà thầu trúng thầu
                                        <div ng-class="vm.getSortClass('DoiTac.Title')"></div>
                                    </th>
                                    <th ng-click="vm.sortData('NguonVon.Title')" style="white-space: nowrap;">
                                    Trạng thái
                                        <div ng-class="vm.getSortClass('NguonVon.Title')"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in vm.dsKeHoachChonNhaThau | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                    <td>
                                        <a href="#/kehoachchonnhathau/{{::item.Id}}/xem" ng-bind="::item.GoiThau.Title" title="Xem chi tiết"></a>
                                    </td>
                                    <td class="text-right">
                                        <a href="#/kehoachchonnhathau/{{::item.Id}}/xem" ng-bind="::item.GiaGoiThau | number:0" title="Xem chi tiết"></a>
                                    </td>
                                    <td ng-bind="::item.ChiPhi.ChiPhiDuToan | currency:'':0" class="text-right"></td>
                                    <td ng-bind="::item.HinhThucChonNhaThau.Title"></td>
                                    <td>
                                        <div ng-if="::item.LoaiHopDong.Title">Loại hợp đồng: <span ng-bind="::item.LoaiHopDong.Title"></span></div>
                                        <small>Phương thức: <span ng-bind="::item.PhuongThucChonNhaThau.Title"></span></small>
                                    </td>      
                                    <td ng-bind="::item.GiaDuThau | currency:'':0" class="text-right"></td>
                                    <td ng-bind="::item.GiaTrungThau | currency:'':0" class="text-right"></td>
                                    <td ng-bind="::item.DoiTac.Title"></td>
                                    <td>
                                        <span ng-bind="::item.TrangThai"></span>
                                    </td>
                               
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- ============================================================== -->
                    <!-- START LOADING BAR -->
                    <!-- ============================================================== -->
                    <div style="width:100%" ng-hide="vm.dsKeHoachChonNhaThau">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- END LOADING BAR  -->
                    <!-- ============================================================== -->
                    
                  
                </div>
            </div>
        </div>
        
    
     
    
    
    </div>
    
    