<div data-ng-controller="ctKeHoachChonNhaThau as vm" class="animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles d-print-none">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                    <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <a class="btn waves-effect waves-light btn-info pull-right" href="#/kehoachchonnhathau/them/sua?action=edit">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Thông tin</h4>
                    </div>
                    <div class="card-body">
                        <div style="width:100%" ng-hide="vm.ctKeHoach">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <div ng-show="vm.ctKeHoach" class="animated fadeIn">
                            <table class="table table-bordered">
                                <tr>
                                    <td colspan="2"><strong>Tên gói thầu</strong></td>
                                    <td>
                                        <a href="#/goithau/{{::vm.ctKeHoach.GoiTahau}}/xem" ng-bind="::vm.ctKeHoach.GoiThau.Title"></a>
                                        check link
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Giá gói thầu</strong></td>
                                    <td>
                                        <span class="pull-right" ng-bind="::vm.ctKeHoach.GiaGoiThau | number:0"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Nguồn vốn</strong></td>
                                    <td>
                                        <a href="#/nguonvon/{{::vm.ctKeHoach.NguonVonId}}/xem" ng-bind="::vm.ctKeHoach.NguonVon.Title"></a>
                                        check link
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Hình thức lựa chọn nhà thầu</strong></td>
                                    <td>
                                        <span ng-bind="::vm.ctKeHoach.HinhThucChonNhaThau.Title"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Phương thức lựa chọn nhà thầu</strong></td>
                                    <td>
                                        <span ng-bind="::vm.ctKeHoach.PhuongThucChonNhaThau.Title"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Loại hợp đồng</strong></td>
                                    <td>
                                        <span ng-bind="::vm.ctKeHoach.LoaiHopDong.Title"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="align-middle">
                                        <strong>Thời gian chọn nhà thầu (ngày)</strong>
                                    </td>
                                    <td>Kế hoạch</td>
                                    <td class="text-right">
                                        <span ng-bind="::vm.ctKeHoach.ThoiGianChonNhaThau | number:0"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kết quả</td>
                                    <td class="text-right text-success">
                                        <span ng-bind="::vm.ctKeHoach.KqThoiGianChonNhaThau | number:0"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="align-middle">
                                        <strong>Thời gian thực hiện hợp đồng (ngày)</strong>
                                    </td>
                                    <td>Kế hoạch</td>
                                    <td class="text-right">
                                        <span ng-bind="::vm.ctKeHoach.ThoiGianThucHienHopDong | number:0"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kết quả</td>
                                    <td class="text-right text-success">
                                        <span ng-bind="::vm.ctKeHoach.KqThoiGianThucHienHopDong | number:0"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Nhà trúng thầu</strong></td>
                                    <td>
                                        <a href="#/doitac/{{::vm.ctKeHoach.DoiTacId}}/xem" ng-bind="::vm.ctKeHoach.DoiTac.Title"></a>
                                        check link
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Giá dự thầu</td>
                                    <td class="text-right">
                                        <span ng-bind="::vm.ctKeHoach.GiaDuThau | number:0"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Giá trúng thầu</td>
                                    <td class="text-right">
                                        <span ng-bind="::vm.ctKeHoach.GiaTrungThau | number:0"></span>
                                    </td>
                                </tr>


                            </table>
                            <!-- Start display AttachmentFiles -->
                            <div ng-if="+vm.ctKeHoach.AttachmentFiles.results.lenght > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tập tin đã tải lên</td>
                                            <th class="text-center">Gỡ bỏ</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.ctKeHoach.AttachmentFiles.results">
                                            <td><strong>{{ item.FileName }}</strong></td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                        class="ti-close"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- End display AttachmentFiles -->
                        </div>
    
    
    
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md">
                                <small class="text-muted" data-ng-if="vm.showDelBtn">
                                    Người tạo: <strong ng-bind="vm.ctKeHoach.Author.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctKeHoach.Created | date:'HH:mm - d/M/y'"></strong><br />
                                    Sửa lần cuối: <strong ng-bind="vm.ctKeHoach.Editor.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctKeHoach.Modified | date:'HH:mm - d/M/y'"></strong>
                                </small>
                            </div>
                            <div class="col-md text-right">
                                <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/kehoachchonnhathau/{{vm.ctKeHoach.Id}}/sua?action=edit">
                                    <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                                </a>
                                <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                    <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span>
                                    Quay lại</button>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>