<div data-ng-controller="ctNhanVien as vm">

	<div class="row">
		<div class="col-sm-12">
			<div class="card ">
				<div class="card-header card-header-info card-header-icon">
					<div class="card-icon">
						<i class="material-icons">contacts</i>
					</div>
					<h4 class="card-title">Thông tin Nhân viên</h4>
				</div>
				<div class="card-body ">
					<div class="form-group">
						<label> Họ và Tên <span class="text-danger">*</span></label>
						<input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctNhanVien.Title"
						 placeholder="Nhập họ và tên">
					</div>
					<div class="form-group">
							<label>Giới tính <span class="text-danger">*</span></label>
							<!-- <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctNhanVien.GioiTinh"
							 placeholder="Nhập họ và tên" > -->
							 <select class="form-control" required="true" aria-required="true" data-ng-model="vm.ctNhanVien.GioiTinh" placeholder="Chọn giới tính">
								<option value="Nam">Nam</option>
								<option value="Nữ">Nữ</option>
								<option value="Khác">Khác</option>
							</select>
						</div>
						<div class="form-group">
							<label>Sinh nhật <span class="text-danger">*</span></label>
							<!-- <input type="text" class="form-control"  data-ng-model="vm.ctNhanVien.SinhNhat"
							 placeholder="Nhập dd / MM / YYYY"> -->
							 <div class="input-group">
									<input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO" enable-time="false"
										close-on-date-selection="true" is-open="vm.pickerSinhNhat.open" ng-model="vm.ctNhanVien.SinhNhat"
										ng-click="vm.openCalendar($event, 'pickerSinhNhat')" placeholder="Nhập sinh nhật theo định dạng ngày/tháng/năm" />
						
						</div>
					<div class="form-group">
						<label>Phòng Ban <span class="text-danger">*</span></label>
						<input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctNhanVien.PhongBan"
						 placeholder="Nhập phòng ban">
					</div>
					<div class="form-group">
						<label>Chức vụ <span class="text-danger">*</span></label>
						<input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctNhanVien.ChucVu"
						 placeholder="Nhập chức vụ">
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctNhanVien.Email"
						 placeholder="Nhập email">
					</div>
					
					<div class="form-group">
						<label>Số điện thoại</label>
						<input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctNhanVien.SDT"
						 placeholder="Nhập số điện thoại">
					</div>
					
					<div class="category form-category"><span class="text-danger">*</span> Yêu cầu điền đủ</div>
				</div>
				<div class="card-footer text-right">
					<!-- <button type="submit" class="btn btn-rose">Register</button> -->

					<button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctNhanVien.Title || !vm.ctNhanVien.GioiTinh || !vm.ctNhanVien.PhongBan || !vm.ctNhanVien.ChucVu "
					 ladda="vm.btnSave">
						<span class="btn-label"><i class="material-icons">check</i></span>
						Lưu
					</button>
					<button class="btn btn-danger" type="submit" data-ng-if="vm.showDelBtn" ng-confirm-click="Bạn có chắc chắn muốn xóa?"
					 confirmed-click="vm.goDelete()">
						<span class="btn-label"><i class="material-icons">delete</i></span> Xóa
					</button>
					<button class="btn btn-default"  type="reset" data-ng-click="vm.goBack();">
						<span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay lại</button>
				</div>
			</div>
		</div>

	</div>

</div>