<div ng-controller="dsNhanVien as vm">
    <!-- Breadcrumb-->

    <div class="animated fadeIn">

        <div class="card">
            <div class="card-header card-header-warning align-middle">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <h4 class="card-title ">Danh sách Nhân viên </h4>
                    </div>
                    <div class="col-md-3 col-sm-12">
                            <a class="btn btn-success pull-right" href="#/nhanvien/them"><i class="material-icons">add</i> Thêm nhân viên mới</a>
                    </div>
                </div>
                <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <tr>
                            <th>STT</th>
                            <th ng-click="vm.sortData('Title')">
                                    <div ng-class="vm.getSortClass('Title')" style="float:left"></div>
                                Họ & Tên
                                
                            </th>
                            <th>Phòng Ban</th>
                            <th>Chức vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in vm.dsNhanVien | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                            <td ng-bind="::$index + 1"></td>
                            <td>
                                <a ng-href="#/nhanvien/{{::item.Id}}">
                                    {{::item.Title}}
                                </a>
                            </td>
                            <td ng-bind="item.PhongBan">
                            </td>
                            <td ng-bind="item.ChucVu">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <!-- /.conainer-fluid-->
</div>