<div data-ng-controller="ctHopDong as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <a class="btn waves-effect waves-light btn-info pull-right" href="#/hopdong/them/sua?action=edit">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Thông tin</h4>
                </div>
                <div class="card-body">
                    <div style="width:100%" ng-hide="vm.ctHopDong">
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                        <div class="place-holder-background"> </div>
                    </div>
                    <div ng-show="vm.ctHopDong" class="animated fadeIn">
                        
                        <div class="form-group">
                            <label>Gói thầu <span class="text-danger" ng-hide="vm.ctHopDong.GoiThauId">*</span></label>
                            <ui-select ng-model="vm.ctHopDong.GoiThauId" theme="selectize" style="width: 100%;" title="Chọn loại"
                                ng-change="vm.getDsChiPhi()">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong>
                                    <div style="display:none">
                                        {{vm.ctHopDong.HangMucId = $select.selected.HangMucCongTrinhId}}
                                    </div>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.GoiThau | propsFilter:{Title: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Chi phí <span class="text-danger" ng-hide="vm.ctHopDong.ChiPhiId">*</span></label>
                            <ui-select ng-model="vm.ctHopDong.ChiPhiId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                <ui-select-match placeholder="Tìm kiếm..." >
                                    <strong ng-bind="$select.selected.Title"></strong>
                                    <div style="display:none">
                                        {{vm.ctHopDong.NguonVonId = $select.selected.NguonVonId}}
                                        {{vm.ctHopDong.GiaTriHopDong = $select.selected.ChiPhiDuToan}}
                                    </div>
                                </ui-select-match>
                                <ui-select-choices repeat="item.Id as item in vm.ChiPhi | propsFilter:{Title: $select.search}">
                                    <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                    <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                    <small>
                                        </span>Chi phí dự toán: <span ng-bind-html="item.ChiPhiDuToan | highlight: $select.search | number:0"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div ng-if="+vm.ctHopDong.ChiPhiId > 0">
                            <div class="form-group">
                                <label>Phân loại hợp đồng <span class="text-danger" ng-hide="vm.ctHopDong.PhanLoaiHopDongId">*</span></label>
                                <ui-select ng-model="vm.ctHopDong.PhanLoaiHopDongId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                    <ui-select-match placeholder="Tìm kiếm..." >
                                        <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in vm.PhanLoaiHopDong | propsFilter:{Title: $select.search, Ma: $select.search}">
                                        <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                        <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                        <small>
                                            </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label> Số hợp đồng <span class="text-danger" ng-hide="vm.ctHopDong.SoHopDong">*</span></label>
                                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctHopDong.SoHopDong" placeholder="Nhập số hợp đồng...">
                            </div>
                            <div class="form-group">
                                <label> Tên hợp đồng <span class="text-danger" ng-hide="vm.ctHopDong.Title">*</span></label>
                                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctHopDong.Title" placeholder="Nhập tiêu đề...">
                            </div>
                            <div class="form-group">
                                <label>Ngày ký:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                        enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                        is-open="vm.pickerNgayKy.open" ng-click="vm.openCalendar($event, 'pickerNgayKy')"
                                        ng-model="vm.ctHopDong.NgayKy"  placeholder="Chọn ngày" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayKy')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ngày thực hiện:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                        enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                        is-open="vm.pickerNgayThucHien.open" ng-click="vm.openCalendar($event, 'pickerNgayThucHien')"
                                        ng-model="vm.ctHopDong.NgayThucHien"  placeholder="Chọn ngày" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayThucHien')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Thời gian thực hiện (ngày)</label>
                                <input type="text" class="form-control"  placeholder="Nhập số ngày..."
                                    cleave="vm.formFormat.number" ng-model="vm.ctHopDong.ThoiGianThucHien">
                            </div>
                            <div class="form-group">
                                <label>Thời gian điều chỉnh (ngày)</label>
                                <input type="text" class="form-control"  placeholder="Nhập số ngày..."
                                    cleave="vm.formFormat.number" ng-model="vm.ctHopDong.ThoiGianDieuChinh">
                            </div>
                            <div class="form-group">
                                <label>Ngày kết thúc dự kiến:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                        enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                        is-open="vm.pickerNgayKetThucDuKien.open" ng-click="vm.openCalendar($event, 'pickerNgayKetThucDuKien')"
                                        ng-model="vm.ctHopDong.NgayKetThucDuKien"  placeholder="Chọn ngày" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayKetThucDuKien')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ngày nghiệm thu:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                        enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                        is-open="vm.pickerNgayNghiemThu.open" ng-click="vm.openCalendar($event, 'pickerNgayNghiemThu')"
                                        ng-model="vm.ctHopDong.NgayNghiemThu"  placeholder="Chọn ngày" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayNghiemThu')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ngày thanh lý:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                        enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                        is-open="vm.pickerNgayThanhLy.open" ng-click="vm.openCalendar($event, 'pickerNgayThanhLy')"
                                        ng-model="vm.ctHopDong.NgayThanhLy"  placeholder="Chọn ngày" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayThanhLy')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ngày thực tế bắt đầu:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                        enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                        is-open="vm.pickerNgayThucTeBatDau.open" ng-click="vm.openCalendar($event, 'pickerNgayThucTeBatDau')"
                                        ng-model="vm.ctHopDong.NgayThucTeBatDau"  placeholder="Chọn ngày" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayThucTeBatDau')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ngày thực tế kết thúc:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                        enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                        is-open="vm.pickerNgayThucTeKetThuc.open" ng-click="vm.openCalendar($event, 'pickerNgayThucTeKetThuc')"
                                        ng-model="vm.ctHopDong.NgayThucTeKetThuc"  placeholder="Chọn ngày" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayThucTeKetThuc')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Giá trị hợp đồng</label>
                                <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                    cleave="vm.formFormat.number" ng-model="vm.ctHopDong.GiaTriHopDong">
                            </div>
                            <div class="form-group">
                                <label>Giái trị hợp đồng điều chỉnh</label>
                                <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                                    cleave="vm.formFormat.number" ng-model="vm.ctHopDong.GiaTriHopDongDieuChinh">
                            </div>
                            <div class="form-group">
                                <label>Đối tác <span class="text-danger" ng-hide="vm.ctHopDong.DoiTacId">*</span></label>
                                <ui-select ng-model="vm.ctHopDong.DoiTacId" theme="selectize" style="width: 100%;" title="Chọn loại">
                                    <ui-select-match placeholder="Tìm kiếm..." >
                                        <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                                        <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                        <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                        <small>
                                            </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label>Hiện trạng</label>
                                <select class="form-control" ng-model="vm.ctHopDong.HienTrang">
                                    <option value="">-- Chọn --</option>
                                    <option>Đang thực hiện</option>
                                    <option>Hủy bỏ</option>
                                    <option>Hoàn thành</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Hồ sơ văn bản</label>
                                <ui-select ng-model="vm.ctHopDong.HoSoVanBanId" theme="select2" multiple
                                            style="min-width: 300px; width: 100%" title="Chọn văn bản">
                                    <ui-select-match placeholder="Tìm tên văn bản... ">
                                    {{$item.Title}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in vm.HoSoVanBan | propsFilter:{Title: $select.search, SoHieuVanBan: $select.search}">
                                    <div ng-bind-html="item.Title | highlight: $select.search"></div>
                                    <small>
                                    </span>Số hiệu: <span ng-bind-html="item.SoHieuVanBan | highlight: $select.search"></span>
                                </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div> <!-- /.form-group -->
            
                            
                            <div class="form-group">
                                <label> Nội dung </label>
                                <textarea rows="3" class="form-control" data-ng-model="vm.ctHopDong.NoiDung" placeholder="Nhập thông tin..."></textarea>
                            </div>


                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tập tin đã tải lên</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.ctHopDong.AttachmentFiles.results">
                                        <td><strong>{{ item.FileName }}</strong></td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Bắt đầu test upload -->
                        <div ng-if="+vm.uploader.queue.length > 0">

                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Tập tin sẽ tải lên</th>
                                        <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End test upload -->
                        <div class="upload-btn-wrapper">
                            <button class="btn btn-outline-info">
                                <i class="ti-cloud-up"></i>
                                Chọn tệp tin tải lên
                            </button>
                            <input type="file" nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                multiple="multiple" />
                            <span ng-if="+vm.uploader.queue.length > 0">
                                Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                            </span>
                        </div>

                        <!-- <div>
                                <div class="form-group animated fadeIn">
                                    <p>Đính kèm tệp tin:</p>
                                    <input nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" class="form-control" type="file" multiple="multiple" />
                                </div>
                            </div> -->


                        <div class="category form-category" ng-hide="m.ctChiPhi.Title">
                            <span class="text-danger">*</span> Bạn chưa điền đủ thông tin
                        </div>
                    </div>



                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md">
                            <small class="text-muted" data-ng-if="vm.showDelBtn">
                                Người tạo: <strong ng-bind="vm.ctHopDong.Author.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctHopDong.Created | date:'HH:mm - d/M/y'"></strong><br />
                                Sửa lần cuối: <strong ng-bind="vm.ctHopDong.Editor.Title"></strong> / lúc <strong
                                    ng-bind="vm.ctHopDong.Modified | date:'HH:mm - d/M/y'"></strong>
                            </small>
                        </div>
                        <div class="col-md text-right">
                            <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctHopDong.Title"
                                ng-if="vm.flagCanEdit" ladda="vm.btnSave">
                                <span class="btn-label"><i class="material-icons">check</i></span>
                                Lưu
                            </button>
                            <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/chiphi/{{vm.ctHopDong.Id}}?action=edit">
                                <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                            </a>
                            <button class="btn btn-danger align-middle" type="submit" data-ng-if="vm.showDelBtn && vm.flagCanEdit"
                                ng-click="vm.goDelete()">
                                <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                            </button>
                            <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay
                                lại</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>