<div ng-controller="dsHopDong as vm"  class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">

            <div class="card-body  p-0">

                <div class="table-responsive">
                    <table class="table table-hover stylish-table">
                        <thead>
                            <tr>
                                <th>
                                    Số hợp đồng
                                </th>
                                <th ng-click="vm.sortData('HopDong.Title')">
                                    Hợp đồng
                                    <div ng-class="vm.getSortClass('HopDong.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('NgayKy')">
                                    Ngày ký
                                    <div ng-class="vm.getSortClass('NgayKy')"></div>
                                </th>
                                <th ng-click="vm.sortData('NgayThucHien')">
                                    Ngày thực hiện
                                    <div ng-class="vm.getSortClass('NgayThucHien')"></div>
                                </th>
                                <th ng-click="vm.sortData('NgayNghiemThu')">
                                    Ngày nghiệm thu
                                    <div ng-class="vm.getSortClass('NgayNghiemThu')"></div>
                                </th>
                                <th ng-click="vm.sortData('GiaTriHopDong')">
                                    Giá trị hợp đồng
                                    <div ng-class="vm.getSortClass('GiaTriHopDong')"></div>
                                </th>
                                <th ng-click="vm.sortData('GoiThau.Title')">
                                    Gói thầu
                                    <div ng-class="vm.getSortClass('GoiThau.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('NguonVon.Title')">
                                    Nguồn vốn
                                    <div ng-class="vm.getSortClass('NguonVon.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('HangMuc.Title')">
                                    Hạng mục
                                    <div ng-class="vm.getSortClass('HangMuc.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('DoiTac.Title')">
                                    Đối tác
                                    <div ng-class="vm.getSortClass('DoiTac.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('PhanLoaiHopDong.Title')">
                                    Phân loại hợp đồng
                                    <div ng-class="vm.getSortClass('PhanLoaiHopDong.Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('HienTrang')">
                                    Hiện trạng
                                    <div ng-class="vm.getSortClass('HienTrang')"></div>
                                </th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsHopDong | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                <td>
                                    <a ng-href="#/hopdong/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.SoHopDong"></a>
                                </td>
                                <td>
                                    <a ng-href="#/hopdong/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Title"></a>
                                </td>
                                
                                <td ng-bind="::item.NgayKy | date:'dd/MM/y'"></td>
                                <td ng-bind="::item.NgayThucHien | date:'dd/MM/y'"></td>
                                <td ng-bind="::item.NgayNghiemThu | date:'dd/MM/y'"></td>
                                <td ng-bind="::item.GiaTriHopDong | number:0"></td>
                                <td ng-bind="::item.GoiThau.Title"></td>
                                <td ng-bind="::item.NguonVon.Title"></td>
                                <td ng-bind="::item.HangMuc.Title"></td>
                                <td ng-bind="::item.DoiTac.Title"></td>
                                <td ng-bind="::item.PhanLoaiHopDong.Title"></td>
                                <td class="text-right" ng-bind="::item.HienTrang"></td>
                                <td class="align-middle">
                                    <a ng-href="#/hopdong/{{::item.Id}}/sua?action=edit" title="Sửa">
                                        <i class="ti-marker-alt"></i>
                                    </a>
                                    <a class="text-danger" ng-click="vm.delItem(item)" title="Xóa">
                                        <i class="ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="width:100%" ng-hide="vm.dsHopDong">
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- .right-sidebar -->
    <div class="right-sidebar" >
        <div class="slimscrollright">
            <div class="rpanel-title">
                Tạo mới
                <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose" aria-hidden="true"></i></span>
            </div>
            <div class="r-panel-body">
                
                <div class="form-group">
                    <label>Gói thầu <span class="text-danger" ng-hide="vm.ctHopDong.GoiThauId">*</span></label>
                    <ui-select ng-model="vm.ctHopDong.GoiThauId" theme="selectize" style="width: 100%;" title="Chọn loại"
                        ng-change="vm.getDsChiPhi()">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong>
                            <div style="display:none">
                                {{vm.ctHopDong.HangMucId = $select.selected.HangMucCongTrinhId}}
                            </div>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.GoiThau | propsFilter:{Title: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Chi phí <span class="text-danger" ng-hide="vm.ctHopDong.ChiPhiId">*</span></label>
                    <ui-select ng-model="vm.ctHopDong.ChiPhiId" theme="selectize" style="width: 100%;" title="Chọn loại">
                        <ui-select-match placeholder="Tìm kiếm..." >
                            <strong ng-bind="$select.selected.Title"></strong>
                            <div style="display:none">
                                {{vm.ctHopDong.NguonVonId = $select.selected.NguonVonId}}
                                {{vm.ctHopDong.GiaTriHopDong = $select.selected.ChiPhiDuToan}}
                            </div>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.ChiPhi | propsFilter:{Title: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                </span>Chi phí dự toán: <span ng-bind-html="item.ChiPhiDuToan | highlight: $select.search | number:0"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div ng-if="+vm.ctHopDong.ChiPhiId > 0">
                    <div class="form-group">
                        <label>Phân loại hợp đồng <span class="text-danger" ng-hide="vm.ctHopDong.PhanLoaiHopDongId">*</span></label>
                        <ui-select ng-model="vm.ctHopDong.PhanLoaiHopDongId" theme="selectize" style="width: 100%;" title="Chọn loại">
                            <ui-select-match placeholder="Tìm kiếm..." >
                                <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                            </ui-select-match>
                            <ui-select-choices repeat="item.Id as item in vm.PhanLoaiHopDong | propsFilter:{Title: $select.search, Ma: $select.search}">
                                <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                <small>
                                    </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label> Số hợp đồng <span class="text-danger" ng-hide="vm.ctHopDong.SoHopDong">*</span></label>
                        <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctHopDong.SoHopDong" placeholder="Nhập số hợp đồng...">
                    </div>
                    <div class="form-group">
                        <label> Tên hợp đồng <span class="text-danger" ng-hide="vm.ctHopDong.Title">*</span></label>
                        <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctHopDong.Title" placeholder="Nhập tiêu đề...">
                    </div>
                    <div class="form-group">
                        <label>Ngày ký:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                is-open="vm.pickerNgayKy.open" ng-click="vm.openCalendar($event, 'pickerNgayKy')"
                                ng-model="vm.ctHopDong.NgayKy"  placeholder="Chọn ngày" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayKy')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ngày thực hiện:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                is-open="vm.pickerNgayThucHien.open" ng-click="vm.openCalendar($event, 'pickerNgayThucHien')"
                                ng-model="vm.ctHopDong.NgayThucHien"  placeholder="Chọn ngày" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayThucHien')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Thời gian thực hiện (ngày)</label>
                        <input type="text" class="form-control"  placeholder="Nhập số ngày..."
                            cleave="vm.formFormat.number" ng-model="vm.ctHopDong.ThoiGianThucHien">
                    </div>
                    <div class="form-group">
                        <label>Thời gian điều chỉnh (ngày)</label>
                        <input type="text" class="form-control"  placeholder="Nhập số ngày..."
                            cleave="vm.formFormat.number" ng-model="vm.ctHopDong.ThoiGianDieuChinh">
                    </div>
                    <div class="form-group">
                        <label>Ngày kết thúc dự kiến:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                is-open="vm.pickerNgayKetThucDuKien.open" ng-click="vm.openCalendar($event, 'pickerNgayKetThucDuKien')"
                                ng-model="vm.ctHopDong.NgayKetThucDuKien"  placeholder="Chọn ngày" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayKetThucDuKien')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ngày nghiệm thu:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                is-open="vm.pickerNgayNghiemThu.open" ng-click="vm.openCalendar($event, 'pickerNgayNghiemThu')"
                                ng-model="vm.ctHopDong.NgayNghiemThu"  placeholder="Chọn ngày" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayNghiemThu')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ngày thanh lý:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                is-open="vm.pickerNgayThanhLy.open" ng-click="vm.openCalendar($event, 'pickerNgayThanhLy')"
                                ng-model="vm.ctHopDong.NgayThanhLy"  placeholder="Chọn ngày" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayThanhLy')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ngày thực tế bắt đầu:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                is-open="vm.pickerNgayThucTeBatDau.open" ng-click="vm.openCalendar($event, 'pickerNgayThucTeBatDau')"
                                ng-model="vm.ctHopDong.NgayThucTeBatDau"  placeholder="Chọn ngày" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayThucTeBatDau')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ngày thực tế kết thúc:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" save-as="ISO"
                                enable-time="false" close-on-date-selection="true" datepicker-append-to-body="true"
                                is-open="vm.pickerNgayThucTeKetThuc.open" ng-click="vm.openCalendar($event, 'pickerNgayThucTeKetThuc')"
                                ng-model="vm.ctHopDong.NgayThucTeKetThuc"  placeholder="Chọn ngày" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" ng-click="vm.openCalendar($event, 'pickerNgayThucTeKetThuc')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Giá trị hợp đồng</label>
                        <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                            cleave="vm.formFormat.number" ng-model="vm.ctHopDong.GiaTriHopDong">
                    </div>
                    <div class="form-group">
                        <label>Giái trị hợp đồng điều chỉnh</label>
                        <input type="text" class="form-control"  placeholder="Nhập số tiền..."
                            cleave="vm.formFormat.number" ng-model="vm.ctHopDong.GiaTriHopDongDieuChinh">
                    </div>
                    <div class="form-group">
                        <label>Đối tác <span class="text-danger" ng-hide="vm.ctHopDong.DoiTacId">*</span></label>
                        <ui-select ng-model="vm.ctHopDong.DoiTacId" theme="selectize" style="width: 100%;" title="Chọn loại">
                            <ui-select-match placeholder="Tìm kiếm..." >
                                <strong ng-bind="$select.selected.Title"></strong> (<span ng-bind="$select.selected.Ma"></span>)
                            </ui-select-match>
                            <ui-select-choices repeat="item.Id as item in vm.DoiTac | propsFilter:{Title: $select.search, Ma: $select.search}">
                                <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                                <div><strong  ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                                <small>
                                    </span>Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>Hiện trạng</label>
                        <select class="form-control" ng-model="vm.ctHopDong.HienTrang">
                            <option value="">-- Chọn --</option>
                            <option>Đang thực hiện</option>
                            <option>Hủy bỏ</option>
                            <option>Hoàn thành</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Hồ sơ văn bản</label>
                        <ui-select ng-model="vm.ctHopDong.HoSoVanBanId" theme="select2" multiple
                                    style="min-width: 300px; width: 100%" title="Chọn văn bản">
                            <ui-select-match placeholder="Tìm tên văn bản... ">
                            {{$item.Title}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.Id as item in vm.HoSoVanBan | propsFilter:{Title: $select.search, SoHieuVanBan: $select.search}">
                            <div ng-bind-html="item.Title | highlight: $select.search"></div>
                            <small>
                            </span>Số hiệu: <span ng-bind-html="item.SoHieuVanBan | highlight: $select.search"></span>
                        </small>
                            </ui-select-choices>
                        </ui-select>
                    </div> <!-- /.form-group -->
    
                    
                    <div class="form-group">
                        <label> Nội dung </label>
                        <textarea rows="3" class="form-control" data-ng-model="vm.ctHopDong.NoiDung" placeholder="Nhập thông tin..."></textarea>
                    </div>
                    <!-- Bắt đầu test upload -->
                    <div ng-if="+vm.uploader.queue.length > 0">
            
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Tập tin sẽ tải lên</th>
                                        <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                        <th class="text-center">Gỡ bỏ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td class="text-center"> 
                                            <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End test upload -->
                        <div class="upload-btn-wrapper">
                            <button class="btn btn-outline-info">
                                <i class="ti-cloud-up"></i>
                                Chọn tệp tin tải lên
                            </button>
                            <input type="file" 
                                nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                multiple="multiple" />
                                <span ng-if="+vm.uploader.queue.length > 0">
                                    Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                                </span>
                        </div>
                </div>
                
                
                <div>
                    <p ng-hide="vm.ctHopDong.SoHopDong && vm.ctHopDong.Title && vm.ctHopDong.PhanLoaiHopDongId">
                        <span class="text-danger">*</span>
                        <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary waves-effect waves-light" type="submit" 
                    data-ng-click="vm.createItem();" 
                    data-ng-disabled="!vm.ctHopDong.Title || !vm.ctHopDong.SoHopDong || !vm.ctHopDong.PhanLoaiHopDongId" ladda="vm.btnSave">
                        Tạo mới
                    </button>
                    <button class="btn btn-default waves-effect waves-light right-side-action-toggle" type="reset">
                        Quay lại
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->



</div>