<div data-ng-controller="ctHopDong as vm" class="animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles d-print-none">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                    <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <a class="btn waves-effect waves-light btn-info pull-right" href="#/hopdong/them/sua?action=edit">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Thông tin</h4>
                    </div>
                    <div class="card-body">
                        <div style="width:100%" ng-hide="vm.ctHopDong">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <div ng-show="vm.ctHopDong" class="animated fadeIn">
                            <table class="table table-bordered">
                                
                                <tr>
                                    <th colspan="2">
                                        <h5 ng-bind="vm.ctHopDong.Title"></h5>
                                    </th>
                                </tr>
                                <tr>
                                    <td><strong>Số hợp đồng</strong></td>
                                    <td ng-bind="vm.ctHopDong.SoHopDong"> </td>
                                <tr>
                                <tr>
                                    <td><strong>Dự án</strong></td>
                                    <td>
                                        <a href="#/duan/{{vm.ctHopDong.DuAnId}}/xem" ng-bind="vm.ctHopDong.DuAn.Title"></a>
                                    </td>
                                <tr>
                                    <td><strong>Ngày ký</strong></td>
                                    <td ng-bind="vm.ctHopDong.NgayKy | date:'dd/MM/y'"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày thực hiện</strong></td>
                                    <td ng-bind="vm.ctHopDong.NgayThucHien | date:'dd/MM/y'"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Thời gian thực hiện</strong></td>
                                    <td ng-bind="vm.ctHopDong.ThoiGianThucHien | number:0"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Thời gian điều chỉnh</strong></td>
                                    <td ng-bind="vm.ctHopDong.ThoiGianDieuChinh | number:0"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày kết thúc dự kiến</strong></td>
                                    <td ng-bind="vm.ctHopDong.NgayKetThucDuKien | date:'dd/MM/y'"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày nghiệm thu</strong></td>
                                    <td ng-bind="vm.ctHopDong.NgayNghiemThu | date:'dd/MM/y'"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày thanh lý</strong></td>
                                    <td ng-bind="vm.ctHopDong.NgayThanhLy | date:'dd/MM/y'"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày thực tế bắt đầu</strong></td>
                                    <td ng-bind="vm.ctHopDong.NgayThucTeBatDau | date:'dd/MM/y'"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Ngày thực tế kết thúc</strong></td>
                                    <td ng-bind="vm.ctHopDong.NgayThucTeKetThuc | date:'dd/MM/y'"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Giá trị hợp đồng</strong></td>
                                    <td class="text-right" ng-bind="vm.ctHopDong.GiaTriHopDong | number:0"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Giá trị điều chỉnh</strong></td>
                                    <td class="text-right" ng-bind="vm.ctHopDong.GiaTriDieuChinh | number:0"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Gói thầu</strong></td>
                                    <td ng-bind="vm.ctHopDong.GoiThau.Title"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Nguồn vốn</strong></td>
                                    <td ng-bind="vm.ctHopDong.NguonVon.Title"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Hạng mục</strong></td>
                                    <td ng-bind="vm.ctHopDong.HangMuc.Title"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Đối tác</strong></td>
                                    <td ng-bind="vm.ctHopDong.DoiTac.Title"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Phân loại hợp đồng</strong></td>
                                    <td ng-bind="vm.ctHopDong.PhanLoaiHopDong.Title"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Hiện trạng</strong></td>
                                    <td ng-bind="vm.ctHopDong.HienTrang"> </td>
                                </tr>
                                <tr>
                                    <td><strong>Nội dung</strong></td>
                                    <td>
                                        <div ng-bind="vm.ctHopDong.NoiDung"></div> </td>
                                </tr>
                            </table>
                            <!-- Start display AttachmentFiles -->
                            <div ng-if="+vm.ctHopDong.AttachmentFiles.results.lenght > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tập tin đã tải lên</td>
                                            <th class="text-center">Gỡ bỏ</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.ctHopDong.AttachmentFiles.results">
                                            <td><strong>{{ item.FileName }}</strong></td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                        class="ti-close"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- End display AttachmentFiles -->
                        </div>
    
    
    
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md">
                                <small class="text-muted" data-ng-if="vm.showDelBtn">
                                    Người tạo: <strong ng-bind="vm.ctHopDong.Author.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctHopDong.Created | date:'HH:mm - d/M/y'"></strong><br />
                                    Sửa lần cuối: <strong ng-bind="vm.ctHopDong.Editor.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctHopDong.Modified | date:'HH:mm - d/M/y'"></strong>
                                </small>
                            </div>
                            <div class="col-md text-right">
                                <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/hopdong/{{vm.ctHopDong.Id}}/sua?action=edit">
                                    <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                                </a>
                                <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                    <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span>
                                    Quay lại</button>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
    
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Phụ lục hợp đồng</h4>
                            </div>
                            <div class="card-body">
                                <div style="width:100%" ng-hide="vm.ctHopDong">
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                </div>
                                <div ng-show="vm.ctHopDong" class="animated fadeIn">
                                    <table class="table table-bordered table-sm">
                                        <tr>
                                            <th>
                                                Mã
                                            </th>
                                            <th ng-click="vm.sortData('DuAn.Title')">
                                                Phụ lục
                                                <div ng-class="vm.getSortClass('DuAn.Title')"></div>
                                            </th>
                                            <th ng-click="vm.sortData('NgayKy')">
                                                Ngày ký phụ lục
                                                <div ng-class="vm.getSortClass('NgayKy')"></div>
                                            </th>
                                            <th ng-click="vm.sortData('NgayThucHien')">
                                                Giá trị phụ lục
                                                <div ng-class="vm.getSortClass('NgayThucHien')"></div>
                                            </th>
                                            <th ng-click="vm.sortData('NgayNghiemThu')">
                                                Sửa đổi thời gian
                                                <div ng-class="vm.getSortClass('NgayNghiemThu')"></div>
                                            </th>
                                            <th ng-click="vm.sortData('GiaTriHopDong')">
                                                Thời gian phụ lục (ngày)
                                                <div ng-class="vm.getSortClass('GiaTriHopDong')"></div>
                                            </th>
                                        </tr>
                                        <tr ng-repeat="item in vm.PhuLucHopDong">
                                            <td>
                                                <a ng-href="#/phuluchopdong/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Ma"></a>
                                            </td>
                                            <td>
                                                <a ng-href="#/phuluchopdong/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Title"></a>
                                            </td>
                                            <td ng-bind="::item.NgayKyPhuLuc | date:'dd/MM/y'"></td>
                                            <td class="text-right" ng-bind="::item.GiaTriPhuLuc | number:0"></td>
                                            <td>
                                                <span class="label"
                                                ng-class="{'label-success': item.SuaDoiThoiGian === 'Tăng thêm',
                                                'label-danger': item.SuaDoiThoiGian === 'Giảm bớt',
                                                'label-primary': item.SuaDoiThoiGian === 'Không đổi' }"
                                                 ng-bind="::item.SuaDoiThoiGian"></span>
                                            </td>
                                            <td class="text-right" ng-bind="::item.ThoiGianPhuLuc | number:0"></td>
                                            
                                        </tr>
                                    </table>
            
                                </div>
            
            
            
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Khối lượng công tác</h4>
                            </div>
                            <div class="card-body">
                                <div style="width:100%" ng-hide="vm.ctHopDong">
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                </div>
                                <div ng-show="vm.ctHopDong" class="animated fadeIn">
                                    <table class="table table-bordered table-sm">
                                        <tr>
                                            <th>Mã</th>
                                            <th>Tên công tác</th>
                                            <th>ĐVT</th>
                                            <th>Khối lượng</th>
                                            <th>Đơn giá có thuế</th>
                                            <th>Tiền sau thuế</th>
                                            <th>Chi phí</th>
                                        </tr>
                                        <tr ng-repeat="item in vm.KhoiLuongCongTac">
                                            <td ng-bind="::item.Ma"></td>
                                            <td ng-bind="::item.TenCongTac"></td>
                                            <td ng-bind="::item.DonViTinh"></td>
                                            <td class="text-right" ng-bind="::item.KhoiLuong | number:0"></td>
                                            <td class="text-right" ng-bind="::item.DonGiaCoThue | number:0"></td>
                                            <td class="text-right" ng-bind="::item.TienSauThue | number:0"></td>
                                            <td ng-bind="::item.ChiPhi.Title"></td>
                                        </tr>
                                        <!-- <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>sum khoi luong</td>
                                            <td>sum don gia co VAT</td>
                                            <td>Tien sau VAT</td>
                                            <td></td>
                                        </tr> -->
                                    </table>
            
                                </div>
            
            
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Hồ sơ văn bản liên quan</h4>
                            </div>
                            <div class="card-body">
                                <div style="width:100%" ng-hide="vm.ctHopDong">
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                </div>
                                <div ng-show="vm.ctHopDong" class="animated fadeIn">
                                    <table class="table table-bordered table-sm">
                                        <tr>
                                            <th>Mã</th>
                                            <th>Số hiệu</th>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Ngày ký</th>
                                        </tr>
                                        <tr ng-repeat="item in vm.ctHopDong.HoSoVanBan.results">
                                            <td>
                                                <a ng-href="#/hosovanban/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Ma"></a>
                                            </td>
                                            <td>
                                                <a ng-href="#/hosovanban/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.SoHieuVanBan"></a>
                                            </td>
                                            <td>
                                                <a ng-href="#/hosovanban/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Title"></a>
                                            </td>
                                            <td>
                                                <a ng-href="#/hosovanban/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.NgayKy | date:'dd/MM/y'"></a>
                                            </td>
                                        </tr>
                                    </table>
            
                                </div>
            
            
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Chi phí theo gói thầu</h4>
                            </div>
                            <div class="card-body">
                                <div style="width:100%" ng-hide="vm.ctHopDong">
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                    <div class="place-holder-background"> </div>
                                </div>
                                <div ng-show="vm.ctHopDong" class="animated fadeIn">
                                    <table class="table table-bordered table-sm">
                                        <tr>
                                            <th>Chi phí dự toán</th>
                                            <th>Thanh toán và tạm ứng</th>
                                        </tr>
                                        <tr ng-repeat="item in vm.ChiPhi">
                                            <td ng-bind="::item.Title"></td>
                                            <td class="text-right" ng-bind="::item.TTVaTamUng | number:0"></td>
                                        </tr>
                                    </table>
            
                                </div>
            
            
            
                            </div>
                        </div>
                    </div>
                </div>
                
    
            </div>
    
        </div>
    
    </div>