<div ng-controller="dsLoaiChiPhiDuAn as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                <i class="fa fa-plus"></i>
                Thêm mới
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="card col-md-12">

            <div class="card-body  p-0">

                <div class="table-responsive">
                    <table class="table table-hover stylish-table">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortData('Ma')">
                                    Mã
                                    <div ng-class="vm.getSortClass('Ma')"></div>
                                </th>
                                <th ng-click="vm.sortData('Title')">
                                    Loại chi phí
                                    <div ng-class="vm.getSortClass('Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('GiaTriDuAnDuocDuyet')">
                                    Giá trị dự án được duyệt
                                    <div ng-class="vm.getSortClass('GiaTriDuAnDuocDuyet')"></div>
                                </th>
                                <th ng-click="vm.sortData('GiaTriDuToanDuocDuyet')">
                                    Giá trị dự toán được duyệt
                                    <div ng-class="vm.getSortClass('GiaTriDuToanDuocDuyet')"></div>
                                </th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsLoaiChiPhiDuAn | orderBy:vm.sortColumn:vm.reverse | filter:searchText" ng-init="$last && vm.enabeledTooltips()">
                                <td class="text-left">
                                    <a ng-href="#/loaichiphiduan/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Ma"></a>
                                </td>
                                <td>
                                    <a ng-href="#/loaichiphiduan/{{::item.Id}}/xem" title="xem chi tiết" ng-bind="::item.Title"></a>
                                </td>
                                <td class="text-right" ng-bind="::item.GiaTriDuAnDuocDuyet | number:0"></td>
                                <td class="text-right" ng-bind="::item.GiaTriDuToanDuocDuyet | number:0"></td>
                                <td class="align-middle">
                                    <a ng-href="#/loaichiphiduan/{{::item.Id}}/sua?action=edit" title="Sửa">
                                        <i class="ti-marker-alt"></i>
                                    </a>
                                    <a class="text-danger" ng-click="vm.delItem(item)" title="Xóa">
                                        <i class="ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="width:100%" ng-hide="vm.dsLoaiChiPhiDuAn">
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                    <div class="place-holder-background"> </div>
                </div>
            </div>
        </div>
    </div>


    <!-- .right-sidebar -->
    <div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title">
                Tạo mới
                <span><i class="ms-Icon ms-Icon--ChromeClose text-white right-side-action-toggle" title="ChromeClose"
                        aria-hidden="true"></i></span>
            </div>
            <div class="r-panel-body">
                <div class="form-group">
                    <label>Loại chi phí</label>
                    <ui-select ng-model="vm.ctLoaiChiPhiDuAn.LoaiChiPhiId" theme="selectize" style="width: 100%;" title="Chọn loại dự án"
                        ng-change="vm.checkLoaiChiPhiDuAn()">
                        <ui-select-match placeholder="Tìm kiếm...">
                            <strong ng-bind="$select.selected.Title"></strong> - <span ng-bind="$select.selected.Ma"></span>
                            <div style="display:none">
                                {{vm.CacheLoaiChiPhiSelected = $select.selected}}
                            </div>
                        </ui-select-match>
                        <ui-select-choices repeat="item.Id as item in vm.LoaiChiPhi | propsFilter:{Title: $select.search, Ma: $select.search}">
                            <!-- refresh="vm.getDsKhachHang($select.search)" refresh-delay="700" spinner-enabled="true" spinner-class="fa fa-spinner" > -->
                            <div><strong ng-bind-html="item.Title | highlight: $select.search"></strong></div>
                            <small>
                                Mã: <span ng-bind-html="item.Ma | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div ng-if="vm.CacheLoaiChiPhiSelected">
                    <div class="form-group">
                        <label> Giá trị dự án được duyệt</label>
                        <input type="text" class="form-control" data-ng-model="vm.ctLoaiChiPhiDuAn.GiaTriDuAnDuocDuyet"
                            cleave="vm.formFormat.number" placeholder="Nhập số tiền...">
                    </div>
                    <div class="form-group">
                        <label> Giá trị dự toán được duyệt</label>
                        <input type="text" class="form-control" data-ng-model="vm.ctLoaiChiPhiDuAn.GiaTriDuToanDuocDuyet"
                            cleave="vm.formFormat.number" placeholder="Nhập số tiền...">
                    </div>
                    <!-- Bắt đầu test upload -->
                    <div ng-if="+vm.uploader.queue.length > 0">

                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Tập tin sẽ tải lên</th>
                                    <th ng-show="vm.uploader.isHTML5">Kích thước</th>
                                    <th class="text-center">Gỡ bỏ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-danger" ng-click="vm.uploader.queue.splice($index,1);"><i
                                                class="ti-close"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End test upload -->
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-outline-info">
                            <i class="ti-cloud-up"></i>
                            Chọn tệp tin tải lên
                        </button>
                        <input type="file" nv-file-select="" uploader="vm.uploader" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                            multiple="multiple" />
                        <span ng-if="+vm.uploader.queue.length > 0">
                            Đã chọn tải lên: {{ vm.uploader.queue.length }} tệp tin
                        </span>
                    </div>
                </div>
                <span ng-bind="vm.MsgLoaiChiPhiDuAn" class="text-danger"></span>

                <div>
                    <p ng-hide="vm.CacheLoaiChiPhiSelected">
                        <span class="text-danger">*</span>
                        <small class="text-muted"> Bạn chưa điền đủ thông tin ở ô có dấu sao</small>
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary waves-effect waves-light" type="submit" data-ng-click="vm.createItem();"
                        data-ng-disabled="!vm.CacheLoaiChiPhiSelected"
                        ladda="vm.btnSave">
                        Tạo mới
                    </button>
                    <button class="btn btn-default waves-effect waves-light right-side-action-toggle" type="reset">
                        Quay lại
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->



</div>