<div data-ng-controller="ctLoaiChiPhiDuAn as vm" class="animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles d-print-none">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                    <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <!-- <a class="btn waves-effect waves-light btn-info pull-right" href="#/loaichiphiduan/them">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a> -->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Thông tin</h4>
                    </div>
                    <div class="card-body">
                        <div style="width:100%" ng-hide="vm.ctLoaiChiPhiDuAn">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <div ng-show="vm.ctLoaiChiPhiDuAn" class="animated fadeIn">
                            <table class="table table-bordered">
                                <tr>
                                    <td><strong>Dự án</strong></td>
                                    <td ng-bind="vm.ctLoaiChiPhiDuAn.DuAn.Title"></td>
                                </tr>
                                <tr>
                                    <td><strong>Mã</strong></td>
                                    <td ng-bind="vm.ctLoaiChiPhiDuAn.Ma"></td>
                                </tr>
                                <tr>
                                    <td><strong>Loại chi phí</strong></td>
                                    <td ng-bind="vm.ctLoaiChiPhiDuAn.Title"></td>
                                </tr>
                                <tr>
                                    <td><strong>Giá trị dự án được duyệt</strong></td>
                                    <td class="text-right" ng-bind="vm.ctLoaiChiPhiDuAn.GiaTriDuAnDuocDuyet | number:0"></td>
                                </tr>
                                <tr>
                                    <td><strong>Giá trị dự toán được duyệt</strong></td>
                                    <td class="text-right" ng-bind="vm.ctLoaiChiPhiDuAn.GiaTriDuToanDuocDuyet | number:0"></td>
                                </tr>
                            </table>
                            
                            <div ng-if="+vm.ctLoaiChiPhiDuAn.AttachmentFiles.results.length > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tập tin đã tải lên</th>
                                            <th class="text-center">Gỡ bỏ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.ctLoaiChiPhiDuAn.AttachmentFiles.results">
                                            <td><strong>{{ item.FileName }}</strong></td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-danger" ng-click="vm.deleteFile(item.FileName)"><i
                                                        class="ti-close"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                        </div>
    
    
    
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md">
                                <small class="text-muted" data-ng-if="vm.showDelBtn">
                                    Người tạo: <strong ng-bind="vm.ctLoaiChiPhiDuAn.Author.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctLoaiChiPhiDuAn.Created | date:'HH:mm - d/M/y'"></strong><br />
                                    Sửa lần cuối: <strong ng-bind="vm.ctLoaiChiPhiDuAn.Editor.Title"></strong> / lúc
                                    <strong ng-bind="vm.ctLoaiChiPhiDuAn.Modified | date:'HH:mm - d/M/y'"></strong>
                                </small>
                            </div>
                            <div class="col-md text-right">
                                <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/loaichiphiduan/{{vm.ctLoaiChiPhiDuAn.Id}}/sua?action=edit">
                                    <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                                </a>
                                <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                    <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay
                                    lại</button>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>