<div data-ng-controller="ctDuAn as vm" class="animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles d-print-none">
        <div class="col-md-5 align-self-center col-sm-12">
            <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center col-sm-12">
            <div class="pull-right">
                <a class="btn waves-effect waves-light btn-info" href="default.aspx#/duan/them/sua?action=edit">
                    <i class="ti-plus"></i>
                    Thêm mới
                </a>
                <a class="btn waves-effect waves-light btn-secondary" href="default.aspx#/duan">
                    <i class="ti-layout-grid3"></i>
                    Danh sách dự án
                </a>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->



    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="pull-right align-top">
                        <span class="badge badge-info" ng-if="vm.ctDuAn.TinhTrang === 'Đang thực hiện'" ng-bind="::vm.ctDuAn.TinhTrang"></span>
                    </div>

                    <h4 class="card-title" ng-bind="::vm.ctDuAn.Title"></h4>

                    <p class="card-text">Mã dự án: <span ng-bind="::vm.ctDuAn.Ma"></span></p>
                    <p class="card-text">Tiến trình: <span ng-bind="::vm.ctDuAn.TienTrinh"></span></p>
                    <p class="card-text">Ngành / Lĩnh vực: <span ng-bind="::vm.ctDuAn.LinhVuc"></span></p>
                    <p class="card-text">Thời gian thực hiện: <span ng-bind="::vm.ctDuAn.NamThucHien | date:'dd/MM/y'"></span></p>


                    <p class="card-text">Nhóm dự án: <span ng-bind="::vm.ctDuAn.NhomDuAn.Title"></span></p>
                    <p class="card-text">Loại công trình: <span ng-bind="::vm.ctDuAn.LoaiCongTrinh.Title"></span></p>
                    <p class="card-text">Cấp công trình: <span ng-bind="::vm.ctDuAn.CapCongTrinh.Title"></span></p>

                    <p class="card-text">Địa điểm: <span ng-bind="::vm.ctDuAn.DiaDiem.Title"></span></p>





                    <div ng-bind="::vm.ctDuAn.MoTa">

                    </div>
                    <a href="#/duan/{{::vm.ctDuAn.Id}}/sua" class="btn btn-success mt-3">
                        <i class="ti-marker-alt"></i> Cập nhập thông tin
                    </a>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" data-target="#chuanbi" role="tab">Chuẩn
                            bị đầu tư</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" data-target="#dangdautu" role="tab">Đang
                            đầu tư</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" data-target="#ketthuc" role="tab">Kết
                            thúc đầu tư</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="chuanbi" role="tabpanel">
                        <div class="card-body">

                            <a data-toggle="collapse" data-target="#QDPDPATT"aria-expanded="false" aria-controls="QDPDPATT">
                                <h5 class="font-medium m-t-10">
                                    <i class="ti-folder"></i> Chủ trương lập dự án đầu tư
                                </h5>
                            </a>
                            <div class="table-responsive" id="QDPDPATT">
                                <table class="table table-bordered table-sm" ng-if="vm.DsVanBan['Chủ trương lập dự án đầu tư']">
                                    <thead>
                                        <tr>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Tên hạng mục</th>
                                            <th>Số QĐ phê duyệt</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Chủ trương lập dự án đầu tư']">
                                        <tr>
                                            <td>
                                                <a href="#/hosovanban/{{::item.Id}}/xem">
                                                    <i class="ti-file"></i> <strong ng-bind="::item.Title"></strong>
                                                </a>
                                            </td>
                                            <td data-ng-bind="::item.HangMucCongTrinh.Title"></td>
                                            
                                            <td><strong ng-bind="::item.SoHieuVanBan"></strong></td>
                                            <td><span ng-bind="::item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.ToChucPhatHanh.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <a data-toggle="collapse" data-target="#bcdt"aria-expanded="false" aria-controls="bcdt">
                                <h5 class="font-medium m-t-10">
                                    <i class="ti-folder"></i> Báo cáo đầu tư
                                </h5>
                            </a>
                            <div class="table-responsive" id="bcdt">
                                <table class="table table-bordered table-sm" ng-if="vm.DsVanBan['Báo cáo đầu tư']">
                                    <thead>
                                        <tr>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Tên hạng mục</th>
                                            <th>Số QĐ phê duyệt</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Báo cáo đầu tư']">
                                        <tr>
                                            <td>
                                                <a href="#/hosovanban/{{::item.Id}}/xem">
                                                    <i class="ti-file"></i> <strong ng-bind="::item.Title"></strong>
                                                </a>
                                            </td>
                                            <td data-ng-bind="::item.HangMucCongTrinh.Title"></td>
                                            
                                            <td><strong ng-bind="::item.SoHieuVanBan"></strong></td>
                                            <td><span ng-bind="::item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.ToChucPhatHanh.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <a data-toggle="collapse" data-target="#dtcbdt"aria-expanded="false" aria-controls="dtcbdt">
                                <h5 class="font-medium m-t-10">
                                    <i class="ti-folder"></i> Dự toán chuẩn bị đầu tư
                                </h5>
                            </a>
                            <div class="table-responsive" id="dtcbdt">
                                <table class="table table-bordered table-sm" ng-if="vm.DsVanBan['Dự toán chuẩn bị đầu tư']">
                                    <thead>
                                        <tr>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Tên hạng mục</th>
                                            <th>Số QĐ phê duyệt</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Dự toán chuẩn bị đầu tư']">
                                        <tr>
                                            <td>
                                                <a href="#/hosovanban/{{::item.Id}}/xem">
                                                    <i class="ti-file"></i> <strong ng-bind="::item.Title"></strong>
                                                </a>
                                            </td>
                                            <td data-ng-bind="::item.HangMucCongTrinh.Title"></td>
                                            <td><strong ng-bind="::item.SoHieuVanBan"></strong></td>
                                            <td><span ng-bind="::item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.ToChucPhatHanh.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>





                        </div>
                    </div>
                    <!--second tab-->
                    <div class="tab-pane" id="dangdautu" role="tabpanel">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Chủ đầu tư</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctDuAn.ChuDauTu.Title"></p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Quyết định đầu tư</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctDuAn.NguoiQuyetDinhDauTu.Title"></p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Địa điểm</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctDuAn.DiaDiem.Title"></p>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <strong>Diện tích đất</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctDuAn.DienTichDat | number:0"></p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Thẩm định dự án</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctDuAn.ToChucThamDinhDuAn.Title"></p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Quản lý dự án</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctDuAn.ToChucQuanLyDuAn.Title"></p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Lập dự án</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctDuAn.ToChucLapDuAn.Title"></p>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <strong>Chủ nhiệm lập dự án</strong>
                                    <br>
                                    <p class="text-muted" ng-bind="::vm.ctDuAn.ChuNhiemLapDuAn.Title"></p>
                                </div>
                            </div>
                            <hr>



                            <h4 class="font-medium m-t-30">Nguồn vốn</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Nguồn vốn</th>
                                            <th>Loại vốn</th>
                                            <th>Kế hoạch thu</th>
                                            <th>Thực tế thu</th>
                                            <th>Kế hoạch chi</th>
                                            <th>Thực tế chi</th>
                                            <th>Số dư vốn</th>

                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.NguonVon">
                                        <tr>
                                            <td><strong ng-bind="::item.Title"></strong></td>
                                            <td><span ng-bind="::item.LoaiVon.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.KeHoachThu | number:0"></span></td>
                                            <td class="text-right"><span ng-bind="::item.ThucTeThu | number:0"></span></td>
                                            <td class="text-right"><span ng-bind="::item.KeHoachChi | number:0"></span></td>
                                            <td class="text-right"><span ng-bind="::item.ThucTeChi | number:0"></span></td>
                                            <td class="text-right"><span ng-bind="::item.SoDuVon | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="text-muted">Số dư vốn = Thực tế thu - Thực tế chi</p>

                        </div>
                    </div>
                    <div class="tab-pane" id="ketthuc" role="tabpanel">
                        <div class="card-body">


                            <a data-toggle="collapse" data-target="#htctdvsd"aria-expanded="false" aria-controls="htctdvsd">
                                <h5 class="font-medium m-t-10">
                                    <i class="ti-folder"></i> Hoàn thành công trình đưa vào sử dụng
                                </h5>
                            </a>
                            <div class="table-responsive" id="htctdvsd">
                                <table class="table table-bordered table-sm" ng-if="vm.DsVanBan['Hoàn thành công trình đưa vào sử dụng']">
                                    <thead>
                                        <tr>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Tên hạng mục</th>
                                            <th>Số QĐ phê duyệt</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Hoàn thành công trình đưa vào sử dụng']">
                                        <tr>
                                            <td>
                                                <a href="#/hosovanban/{{::item.Id}}/xem">
                                                    <i class="ti-file"></i> <strong ng-bind="::item.Title"></strong>
                                                </a>
                                            </td>
                                            <td data-ng-bind="::item.HangMucCongTrinh.Title"></td>
                                            <td><strong ng-bind="::item.SoHieuVanBan"></strong></td>
                                            <td><span ng-bind="::item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.ToChucPhatHanh.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <a data-toggle="collapse" data-target="#dmhshtct"aria-expanded="false" aria-controls="dmhshtct">
                                <h5 class="font-medium m-t-10">
                                    <i class="ti-folder"></i> Danh mục hồ sơ hoàn thành công trình
                                </h5>
                            </a>
                            <div class="table-responsive" id="dmhshtct">
                                <table class="table table-bordered table-sm" ng-if="vm.DsVanBan['Danh mục hồ sơ hoàn thành công trình']">
                                    <thead>
                                        <tr>
                                            <th>Hồ sơ văn bản</th>
                                            <th>Tên hạng mục</th>
                                            <th>Số QĐ phê duyệt</th>
                                            <th>Ngày ký</th>
                                            <th>Tổ chức phát hành</th>
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in vm.DsVanBan['Danh mục hồ sơ hoàn thành công trình']">
                                        <tr>
                                            <td>
                                                <a href="#/hosovanban/{{::item.Id}}/xem">
                                                    <i class="ti-file"></i> <strong ng-bind="::item.Title"></strong>
                                                </a>
                                            </td>
                                            <td data-ng-bind="::item.HangMucCongTrinh.Title"></td>
                                            <td><strong ng-bind="::item.SoHieuVanBan"></strong></td>
                                            <td><span ng-bind="::item.NgayKy | date:'dd/MM/y'"></span></td>
                                            <td><span ng-bind="::item.ToChucPhatHanh.Title"></span></td>
                                            <td class="text-right"><span ng-bind="::item.GiaTri | number:0"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->

        <!-- <div class="col-sm-12">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Static title">Static content</uib-tab>
                <uib-tab index="$index + 1" ng-repeat="tab in vm.TabsInfo.tabs" heading="{{tab.title}}" disable="tab.disabled">
                    {{tab.content}}
                </uib-tab>
                <uib-tab index="3" select="vm.TabsInfo.alertMe()">
                    <uib-tab-heading>
                        <i class="glyphicon glyphicon-bell"></i> Alert!
                    </uib-tab-heading>
                    I've got an HTML heading, and a select callback. Pretty cool!
                </uib-tab>
            </uib-tabset>
        </div> -->

    </div>
    <!-- Row -->


</div>