﻿
    <div ng-controller="dashboard as vm">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor" data-ng-bind="pageTitle">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <button class="btn waves-effect waves-light btn-info pull-right right-side-action-toggle">
                    <i class="fa fa-plus"></i>
                    Tạo nhóm mới
                </button>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
    
    
        <div class="row">
            Wellcome to Sharepoint App
        </div>
    </div>



    <!-- <div class="row pt-3">
                <div class="col-sm-6 col-md-4">
                    <div class="card card-accent-success">
                        <div class="card-header">Tình trạng hồ sơ dự thầu</div>
                        <div class="card-body p-0">
                            <canvas id="pie" class="chart chart-pie"
                                chart-data="vm.ChartHoSo.TinhTrangData" chart-labels="vm.ChartHoSo.TinhTrangLabels" chart-options="options">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card card-accent-success">
                        <div class="card-header">Hồ sơ dự thầu theo khu vực</div>
                        <div class="card-body p-0">
                            <canvas id="doughnut" class="chart chart-doughnut"
                                chart-data="vm.ChartHoSo.KhuVucData" chart-labels="vm.ChartHoSo.KhuVucLabels">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card card-accent-success">
                        <div class="card-header">Loại dự án thầu</div>
                        <div class="card-body p-0">
                            <canvas id="bar" class="chart chart-bar"
                                chart-data="vm.ChartHoSo.LoaiDuAnData" chart-labels="vm.ChartHoSo.LoaiDuAnLabels">
                            </canvas>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-md-4">
                     
                </div>
            </div> -->



</div>