<div data-ng-controller="ctHoSoVanBan as vm" class="animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles d-print-none">
            <div class="col-md-5 align-self-center col-sm-12">
                <h3 class="text-themecolor" data-ng-bind="pageTitle"></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Tổng quan</a></li>
                    <li class="breadcrumb-item active" data-ng-bind="pageTitle"></li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center col-sm-12">
                <a class="btn waves-effect waves-light btn-info pull-right" href="#/hosovanban/them/sua?action=edit">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Thông tin chi tiết văn bản</h4>
                    </div>
                    <div class="card-body">
                        <div style="width:100%" ng-hide="vm.ctHoSo">
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                            <div class="place-holder-background"> </div>
                        </div>
                        <div ng-show="vm.ctHoSo" class="animated fadeIn">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="align-middle"><strong>Dự án</strong></td>
                                            <td class="align-middle" colspan="3">
                                                <span ng-bind="::vm.ctHoSo.DuAn.Title"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><strong>Mã văn bản</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.Ma"></span>
                                            </td>
                                            <td class="align-middle"><strong>Số hiệu văn bản</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.SoHieuVanBan"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><strong>Tên văn bản</strong></td>
                                            <td class="align-middle" colspan="3">
                                                <span ng-bind="::vm.ctHoSo.Title"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><strong>Kiểu văn bản</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.KieuVanBan.Title"></span>
                                            </td>
                                            <td class="align-middle"><strong>Loại văn bản</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.LoaiVanBan.Title"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><strong>Mức độ bảo mật</strong></td>
                                            <td class="align-middle">
                                                <span class="label"
                                                    ng-class="{'label-danger': vm.ctHoSo.MucDoBaoMat === 'Cao',
                                                    'label-info': vm.ctHoSo.MucDoBaoMat === 'Bình thường' }"
                                                    ng-bind="::vm.ctHoSo.MucDoBaoMat"></span>
                                            </td>
                                            <td class="align-middle"><strong>Mức độ khẩn cấp</strong></td>
                                            <td class="align-middle">
                                                <span class="label"
                                                    ng-class="{'label-danger': vm.ctHoSo.MucDoKhanCap === 'Ưu tiên',
                                                    'label-info': vm.ctHoSo.MucDoKhanCap === 'Bình thường' }"
                                                    ng-bind="::vm.ctHoSo.MucDoKhanCap"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><strong>Ngày ký</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.NgayKy | date:'dd/MM/y'"></span>
                                            </td>
                                            <td class="align-middle"><strong>Ngày phát hành</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.NgayPhatHanh | date:'dd/MM/y'"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><strong>Ngày nộp</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.NgayNop | date:'dd/MM/y'"></span>
                                            </td>
                                            <td class="align-middle"><strong>Ngày hết hạn</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.NgayHetHan | date:'dd/MM/y'"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><strong>Hạng mục công trình</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.HangMucCongTrinh.Title"></span>
                                            </td>
                                            <td class="align-middle"><strong>Nơi nhận</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.PhongBan.Title"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><strong>Tổ chức phát hành</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.ToChucPhatHanh.Title"></span>
                                            </td>
                                            <td class="align-middle"><strong>Nơi phát hành</strong></td>
                                            <td class="align-middle">
                                                <span ng-bind="::vm.ctHoSo.NoiPhatHanh.Title"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><strong>Nội dung</strong></td>
                                            <td colspan="3">
                                                <div ng-bind="::vm.ctHoSo.NoiDung"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <h4>Tệp đính kèm</h4>
                                    <ol>
                                        <li ng-repeat="item in vm.ctHoSo.AttachmentFiles.results">
                                            <!-- <a href="{{item.ServerRelativeUrl}}" ng-bind="item.FileName"></a> -->
                                            <a class="text-info" data-toggle="modal" data-ng-click="vm.urlVanBanModal = item.ServerRelativeUrl" ng-bind="::item.FileName" data-target="#modalIframeDoc" data-backdrop="false"> </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                                                       
    
                        </div>
    
    
    
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md">
                                <small class="text-muted" data-ng-if="vm.showDelBtn">
                                    Người tạo: <strong ng-bind="vm.ctHoSo.Author.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctHoSo.Created | date:'HH:mm - d/M/y'"></strong><br />
                                    Sửa lần cuối: <strong ng-bind="vm.ctHoSo.Editor.Title"></strong> / lúc <strong
                                        ng-bind="vm.ctHoSo.Modified | date:'HH:mm - d/M/y'"></strong>
                                </small>
                            </div>
                            <div class="col-md text-right">
                                <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctHoSo.Ma && !vm.ctHoSo.Title"
                                    ng-if="vm.flagCanEdit" ladda="vm.btnSave">
                                    <span class="btn-label"><i class="material-icons">check</i></span>
                                    Lưu
                                </button>
                                <a class="btn btn-info" data-ng-if="vm.showDelBtn && !vm.flagCanEdit" href="#/hosovanban/{{vm.ctHoSo.Id}}/sua?action=edit">
                                    <span class="btn-label"><i class="material-icons">edit</i></span> Chỉnh sửa
                                </a>
                                <button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
                                    <span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> 
                                    Quay lại</button>
                            </div>
                        </div>
    
    
                    </div>
                </div>
    
            </div>
    
        </div>
    
    
        <!-- Modal xem trước văn bản -->
        <div class="modal fade" id="modalIframeDoc" tabindex="-1" role="dialog" aria-labelledby="modalIframeDocLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" >
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalIframeDocLabel">Xem văn bản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe ng-src="{{'https://i24h.sharepoint.com/sites/dev2/beta/contruction/cdt/_layouts/15/WopiFrame.aspx?sourcedoc=' + vm.urlVanBanModal + '&amp;action=embedview'}}" width="100%" height="100%" frameborder="0" style="height:70vh">
                    </iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng lại</button>
                    <a ng-href="{{vm.urlVanBanModal}}" class="btn btn-primary" target="_blank">Tải về</a>
                </div>
                </div>
            </div>
        </div><!-- //Modal xem trước văn bản -->
        
    
    </div>