﻿<div data-ng-controller="dsUser as vm">

  <div class="row">
    <div class="col-md-12">
      <section>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Tên</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="u in vm.dsUser">
              <td>{{u.Id}}</td>
              <td>{{u.Title}}</td>
              <td>
                <div data-ng-click="vm.ticketCungDanhMuc(dm)">
                  <a>view&nbsp;items</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </section>

    </div>
  </div>


</div>