<div ng-controller="dsNhaSanXuat as vm">
        <!-- Breadcrumb-->
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header card-header-warning align-middle">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <h4 class="card-title ">Danh sách Nhà sản xuất </h4>
                        </div>
                        <div class="col-md-3 col-sm-12">
                                <a class="btn btn-success pull-right" href="#/nhasanxuat/them"><i class="material-icons">add</i> Thêm nhà sản xuất mới</a>
                        </div>
                    </div>
                    <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>STT</th>
                                <th ng-click="vm.sortData('Title')">
                                    Tên nhà sản xuất
                                    <div ng-class="vm.getSortClass('Title')"></div>
                                </th>
                                <th ng-click="vm.sortData('QuocGia')">
                                    Quốc gia
                                    <div ng-class="vm.getSortClass('QuocGia')"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.dsNhaSanXuat | orderBy:vm.sortColumn:vm.reverse | filter:searchText">
                                <td ng-bind="::$index + 1"></td>
                                <td>
                                    <a ng-href="#/nhasanxuat/{{::item.Id}}">
                                        {{::item.Title}}
                                    </a>
                                </td>
                                <td ng-bind="::item.QuocGia"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
    
        </div>
        <!-- /.conainer-fluid-->
    </div>