<div data-ng-controller="themKhaoSat as vm">

	<div class="row">
		<div class="col-sm-12">
			<div class="card ">
				<div class="card-header card-header-info card-header-icon">
					<div class="card-icon">
						<i class="material-icons">contacts</i>
					</div>
					<h4 class="card-title">Thông tin Nhân viên</h4>
				</div>
				<div class="card-body ">
					<button class="btn btn-primary" type="submit" data-ng-click="vm.TaoCauHoi();"
						ladda="vm.btnSave">
						   <span class="btn-label"><i class="material-icons">check</i></span>
						   Làm khảo sát
					</button>
					<div class="form-group">
						<label> Họ và Tên <span class="text-danger">*</span></label>
						<input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctNhanVien.Title"
						 placeholder="Nhập họ và tên">
					</div>
					<div class="category form-category"><span class="text-danger">*</span> Yêu cầu điền đủ</div>
				</div>
				<div class="card-footer text-right">
					<!-- <button type="submit" class="btn btn-rose">Register</button> -->

					<button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctNhanVien.Title"
					 ladda="vm.btnSave">
						<span class="btn-label"><i class="material-icons">check</i></span>
						Lưu
					</button>
					<button class="btn btn-danger" type="submit" data-ng-if="vm.showDelBtn" ng-confirm-click="Bạn có chắc chắn muốn xóa?"
					 confirmed-click="vm.goDelete()">
						<span class="btn-label"><i class="material-icons">delete</i></span> Xóa
					</button>
					<button class="btn btn-default" type="reset" data-ng-click="vm.goBack();">
						<span class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Quay lại</button>
				</div>
			</div>
		</div>

	</div>

</div>