<div ng-controller="ThuVienCauHoi as vm">
    <!-- Breadcrumb-->

    <div class="animated fadeIn">

        <!-- Bắt đầu vòng lặp danh sách câu hỏi -->
        <div class="card" data-ng-repeat="item in vm.dsThuVienCauHoi">
            <div class="card-header">
                <h4 class="card-title"><span ng-bind="::$index + 1"></span>) <span ng-bind="::item.Title"></span></h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Câu trả lời tùy chọn</th>
                        <th>Hành động</th>
                    </tr>
                    <tr data-ng-repeat="i in item.ThuVienCauTraLoi.results">
                        <td>{{$index + 1}}</td>
                        <td>{{i.TraLoi}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" type="submit" ng-confirm-click="Bạn có chắc chắn muốn xóa?"
                                confirmed-click="vm.goDelTraLoi(i)">
                                <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                            </button>
                        </td>
                    </tr>
                    <tr class="align-middle table-success">
                        <td colspan="2">
                            <div class="form-group">
                                <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="item.TraLoi"
                                    placeholder="Nhập nội dung câu trả lời...">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm m-0" type="submit" data-ng-click="vm.goSaveTraLoi(item);" data-ng-disabled="!item.TraLoi" ladda="vm.btnSave">
                                <span class="btn-label"><i class="material-icons">add</i></span> Thêm
                            </button>
                        </td>
                    </tr>
                </table>
                
                
            </div>
            <div class="card-footer text-right">
                <!-- <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctThuVienCauHoi.Title"
                    ladda="vm.btnSave">
                    <span class="btn-label"><i class="material-icons">check</i></span>
                    Lưu
                </button>
                <button class="btn btn-danger" type="submit" data-ng-if="vm.showDelBtn" ng-confirm-click="Bạn có chắc chắn muốn xóa?"
                    confirmed-click="vm.goDelete()">
                    <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                </button> -->
            </div>
        </div>
        <!-- Kết thúc vòng lặp danh sách câu hỏi -->

        <div class="card">
            <div class="card-header card-header-warning align-middle">
                    <h4 class="card-title ">Thêm câu hỏi mới</h4>
                <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label> Câu hỏi <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required="true" aria-required="true" data-ng-model="vm.ctThuVienCauHoi.Title"
                        placeholder="Nhập nội dung câu hỏi...">
                </div>
                <div class="form-group">
                    <label>Có hiển thị?</label>
                    <select class="form-control" ng-model="vm.ctThuVienCauHoi.Status">
                        <option value="Disable" ng-selected="!vm.ctThuVienCauHoi.Status">Ẩn</option>
                        <option value="Active">Hiện</option>
                    </select>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary" type="submit" data-ng-click="vm.goSave();" data-ng-disabled="!vm.ctThuVienCauHoi.Title"
                    ladda="vm.btnSave">
                    <span class="btn-label"><i class="material-icons">check</i></span>
                    Lưu
                </button>
                <button class="btn btn-danger" type="submit" data-ng-if="vm.showDelBtn" ng-confirm-click="Bạn có chắc chắn muốn xóa?"
                    confirmed-click="vm.goDelete()">
                    <span class="btn-label"><i class="material-icons">delete</i></span> Xóa
                </button>
            </div>
        </div>

    </div>
    <!-- /.conainer-fluid-->
</div>